unpackaged/main/default/flows/Case_Update_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>Si la valeur du champ &quot;Place of intervention&quot; est &quot;site client&quot; reprend l&#39;adresse d&#39;exploitation du compte client S. Si autre adresse, saisir l&#39;adresse</description>
    <interviewLabel>Case_Update_Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_Update_Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>176</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseAddress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseAddress</name>
        <label>UpdateCaseAddress</label>
        <locationX>372</locationX>
        <locationY>322</locationY>
        <inputAssignments>
            <field>Code_postal__c</field>
            <value>
                <elementReference>GetAccount.CodePostalExploitation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pays__c</field>
            <value>
                <elementReference>GetAccount.PaysExploitation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rue_Lieu__c</field>
            <value>
                <elementReference>GetAccount.Ligne1Exploitation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ville__c</field>
            <value>
                <elementReference>GetAccount.VilleExploitation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lieu_d_intervention__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Recordtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Depannage_UK</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
