unpackaged/main/default/flows/ChangeFrameworkAgreementNameatCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_NameAccordCadre</name>
        <label>Set_NameAccordCadre</label>
        <locationX>1428</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFrameworkAgreement</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetNameCGL</name>
        <label>SetNameCGL</label>
        <locationX>832</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameCGL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>WhichRTfortheRecord</name>
        <label>Which RT for the Record ?</label>
        <locationX>1096</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CGL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CGL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNameCGL</targetReference>
            </connector>
            <label>CGL</label>
        </rules>
        <rules>
            <name>FrameworkAgreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NameAccordCadre</targetReference>
            </connector>
            <label>Framework Agreement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NameCGL</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;CGL&quot;+&quot; &quot;+&quot;-&quot;+&quot; &quot;+{!$Record.Organisation_Commerciale__r.Name} +&quot; &quot;+&quot;-&quot;+&quot; &quot;+TEXT(TODAY()),80)</expression>
    </formulas>
    <formulas>
        <name>NameFrameworkAgreement</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;Accord-Cadre&quot;+&quot; &quot;+&quot;-&quot;+&quot; &quot;+IF({!$Record.Compte__r.Name} &lt;&gt; &quot;&quot;, {!$Record.Compte__r.Name},{!$Record.Groupement__r.Name})  +&quot; &quot;+&quot;-&quot;+&quot; &quot;+TEXT(TODAY()),80)</expression>
    </formulas>
    <interviewLabel>ChangeFrameworkAgreementNameatCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChangeFrameworkAgreementNameatCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>WhichRTfortheRecord</targetReference>
        </connector>
        <object>Framework_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
