unpackaged/main/default/flows/CloneOpportunityMeuble.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddVars_Lien_de_document_de_contenu</name>
        <label>AddVars Lien de document de contenu</label>
        <locationX>477</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Var_Liendedocumentdecontenu.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentDocLoop.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Liendedocumentdecontenu.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloneOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Liendedocumentdecontenu.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentDocLoop.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Liendedocumentdecontenu.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentDocLoop.Visibility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lien_de_document_de_contenu_Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lien_de_document_de_contenu_Add_To_Collection</name>
        <label>Lien de document de contenu  : Add To Collection</label>
        <locationX>677</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>Var_Lien_Document_Contenu_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_Liendedocumentdecontenu</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContentDocLoop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FlowVar_CloneOpportunity_Screen_01</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_CloneOpportunity_Screen_01}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_CloneOpportunity_Screen_01_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_CloneOpportunity_Screen_01_2}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_CloneOpportunity_Screen_01_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_CloneOpportunity_Screen_01_3}</expression>
    </formulas>
    <formulas>
        <name>Icon_Confirmation</name>
        <dataType>String</dataType>
        <expression>&quot;IMAGE($Setup.PictogrammesClassification__c.Icon_confirmation__c,&#39;Confirmation&#39;,30,30)&quot;</expression>
    </formulas>
    <interviewLabel>CloneOpportunityMeuble {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloneOpportunityMeuble</label>
    <loops>
        <name>ContentDocLoop</name>
        <label>ContentDocLoop</label>
        <locationX>478</locationX>
        <locationY>263</locationY>
        <collectionReference>GetContentDocLinktest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddVars_Lien_de_document_de_contenu</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloneDocument</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CloneDocument</name>
        <label>CloneDocument</label>
        <locationX>777</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>ScreenSucces</targetReference>
        </connector>
        <inputReference>Var_Lien_Document_Contenu_Collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CloneOpportunity</name>
        <label>CloneOpportunity</label>
        <locationX>288</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>GetContentDocLinktest</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencePF__c</field>
            <value>
                <elementReference>GetOpportunity.AgencePF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>GetOpportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>GetOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateClotureEffective__c</field>
            <value>
                <elementReference>GetOpportunity.DateClotureEffective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateSignatureContrat__c</field>
            <value>
                <elementReference>GetOpportunity.DateSignatureContrat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Livraison__c</field>
            <value>
                <elementReference>GetOpportunity.Date_Livraison__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Reprise__c</field>
            <value>
                <elementReference>GetOpportunity.Date_Reprise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionDemande__c</field>
            <value>
                <elementReference>GetOpportunity.DescriptionDemande__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DureeContrat__c</field>
            <value>
                <elementReference>GetOpportunity.DureeContrat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif_de_refus__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_Operation_Global__c</field>
            <value>
                <elementReference>GetOpportunity.Nom_Operation_Global__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_mois_de_caution__c</field>
            <value>
                <elementReference>GetOpportunity.Nombre_de_mois_de_caution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaysRegionPF__c</field>
            <value>
                <elementReference>GetOpportunity.PaysRegionPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>GetOpportunity.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GetOpportunity.SalesAreaData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sans_Concurrent__c</field>
            <value>
                <elementReference>GetOpportunity.Sans_Concurrent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - Opportunité créée</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeContrat__c</field>
            <value>
                <elementReference>GetOpportunity.TypeContrat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeProduits__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Validee_Commerce__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContentDocLinktest</name>
        <label>GetContentDocLinktest</label>
        <locationX>478</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentDocLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>187</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CloneOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenSucces</name>
        <label>Screen Succès</label>
        <locationX>777</locationX>
        <locationY>483</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_succes</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!FlowVar_CloneOpportunity_Screen_01}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://greenforce--uat--c.sandbox.vf.force.com/resource/1580562712000/Icon_Confirmation?&quot; alt=&quot;Icon_Confirmation (128×128)&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!FlowVar_CloneOpportunity_Screen_01_2}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!CloneOpportunity}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(65, 148, 221);&quot;&gt;&lt;strong&gt;&lt;u&gt;{!FlowVar_CloneOpportunity_Screen_01_3}&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>61</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Clone - {!GetOpportunity.Name}</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Lien_Document_Contenu_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Var_Liendedocumentdecontenu</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
