unpackaged/main/default/flows/Commerce_05_NoeudOnwer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Noeuds_Vide</name>
        <label>Noeuds Vide</label>
        <locationX>640</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LesNoeuds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Vide</label>
        </rules>
        <rules>
            <name>Non_vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LesNoeuds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner</targetReference>
            </connector>
            <label>Non vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Noeuds_Vide_0</name>
        <label>Noeuds Vide</label>
        <locationX>632</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Vide_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LesNoeuds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Vide</label>
        </rules>
        <rules>
            <name>Non_vide_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LesNoeuds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner_0</targetReference>
            </connector>
            <label>Non vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ultimate</name>
        <label>Ultimate?</label>
        <locationX>246</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Ultimate_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_X.UltimateAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_NOEUDS_1</targetReference>
            </connector>
            <label>Ultimate NULL</label>
        </rules>
        <rules>
            <name>Ultimate_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_X.UltimateAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_NOEUDS_0</targetReference>
            </connector>
            <label>Ultimate Not NULL</label>
        </rules>
    </decisions>
    <description>Le propriétaire du dernier noeud crée devient le propriétaire de tous les noeuds de la hiérarchie</description>
    <formulas>
        <name>VAR_RecordTypeId_Noeud</name>
        <dataType>String</dataType>
        <expression>{!$Label.ACC_RecordTypeId_CompteNoeud}</expression>
    </formulas>
    <interviewLabel>Commerce_05_NoeudOnwer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Commerce_05_NoeudOnwer</label>
    <loops>
        <name>Update_owner</name>
        <label>Update owner</label>
        <locationX>826</locationX>
        <locationY>103</locationY>
        <assignNextValueToReference>Noeud</assignNextValueToReference>
        <collectionReference>LesNoeuds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UPDATE_NOEUD</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Update_owner_0</name>
        <label>Update owner</label>
        <locationX>906</locationX>
        <locationY>452</locationY>
        <assignNextValueToReference>Noeud</assignNextValueToReference>
        <collectionReference>LesNoeuds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UPDATE_NOEUD_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ultimate_account_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>GET the updated account</description>
        <name>GET_Compte_X</name>
        <label>GET Compte X</label>
        <locationX>51</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ultimate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account_X</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>UltimateAccount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_NOEUDS_0</name>
        <label>GET NOEUDS</label>
        <locationX>491</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Noeuds_Vide_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_RecordTypeId_Noeud</elementReference>
            </value>
        </filters>
        <filters>
            <field>UltimateAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_X.UltimateAccount__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>LesNoeuds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>UltimateAccount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>X is the ultimate account</description>
        <name>GET_NOEUDS_1</name>
        <label>GET NOEUDS 1</label>
        <locationX>492</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Noeuds_Vide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_RecordTypeId_Noeud</elementReference>
            </value>
        </filters>
        <filters>
            <field>UltimateAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_X.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>LesNoeuds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>UltimateAccount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_NOEUD</name>
        <label>UPDATE NOEUD</label>
        <locationX>1167</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Update_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Noeud.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Account_X.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_NOEUD_0</name>
        <label>UPDATE NOEUD</label>
        <locationX>1185</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Update_owner_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Noeud.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Account_X.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ultimate_account_Owner</name>
        <label>Update Ultimate account Owner</label>
        <locationX>902</locationX>
        <locationY>631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_X.UltimateAccount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_RecordTypeId_Noeud</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Account_X.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>GET_Compte_X</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_X</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LesNoeuds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Noeud</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
