unpackaged/main/default/flows/CommandLineCreationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>803</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>OrdersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterIncrement</name>
        <label>IncrementCounter</label>
        <locationX>967</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>loopVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_CurrentOrder</name>
        <label>Create CurrentOrder</label>
        <locationX>967</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>CurrentOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrder.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrder.Parc_renouvele__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReParc.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Créée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrder.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Synched_Quote_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Commande_Fournisseur_RecordtypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CounterIncrement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Loop</name>
        <label>Initialize Loop</label>
        <locationX>763</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>loopVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OLDOrders_sizee</name>
        <label>OLDOrders size</label>
        <locationX>208</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>OLDOrders_size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OLDOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuantityISNotNULL_attribution_0</name>
        <label>QuantityISNotNULL attribution</label>
        <locationX>498</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>TheQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunity.Quantite__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuantityISNULL_attribution</name>
        <label>QuantityISNULL attribution</label>
        <locationX>349</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>TheQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nombre_de_parcs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_id_attribution_if_doesnt_exist</name>
        <label>Quote id attribution if doesnt exist</label>
        <locationX>697</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>Synched_Quote_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_id_attribution_if_exist</name>
        <label>Quote id attribution if exist</label>
        <locationX>646</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Synched_Quote_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Synched_quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_I_create</name>
        <label>Can I create</label>
        <locationX>499</locationX>
        <locationY>466</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nombre_de_parcs</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LIMIT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Synched_quote</targetReference>
            </connector>
            <label>true</label>
        </rules>
        <rules>
            <name>FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nombre_de_parcs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LIMIT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Limit</targetReference>
            </connector>
            <label>FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>LoopCounter</name>
        <label>LoopCounter</label>
        <locationX>873</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Still_less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVar</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Nombre_de_parcs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Numeros_de_parcs</targetReference>
            </connector>
            <label>Still less</label>
        </rules>
        <rules>
            <name>Counter_done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Nombre_de_parcs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mass_Create_Orders</targetReference>
            </connector>
            <label>Counter done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_is_null</name>
        <label>Quantity is null</label>
        <locationX>341</locationX>
        <locationY>699</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Isnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Quantite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuantityISNULL_attribution</targetReference>
            </connector>
            <label>Isnull</label>
        </rules>
        <rules>
            <name>Is_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunity.Quantite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuantityISNotNULL_attribution_0</targetReference>
            </connector>
            <label>Is not</label>
        </rules>
    </decisions>
    <decisions>
        <name>quote_what_to_do</name>
        <label>quote what to do</label>
        <locationX>467</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>quote_null_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Synched_quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_id_attribution_if_doesnt_exist</targetReference>
            </connector>
            <label>quote_null_true</label>
        </rules>
        <rules>
            <name>quote_null_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Synched_quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_id_attribution_if_exist</targetReference>
            </connector>
            <label>quote_null_false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_size</name>
        <label>Verify size</label>
        <locationX>645</locationX>
        <locationY>640</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>inf</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OLDOrders_size</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetOpportunity.Quantite__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OLDOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_I_create</targetReference>
            </connector>
            <label>inf</label>
        </rules>
        <rules>
            <name>sup_ou_egale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OLDOrders_size</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetOpportunity.Quantite__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Stop</targetReference>
            </connector>
            <label>sup ou egale</label>
        </rules>
    </decisions>
    <description>Mass creation
OrdersIn checked
Screen if nb orders = Quantity
Case quantity is null
GFC-764</description>
    <dynamicChoiceSets>
        <name>ParcListScreen2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0123X000000XN7RQAW</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParcLookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FlowVarCommandLine_TextStop1</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVarCommandLine_TextStop1}</expression>
    </formulas>
    <formulas>
        <name>FlowVarCommandLine_TextStop2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVarCommandLine_TextStop2}</expression>
    </formulas>
    <formulas>
        <name>LIMIT</name>
        <dataType>Number</dataType>
        <expression>{!TheQuantity} - {!OLDOrders_size}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalOrdersSize</name>
        <dataType>Number</dataType>
        <expression>{!OLDOrders_size} + {!NewOrders_size}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CommandeLineCreationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CommandLineCreationFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Mass_Create_Orders</name>
        <label>Mass Create Orders</label>
        <locationX>1176</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>OppUpdate</targetReference>
        </connector>
        <inputReference>OrdersToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Synched_quote</name>
        <label>GET Synched quote</label>
        <locationX>478</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>quote_what_to_do</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Synchronise__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>210</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nombre_de_v_hicules_renouveler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrder</label>
        <locationX>212</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>OLDOrders</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>OppUpdate</name>
        <label>OppUpdate</label>
        <locationX>1679</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrdersIn__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quantity</name>
        <label>Update quantity</label>
        <locationX>355</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Can_I_create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantite__c</field>
            <value>
                <elementReference>Nombre_de_parcs</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>BeginCommandLine</name>
        <label>BeginCommandLine</label>
        <locationX>212</locationX>
        <locationY>274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
        <fields>
            <name>BeginText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowVarCommandLine_Screen1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Limit</name>
        <label>Ecran_Limit</label>
        <locationX>661</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>texteChelou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowVarCommandLine_LimitTexte1}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowVarCommandLine_LimitTexte2}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Stop</name>
        <label>Ecran_Stop</label>
        <locationX>764</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TExte_Stop</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!FlowVarCommandLine_TextStop1}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!FlowVarCommandLine_TextStop2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>1544</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowVarCommandLine_LastScreen}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nombre_de_v_hicules_renouveler</name>
        <label>Nombre de véhicules à renouveler</label>
        <locationX>73</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OLDOrders_sizee</targetReference>
        </connector>
        <fields>
            <name>Nombre_de_parcs</name>
            <dataType>Number</dataType>
            <fieldText>Nombre de parcs à renouveler</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Numeros_de_parcs</name>
        <label>Numéros de parcs</label>
        <locationX>964</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_CurrentOrder</targetReference>
        </connector>
        <fields>
            <name>textecounter</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Label.FlowVarCommandLine_CreationNumero} {!loopVar}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReParc</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parc renouvelé</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Parc__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>88</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>BeginCommandLine</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>loopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewOrders_size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OLDOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OLDOrders_size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OrdersToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Synched_Quote_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TheQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
