unpackaged/main/default/flows/Create_Accord_Cadre_From_CGL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Accord_Cadre</name>
        <label>Navigate to Accord Cadre</label>
        <locationX>2038</locationX>
        <locationY>869</locationY>
        <actionName>c:navigateToAccount</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newAccordCadre.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToAccount</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Attribuer les valeurs Devises et Pourcentages</description>
        <name>Assign_AC_values_to_variable</name>
        <label>Assign AC values to variable</label>
        <locationX>1105</locationX>
        <locationY>874</locationY>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_avec_tiers_Thermique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_avec_tiers_thermique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_avec_tiers_Thermique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_avec_tiers_thermique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_avec_tiers_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_avec_tiers_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_avec_tiers_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_avec_tiers_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_avec_tiers_Semi_remorque__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_avec_tiers_Semi_remorque_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_sans_tiers_Thermique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_sans_tiers_Thermique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_sans_tiers_Thermique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_sans_tiers_Thermique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_sans_tiers_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_sans_tiers_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_sans_tiers_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_sans_tiers_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_sans_tiers_Semi_remorque__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_sans_tiers_Semi_remorque_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Degradations_vandalisme_Thermique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Degradations_vandalisme_Thermique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Degradations_vandalisme_Thermique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Degradations_vandalisme_Thermique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Degradations_vandalisme_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Degradations_vandalisme_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Degradations_vandalisme_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Degradations_vandalisme_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Degradations_vandalisme_Semi_remorque__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Degradations_vandalisme_Semi_remorque_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Vol_et_incendie_Thermique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vol_et_incendie_Thermique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Vol_et_incendie_Thermique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vol_et_incendie_Thermique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Vol_et_incendie_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vol_et_incendie_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Vol_et_incendie_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vol_et_incendie_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Vol_et_incendie_Semi_remorque__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vol_et_incendie_Semi_remorque_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Mise_en_portefeuille_Semi_avec_tiers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mise_en_portefeuille_Semi_avec_tiers_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Mise_en_portefeuille_Semi_sans_tiers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mise_en_portefeuille_Semi_sans_tiers_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_x_de_la_VRADE_Thermique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_x_de_la_VRADE_Thermique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_x_de_la_VRADE_Thermique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_x_de_la_VRADE_Thermique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_x_de_la_VRADE_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_x_de_la_VRADE_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_x_de_la_VRADE_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_x_de_la_VRADE_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Accident_x_de_la_VRADE_Semi_remorque__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accident_x_de_la_VRADE_Semi_remorque_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Bris_de_glace_Thermique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bris_de_glace_Thermique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Bris_de_glace_Thermique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bris_de_glace_Thermique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Bris_de_glace_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bris_de_glace_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Bris_de_glace_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bris_de_glace_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Bris_de_glace_Semi_remorque__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bris_de_glace_Semi_remorque_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_hauteur_perte_totale_Thermique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_hauteur_perte_totale_Thermique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_hauteur_perte_totale_Thermique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_hauteur_perte_totale_Thermique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_hauteur_perte_totale_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_hauteur_perte_totale_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_hauteur_perte_totale_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_hauteur_perte_totale_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_hauteur_perte_totale_Semi_remorque__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_hauteur_perte_totale_Semi_remorque_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_en_partie_basse_Thermique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_en_partie_basse_Thermique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_en_partie_basse_Thermique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_en_partie_basse_Thermique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_en_partie_basse_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_en_partie_basse_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_en_partie_basse_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_en_partie_basse_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Choc_en_partie_basse_Semi_remorque__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choc_en_partie_basse_Semi_remorque_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Smart_Cable_Electrique_VL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smart_Cable_Electrique_VL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Smart_Cable_Electrique_PL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Smart_Cable_Electrique_PL_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Frais_de_gestion_PV_amende__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frais_de_gestion_PV_amende_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Frais_de_gestion_PV_autre_infraction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frais_de_gestion_PV_autre_infraction_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Frais_administratif_gestion_de_sinistre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frais_administratif_gestion_de_sinistre_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Perte_Totale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Perte_Totale_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Plafond_indexation_loyers_KM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plafond_d_indexation_des_loyers_et_KM_perct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Limite_indexation_loyers_KM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Limite_d_indexation_des_loyers_et_KM_perct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Depot_de_garantie_OBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Depot_garantie_OBU_curr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accord_Cadre_CD_MD_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Compte_and_Groupement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_groupement_compte_var</name>
        <label>Assign groupement compte var</label>
        <locationX>1412</locationX>
        <locationY>591</locationY>
        <assignmentItems>
            <assignToReference>check_compte_groupement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Accord_Cadre_Informations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepopulate_screen_fields</name>
        <label>Prepopulate screen fields</label>
        <locationX>1100</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>newAccordCadre.Organisation_Commerciale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CGL_precedente.Organisation_Commerciale__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccordCadre.Type_duree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CGL_precedente.Type_duree__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Accord_Cadre_Informations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Compte_and_Groupement</name>
        <label>Check Compte and Groupement</label>
        <locationX>1403</locationX>
        <locationY>874</locationY>
        <defaultConnector>
            <targetReference>Create_new_Accord_Cadre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Groupement_and_Groupement_not_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newAccordCadre.Compte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newAccordCadre.Groupement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_groupement_compte_var</targetReference>
            </connector>
            <label>Groupement and Groupement not filled</label>
        </rules>
    </decisions>
    <description>Création d’un Accord-cadre depuis une CGL
US 2873</description>
    <dynamicChoiceSets>
        <name>CoefficientFranchiseInterimaires_plchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CoefficientFranchiseInterimaires__c</picklistField>
        <picklistObject>Framework_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CoefficientMontantFranchise21Ans_plchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CoefficientMontantFranchise21Ans__c</picklistField>
        <picklistObject>Framework_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>nom_indice_indexation_picklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Nom_indice_indexation_Loyers_KM__c</picklistField>
        <picklistObject>Framework_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_contrat_variable</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type_duree__c</picklistField>
        <picklistObject>Framework_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Accord Cadre From CGL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Accord Cadre From CGL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Accord_Cadre</name>
        <label>Create new Accord Cadre</label>
        <locationX>1768</locationX>
        <locationY>868</locationY>
        <connector>
            <targetReference>Navigate_to_Accord_Cadre</targetReference>
        </connector>
        <inputReference>newAccordCadre</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accord_Cadre_CD_MD_Record_Type</name>
        <label>Get Accord Cadre CD MD Record Type</label>
        <locationX>1100</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepopulate_screen_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AC_CD_MD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CGL_precedente</name>
        <label>Get CGL précédente</label>
        <locationX>1097</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accord_Cadre_CD_MD_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Framework_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type_duree__c</queriedFields>
        <queriedFields>Organisation_Commerciale__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enter_Accord_Cadre_Informations</name>
        <label>Enter Accord Cadre Informations</label>
        <locationX>1100</locationX>
        <locationY>613</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_AC_values_to_variable</targetReference>
        </connector>
        <fields>
            <name>Enter_Accord_Cadre_Informations_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Accord_Cadre_Informations_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Validite_DatedeDebut__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Date_de_signature_Accord_Cadre__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Accord_Cadre_Informations_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Validite_DatedeFin__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Accord_Cadre_Informations_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Accord_Cadre_Informations_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Organisation_Commerciale__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Accord_Cadre_Informations_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Type_duree__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>compte_groupement_required</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 18, 18);&quot;&gt;Veuillez remplir soit le Groupement, soit le Compte pour pouvoir créer un Accord Cadre.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>check_compte_groupement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Accord_Cadre_Informations_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Accord_Cadre_Informations_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Groupement__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Accord_Cadre_Informations_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Compte__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Enter_Accord_Cadre_Informations_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Accord_Cadre_Informations_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectionner_sections_text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Sélectionner une ou plusieurs sections dans lesquelles la CGL est dérogées&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Assurance_cb</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Assurance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Personnel_Conducteur_cb</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Personnel Conducteur</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Condition_Financiere_cb</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Condition Financière</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Accord_Cadre_Informations_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assurance_section</name>
            <fieldText>Assurance</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assurance_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Accident_avec_tiers_thermique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_avec_tiers_Thermique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident avec tiers - thermique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_avec_tiers_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_avec_tiers_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident avec tiers - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_sans_tiers_Thermique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_sans_tiers_Thermique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident sans tiers - Thermique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_sans_tiers_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_sans_tiers_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident sans tiers - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_avec_tiers_Semi_remorque_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_avec_tiers_Semi_remorque__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident avec tiers - Semi-remorque</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Degradations_vandalisme_Thermique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Degradations_vandalisme_Thermique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Dégradations/vandalisme - Thermique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Degradations_vandalisme_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Degradations_vandalisme_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Dégradations/vandalisme - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Degradations_vandalisme_Semi_remorque_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Degradations_vandalisme_Semi_remorque__c</elementReference>
                    </defaultValue>
                    <fieldText>Dégradations/vandalisme - Semi-remorque</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Vol_et_incendie_Thermique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Vol_et_incendie_Thermique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Vol et incendie - Thermique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Vol_et_incendie_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Vol_et_incendie_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Vol et incendie - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Mise_en_portefeuille_Semi_avec_tiers_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Mise_en_portefeuille_Semi_avec_tiers__c</elementReference>
                    </defaultValue>
                    <fieldText>Mise en portefeuille - Semi avec tiers</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_x_de_la_VRADE_Thermique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_x_de_la_VRADE_Thermique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident x% de la VRADE - Thermique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_x_de_la_VRADE_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_x_de_la_VRADE_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident x% de la VRADE  - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_x_de_la_VRADE_Semi_remorque_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_x_de_la_VRADE_Semi_remorque__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident x% de la VRADE - Semi-remorque</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Bris_de_glace_Thermique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Bris_de_glace_Thermique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Bris de glace - Thermique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Bris_de_glace_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Bris_de_glace_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Bris de glace - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_hauteur_perte_totale_Thermique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_hauteur_perte_totale_Thermique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc hauteur perte totale - Thermique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_hauteur_perte_totale_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_hauteur_perte_totale_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc hauteur perte totale - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_hauteur_perte_totale_Semi_remorque_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_hauteur_perte_totale_Semi_remorque__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc hauteur perte totale - Semi-remorque</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_en_partie_basse_Thermique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_en_partie_basse_Thermique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc en partie basse - Thermique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_en_partie_basse_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_en_partie_basse_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc en partie basse - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Smart_Cable_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Smart_Cable_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Smart Cable - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Frais_de_gestion_PV_amende_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Frais_de_gestion_PV_amende__c</elementReference>
                    </defaultValue>
                    <fieldText>Frais de gestion PV - amende</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Frais_administratif_gestion_de_sinistre_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Frais_administratif_gestion_de_sinistre__c</elementReference>
                    </defaultValue>
                    <fieldText>Frais administratif gestion de sinistre</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Regle_date_indexation_Franchises__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Indexation_franchises__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assurance_section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Accident_avec_tiers_thermique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_avec_tiers_Thermique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident avec tiers - thermique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_avec_tiers_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_avec_tiers_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident avec tiers - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_sans_tiers_Thermique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_sans_tiers_Thermique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident sans tiers - Thermique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_sans_tiers_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_sans_tiers_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident sans tiers - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_sans_tiers_Semi_remorque_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_sans_tiers_Semi_remorque__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident sans tiers - Semi-remorque</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Degradations_vandalisme_Thermique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Degradations_vandalisme_Thermique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Dégradations/vandalisme - Thermique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Degradations_vandalisme_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Degradations_vandalisme_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Dégradations/vandalisme - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Vol_et_incendie_Thermique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Vol_et_incendie_Thermique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Vol et incendie - Thermique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Vol_et_incendie_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Vol_et_incendie_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Vol et incendie - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Vol_et_incendie_Semi_remorque_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Vol_et_incendie_Semi_remorque__c</elementReference>
                    </defaultValue>
                    <fieldText>Vol et incendie - Semi-remorque</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Mise_en_portefeuille_Semi_sans_tiers_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Mise_en_portefeuille_Semi_sans_tiers__c</elementReference>
                    </defaultValue>
                    <fieldText>Mise en portefeuille - Semi sans tiers</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_x_de_la_VRADE_Thermique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_x_de_la_VRADE_Thermique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident x% de la VRADE  - Thermique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Accident_x_de_la_VRADE_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Accident_x_de_la_VRADE_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Accident x% de la VRADE - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Bris_de_glace_Thermique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Bris_de_glace_Thermique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Bris de glace - Thermique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Bris_de_glace_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Bris_de_glace_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Bris de glace - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Bris_de_glace_Semi_remorque_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Bris_de_glace_Semi_remorque__c</elementReference>
                    </defaultValue>
                    <fieldText>Bris de glace - Semi-remorque</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_hauteur_perte_totale_Thermique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_hauteur_perte_totale_Thermique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc hauteur perte totale - Thermique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_hauteur_perte_totale_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_hauteur_perte_totale_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc hauteur perte totale - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_en_partie_basse_Thermique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_en_partie_basse_Thermique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc en partie basse - Thermique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_en_partie_basse_Electrique_VL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_en_partie_basse_Electrique_VL__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc en partie basse - Electrique VL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Choc_en_partie_basse_Semi_remorque_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Choc_en_partie_basse_Semi_remorque__c</elementReference>
                    </defaultValue>
                    <fieldText>Choc en partie basse - Semi-remorque</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Smart_Cable_Electrique_PL_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Smart_Cable_Electrique_PL__c</elementReference>
                    </defaultValue>
                    <fieldText>Smart Cable - Electrique PL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Frais_de_gestion_PV_autre_infraction_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Frais_de_gestion_PV_autre_infraction__c</elementReference>
                    </defaultValue>
                    <fieldText>Frais de gestion PV - autre infraction</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Perte_Totale_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Perte_Totale__c</elementReference>
                    </defaultValue>
                    <fieldText>Perte Totale</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Assurance_cb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Personnel_Conducteur_section</name>
            <fieldText>Personnel Conducteur</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personnel_Conducteur_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Age_maximum_VL__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.CouvertureInterimaires__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.CoefficientFranchiseInterimaires__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Age_minimum_VL__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Type_de_permis_VL__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.AnciennetePermisDeConduire__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personnel_Conducteur_section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Age_maximum_PL__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Couverture_21_ans__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.CoefficientMontantFranchise21Ans__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Age_minimum_PL__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Type_de_permis_PL__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Personnel_Conducteur_cb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Condition_Financiere_section</name>
            <fieldText>Condition Financière</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Condition_Financiere_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Indexation_loyers_KM__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Plafond_d_indexation_des_loyers_et_KM_perct</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Plafond_indexation_loyers_KM__c</elementReference>
                    </defaultValue>
                    <fieldText>Plafond d&#39;indexation des loyers et KM</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Regle_date_indexation_Loyer_KM__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Date_Indexation_loyers_KM__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Depot_garantie_OBU_curr</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Depot_de_garantie_OBU__c</elementReference>
                    </defaultValue>
                    <fieldText>Dépôt de garantie OBU</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Condition_Financiere_section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.PresenceGrille__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Limite_d_indexation_des_loyers_et_KM_perct</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>newAccordCadre.Limite_indexation_loyers_KM__c</elementReference>
                    </defaultValue>
                    <fieldText>Limite d&#39;indexation des loyers et KM</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Nom_indice_indexation_Loyers_KM__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccordCadre.Autre_indice_indexation_loyers_km__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Condition_Financiere_cb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_CGL_precedente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>check_compte_groupement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newAccordCadre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Framework_Agreement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>typeContratPicklistVar</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
