unpackaged/main/default/flows/FlowTrigger_Case_AutoUpdate_ContactCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Cases</name>
        <label>Cases</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Contact_Nom_TEL</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4)) OR ( (5 AND 6)  AND (7 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nom_Chauffeur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Tel_Chauffeur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nom_Chauffeur__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Tel_Chauffeur__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nom_Contact_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Tel_Contact_client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nom_Contact_Client__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Tel_Contact_client__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_ation_contact_Chauffeur</targetReference>
            </connector>
            <label>Contact - Nom &amp; TEL</label>
        </rules>
        <rules>
            <name>Contact_TEL</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Nom_Chauffeur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Tel_Chauffeur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Tel_Chauffeur__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nom_Contact_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Tel_Contact_client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Tel_Contact_client__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_ation_contact_Chauffeur_0</targetReference>
            </connector>
            <label>Contact - TEL</label>
        </rules>
        <rules>
            <name>Chauffeur_est_S_lectionn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Chauffeur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mettre_a_Jour_Requ_te</targetReference>
            </connector>
            <label>Chauffeur est Sélectionné</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parc</name>
        <label>Parc</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agence_Intervenante__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agence_Intervenante__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
        <rules>
            <name>Exist_and_agence_intervenante_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agence_Intervenante__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Update_Case</targetReference>
            </connector>
            <label>Exist and agence intervenante null</label>
        </rules>
    </decisions>
    <description>Auto update case with informations (Account,Agence,Email)
Create contact chauffeur</description>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_Case_AutoUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_Case_AutoUpdate_ContactCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copier_1_sur_Update_Case</name>
        <label>Copier 1 sur Update Case</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Asset.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_Intervenante__c</field>
            <value>
                <elementReference>$Record.Asset.Agence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_proprietaire__c</field>
            <value>
                <elementReference>$Record.Asset.Agence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Email_Agence__c</field>
            <value>
                <elementReference>$Record.Asset.Agence__r.EmailPrincipal__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mettre_a_Jour_Requ_te</name>
        <label>Mettre a Jour Requête</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>N_Tel_Chauffeur__c</field>
            <value>
                <elementReference>$Record.Contact_Chauffeur__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_Chauffeur__c</field>
            <value>
                <elementReference>$Record.Contact_Chauffeur__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Asset.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_proprietaire__c</field>
            <value>
                <elementReference>$Record.Asset.Agence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Email_Agence__c</field>
            <value>
                <elementReference>$Record.Asset.Agence__r.EmailPrincipal__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parc</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Cr_ation_contact_Chauffeur</name>
        <label>Création contact Chauffeur</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <flowName>MOON_24_Contact_Chauffeur</flowName>
        <inputAssignments>
            <name>Boolean_NoContactName</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>N_Tel_Chauffeur</name>
            <value>
                <elementReference>$Record.N_Tel_Chauffeur__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>N_Tel_Contact_Client</name>
            <value>
                <elementReference>$Record.N_Tel_Contact_client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Nom_Contact_Client</name>
            <value>
                <elementReference>$Record.Nom_Contact_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Nomchauffeur</name>
            <value>
                <elementReference>$Record.Nom_Chauffeur__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Cr_ation_contact_Chauffeur_0</name>
        <label>Création contact Chauffeur</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <flowName>MOON_24_Contact_Chauffeur</flowName>
        <inputAssignments>
            <name>Boolean_NoContactName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>N_Tel_Chauffeur</name>
            <value>
                <elementReference>$Record.N_Tel_Chauffeur__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>N_Tel_Contact_Client</name>
            <value>
                <elementReference>$Record.N_Tel_Contact_client__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
