unpackaged/main/default/flows/FlowTrigger_WFC_NotificationDNP_Tarification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Case_01_Check_Status</name>
        <label>Chatter Case 01 : Check Status</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Chatter_MSG_Check_Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Collaboration_Group.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Case_02_Check_Demande_Agrement_Status</name>
        <label>Chatter Case 02 : Check Demande Agrement Status</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Chatter_MSG_Check_Demande_Agrement_Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>WFC_NotificationDNP_Tarification</name>
        <label>WFC_NotificationDNP_Tarification</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Check_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_CheckStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Case_01_Check_Status</targetReference>
            </connector>
            <label>Check status</label>
        </rules>
        <rules>
            <name>Check_demande_agrement_status</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_demande_agrement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réalisée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_demande_agrement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_demande_agrement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Case_02_Check_Demande_Agrement_Status</targetReference>
            </connector>
            <label>Check demande agrément status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Var_CheckStatus</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	OR(
		text({!$Record.DNP_Statut__c}) =  {!$Label.Approuve},
		text({!$Record.DNP_Statut__c})= {!$Label.Rejet}    
	  ),
	NOT(BEGINS(TEXT({!$Record.PaysRegionPF__c}) , &quot;DRO&quot;)),
	NOT(BEGINS(TEXT({!$Record.PaysRegionPF__c}) , &quot;STFR&quot;)),
        ISCHANGED({!$Record.DNP_Statut__c}) 
)</expression>
    </formulas>
    <interviewLabel>FlowTrigger_WFC_NotificationDNP_Tarification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_WFC_NotificationDNP_Tarification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Collaboration_Group</name>
        <label>Get Collaboration Group</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WFC_NotificationDNP_Tarification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>International Pricing Service</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Collaboration_Group</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>VAR_Chatter_MSG_Check_Demande_Agrement_Status</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_WFC_NotificationDNP_Tarification_Chatter_MSG_Case02_01} {!$Record.Owner.LastName} 

{!$Label.OPP_WFC_NotificationDNP_Tarification_Chatter_MSG_Case02_02}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Chatter_MSG_Check_Status</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_WFC_NotificationDNP_Tarification_Chatter_MSG_Case01}  {!$Record.TECHLienSF__c}</text>
    </textTemplates>
</Flow>
