unpackaged/main/default/flows/FlowTrigger_PO_Set_StatutDevis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Nbr_PO</name>
        <label>Nbr PO</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_Nbr_PO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Produit_dopportunite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_statut_Devis</name>
        <label>Set statut Devis</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>boucle.Statut_Devis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Statut__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update</name>
        <label>update</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Collection_PO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>boucle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>boucle</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>Décision</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>PO_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Nbr_PO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>boucle</targetReference>
            </connector>
            <label>PO existe</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_PO_Set_StatutDevis</label>
    <loops>
        <name>boucle</name>
        <label>boucle</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Produit_dopportunite</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_statut_Devis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Statu_Devis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Produit_dopportunite</name>
        <label>Get Produit d&#39;opportunité</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nbr_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Statu_Devis</name>
        <label>Update Statut Devis</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>Collection_PO</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Produit_dopportunite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_PO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Var_Nbr_PO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
