unpackaged/main/default/flows/FlowScreen_CreateSADReways.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigateToTheNewRecord_action_1</name>
        <label>NavigateToTheNewRecord action 1</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <actionName>c:NavigateToTheNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>CreatedSAD_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToTheNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Does_SA_exist</name>
        <label>Does SA exist?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GET_SA_Reways_generique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SA_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_SA_Reways</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_SAD_reways</targetReference>
            </connector>
            <label>SA found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_G_n_rique_exist</name>
        <label>SA Générique exist?</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>NavigateToTheNewRecord_action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesexist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_SA_Reways_generique</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_create_SAD_reways</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SADNAME</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_account.Name} &amp;&quot; &quot;&amp; &quot;-&quot; &amp;&quot; &quot;&amp;{!GET_SA_Reways.Name}, 79)</expression>
    </formulas>
    <formulas>
        <name>SADNAME_GENERIQUE</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_account.Name} &amp;&quot; &quot;&amp; &quot;-&quot; &amp;&quot; &quot;&amp;{!GET_SA_Reways_generique.Name}, 79)</expression>
    </formulas>
    <interviewLabel>FlowScreen_CreateSADReways {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowScreen_CreateSADReways</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copier_1_sur_create_SAD_reways</name>
        <label>create SAD reways générique</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CreatedSAD_ID</assignRecordIdToReference>
        <connector>
            <targetReference>NavigateToTheNewRecord_action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_SA_Reways_generique.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_account.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marque_Picklist__c</field>
            <value>
                <stringValue>Reways</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SADNAME_GENERIQUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFRegion__c</field>
            <value>
                <elementReference>Get_account.PaysRegionPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesArea__c</field>
            <value>
                <elementReference>GET_SA_Reways_generique.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerritorialCommercial__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SalesAreaData__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>create_SAD_reways</name>
        <label>create SAD reways</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>CreatedSAD_ID</assignRecordIdToReference>
        <connector>
            <targetReference>NavigateToTheNewRecord_action_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_SA_Reways.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_account.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marque_Picklist__c</field>
            <value>
                <stringValue>Reways</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SADNAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PFRegion__c</field>
            <value>
                <elementReference>Get_account.PaysRegionPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesArea__c</field>
            <value>
                <elementReference>GET_SA_Reways.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TerritorialCommercial__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SalesAreaData__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_SA_Reways</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SA_Reways</name>
        <label>GET SA Reways</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_SA_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account.Pays__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reways</stringValue>
            </value>
        </filters>
        <filters>
            <field>Org_generique__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SA_Reways_generique</name>
        <label>GET SA Reways Générique</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_G_n_rique_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reways</stringValue>
            </value>
        </filters>
        <filters>
            <field>Org_generique__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedSAD_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
