unpackaged/main/default/flows/FlowTrigger_WFC_Quote_Draft.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>WFC_Quote_Draft</name>
        <label>WFC_Quote_Draft</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>HS_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordTypeId_HorsStandard_Draft</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Draft_to_HS</targetReference>
            </connector>
            <label>HS Draft</label>
        </rules>
        <rules>
            <name>Parc_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordTypeId_Parc_Draft</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Draft_to_Parc</targetReference>
            </connector>
            <label>Parc Draft</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WFC_Quote_Draft {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_WFC Quote Draft</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Draft_to_HS</name>
        <label>Draft to HS</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Quote_RecordTypeId_HorsStandard</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Draft_to_Parc</name>
        <label>Draft to Parc</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Quote_RecordTypeId_Parc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WFC_Quote_Draft</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
