unpackaged/main/default/flows/FlowScreen_Demande_Etude_Hors_Standard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Notification_AR</name>
        <label>Notification AR</label>
        <locationX>912</locationX>
        <locationY>1291</locationY>
        <actionName>SBQQ__Quote__c.Alerte_DemandeEtude</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notification_Equipe_HS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.Alerte_DemandeEtude</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_Equipe_HS</name>
        <label>Notification Equipe HS</label>
        <locationX>1085</locationX>
        <locationY>1290</locationY>
        <actionName>SBQQ__Quote__c.Alerte_Demande_Hors_Standard_Notification_EquipeHS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Ecran_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.Alerte_Demande_Hors_Standard_Notification_EquipeHS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attr</name>
        <label>Attr</label>
        <locationX>170</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote.SBQQ__PrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ContactPrinciapl_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_1_2</name>
        <label>Attribution 1/2</label>
        <locationX>632</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote.Quantites_souhaitees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_X1X2_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Duree_de_location_souhaite_e__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duree_X1X2_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Standard_au_plus_proche__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_X1X2_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Informations_complementaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InfoComp_X1X2_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Statut_de_la_demande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Attente d&#39;approbation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_3</name>
        <label>Attribution 3</label>
        <locationX>856</locationX>
        <locationY>1069</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote.Quantites_souhaitees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_X3_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Duree_de_location_souhaite_e__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duree_X3_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Standard_au_plus_proche__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_X3_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Informations_complementaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InfoComp_X3_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Contraintes_client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contraintes_Client_X3_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Contraintes_techniques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contraintes_techniques_X3_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Statut_de_la_demande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Attente d&#39;approbation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.Demande_tarification_assemblage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tarification_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choix1</name>
        <choiceText>{!$Label.EtudeHS_Question1}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choix2</name>
        <choiceText>{!$Label.EtudeHS_Question2}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choix3</name>
        <choiceText>{!$Label.EtudeHS_Question3}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoixFALSE</name>
        <choiceText>Non</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ChoixTRUE</name>
        <choiceText>Oui</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Non_choix</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Oui_choix</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Contact</name>
        <label>Contact?</label>
        <locationX>735</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Statut_de_la_demande</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Contact_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>ChoixTRUE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_contact_renseigner</targetReference>
            </connector>
            <label>Contact null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Statut_de_la_demande</name>
        <label>Statut de la demande</label>
        <locationX>733</locationX>
        <locationY>488</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>En_cours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Statut_de_la_demande__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_demande_Encours</targetReference>
            </connector>
            <label>En cours</label>
        </rules>
        <rules>
            <name>Refus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Statut_de_la_demande__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_demande_refus</targetReference>
            </connector>
            <label>Refusé</label>
        </rules>
        <rules>
            <name>Vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Statut_de_la_demande__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Screen</targetReference>
            </connector>
            <label>Vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wich_case</name>
        <label>Wich case</label>
        <locationX>757</locationX>
        <locationY>797</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Home_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choix1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_OR_2</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Home_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choix2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_OR_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Home_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choix3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X33</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <description>GFC-1239
GFC-1459</description>
    <dynamicChoiceSets>
        <name>Choix_Standard</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Standard_au_plus_proche__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Tarification_Formula</name>
        <dataType>Boolean</dataType>
        <expression>if({!Tarification_X3_Entry}=={!Oui_choix},TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Demande Hors Standard_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowScreen_Demande Etude Hors Standard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>743</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>169</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>Statut_de_la_demande</targetReference>
        </connector>
        <inputReference>Get_Quote</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote</name>
        <label>Update quote</label>
        <locationX>712</locationX>
        <locationY>1289</locationY>
        <connector>
            <targetReference>Notification_AR</targetReference>
        </connector>
        <inputReference>Get_Quote</inputReference>
    </recordUpdates>
    <screens>
        <name>Ecran_Confirmation</name>
        <label>Ecran_Confirmation</label>
        <locationX>1267</locationX>
        <locationY>1290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>titre1_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 18px;&quot;&gt; Demande Hors Standard &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680Q000003nZVr?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;approve.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 166, 59); font-family: Calibri, sans-serif; font-size: 18px;&quot;&gt;Votre demande a été envoyée avec succès&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 166, 59); font-family: Calibri, sans-serif; font-size: 18px;&quot;&gt;Elle sera étudiée dans les plus brefs délais.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ruler</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Découverte Besoin Client&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_contact_renseigner</name>
        <label>Ecran contact à renseigner</label>
        <locationX>314</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attr</targetReference>
        </connector>
        <fields>
            <name>TexteRefus_1_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680Q000003nZVm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;rejected.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(179, 47, 47); font-size: 20px;&quot;&gt;Merci de renseigner le signataire du contrat.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(179, 47, 47); font-size: 12px;&quot;&gt;(Contact principal du devis)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_principal_Entry</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact principal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SBQQ__PrimaryContact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_ContactPrinciapl_ID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Bar1_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>RED</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_demande_Encours</name>
        <label>Ecran demande en cours</label>
        <locationX>1079</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TexteRefus_1_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680Q000003nZVh?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;pending.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 141, 40); font-size: 20px;&quot;&gt;Votre demande est en cours &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bar1_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Oragne</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_demande_refus</name>
        <label>Ecran demande refusé</label>
        <locationX>451</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TexteRefus_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680Q000003nZVm?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;rejected.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(179, 47, 47);&quot;&gt;Votre demande est refusé &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bar1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>RED</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TexteRefus_2</name>
            <fieldText>&lt;p&gt;Motif : {!Get_Quote.Motif_du_refus__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Home_Screen</name>
        <label>Home_Screen</label>
        <locationX>768</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Wich_case</targetReference>
        </connector>
        <fields>
            <name>Home_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt; Demande Hors Standard &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space1</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Home_Question</name>
            <choiceReferences>Choix1</choiceReferences>
            <choiceReferences>Choix2</choiceReferences>
            <choiceReferences>Choix3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Est ce que votre demande d&#39;étude concerne...</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X1_OR_2</name>
        <label>1 OR 2</label>
        <locationX>638</locationX>
        <locationY>901</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_1_2</targetReference>
        </connector>
        <fields>
            <name>titre1_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 18px;&quot;&gt; Demande Hors Standard &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Duree_X1X2_Entry</name>
            <dataType>Number</dataType>
            <fieldText>Durée de location concernée (Jours) :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quantity_X1X2_Entry</name>
            <dataType>Number</dataType>
            <fieldText>Quantités souhaitées :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Standard_X1X2_Entry</name>
            <choiceReferences>Choix_Standard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quel produit Standard / Hors Standard se rapproche le plus du besoin demandé?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InfoComp_X1X2_Entry</name>
            <fieldText>Avez-vous des informations complémentaire à fournir?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FileUpload_X1X2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Avez-vous des schémas à nous communiquer ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Quote.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Découverte Besoin Client&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X33</name>
        <label>3</label>
        <locationX>861</locationX>
        <locationY>917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attribution_3</targetReference>
        </connector>
        <fields>
            <name>titre1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 18px;&quot;&gt; Demande Hors Standard &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Duree_X3_Entry</name>
            <dataType>Number</dataType>
            <fieldText>Durée de location concernée (Jours) :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Quantity_X3_Entry</name>
            <dataType>Number</dataType>
            <fieldText>Quantités souhaitées :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Standard_X3_Entry</name>
            <choiceReferences>Choix_Standard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quel standard se rapproche le plus du besoin demandé?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contraintes_Client_X3_Entry</name>
            <fieldText>Contraintes liées à l’activité du client : (activité, produit stockés, emplacement extérieur, …)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contraintes_techniques_X3_Entry</name>
            <fieldText>Contraintes techniques requises : (plage de température, dimensions utiles, capacité europalette, surface au sol, ...)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tarification_X3_Entry</name>
            <choiceReferences>Oui_choix</choiceReferences>
            <choiceReferences>Non_choix</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Avez-vous pensé à demander une tarification au service Assemblage?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InfoComp_X3_Entry</name>
            <fieldText>Avez-vous des informations complémentaires à fournir?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Avez-vous des schémas à nous communiquer ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Quote.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Découverte Besoin Client&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Besoin_client</name>
        <isActive>true</isActive>
        <label>Besoin client</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Confirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Info_generales</name>
        <isActive>true</isActive>
        <label>Info générales</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>617</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_ContactPrinciapl_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
