unpackaged/main/default/flows/FlowTrigger_Notifications_date_de_cl_ture_Appel_d_offre.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envoyer_une_publication_Chatter_au_Proprietaire_opportunite</name>
        <label>Envoyer une publication Chatter au Propriétaire de l&#39;opportunité</label>
        <locationX>308</locationX>
        <locationY>648</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Notifications_date_de_cloture_Appel_offre</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_DureeValiditeJours_Not_Null_Chatter_Post</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifications_date_de_cloture_Appel_offre</name>
        <label>Notifications date de clôture Appel d&#39;offre</label>
        <locationX>308</locationX>
        <locationY>768</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VAR_DureeValiditeJours_Not_Null_Send_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Var_OppOwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notifications_date_de_cloture_Appel_offre.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>VAR_DureeValiditeJours_Not_Null_Send_Notification_Title</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Owner_ID</name>
        <label>Add Owner ID</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Var_OppOwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Envoyer_une_publication_Chatter_au_Proprietaire_opportunite</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_Notifications date de clôture Appel d&#39;offre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_Notifications date de clôture Appel d&#39;offre</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notifications_date_de_cloture_Appel_offre</name>
        <label>Get Notifications_date_de_cloture_Appel_offre</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notifications date de clôture Appel d&#39;offre</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Owner_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Duree_de_validite_jours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>After_10_Days_Date_cloture_appel_offre</name>
            <connector>
                <targetReference>Get_Notifications_date_de_cloture_Appel_offre</targetReference>
            </connector>
            <label>After 10 Days : Date_cloture_appel_offre</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>VAR_DureeValiditeJours_Not_Null_Chatter_Post</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_Notifications_Appel_d_offre_Duree_de_Validite_Jours_Not_Null_Chatter_MSG_01} @[{!$Record.OwnerId}],
{!$Label.OPP_Notifications_Appel_d_offre_Duree_de_Validite_Jours_Not_Null_Chatter_MSG_02} {!$Record.Name} {!$Label.OPP_Notifications_Appel_d_offre_Duree_de_Validite_Jours_Not_Null_Chatter_MSG_03}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_DureeValiditeJours_Not_Null_Send_Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_Notifications_Appel_offre_Duree_Validite_Send_Notification_Body_01} {!$Record.Name} {!$Label.OPP_Notifications_Appel_offre_Duree_Validite_Send_Notification_Body_02}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_DureeValiditeJours_Not_Null_Send_Notification_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_Notifications_Appel_offre_Duree_Validite_Send_Notification_Title} {!$Record.Owner.LastName} {!$Record.Owner.FirstName}</text>
    </textTemplates>
    <variables>
        <name>Var_OppOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
