unpackaged/main/default/flows/FlowEcran_CreationLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>attr</name>
        <label>attr</label>
        <locationX>310</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ecran1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DUREE_CD</name>
        <label>DUREE CD</label>
        <locationX>514</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>VAR_DUREE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>De 1 à 25 jours</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DUREE_CD_0</name>
        <label>DUREE CDM</label>
        <locationX>514</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>VAR_DUREE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>De 1 à 12 mois</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DUREE_CD_0_0</name>
        <label>DUREE LD</label>
        <locationX>509</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>VAR_DUREE</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plus de 12 mois</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_tel_mail</name>
        <label>Decision tel &amp; mail</label>
        <locationX>425</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Ecran3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_TEL</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VAR_EMAIL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>attr</targetReference>
            </connector>
            <label>mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duree_location_decision</name>
        <label>Durée location</label>
        <locationX>879</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>CD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DUREE_CD</targetReference>
            </connector>
            <label>CD</label>
        </rules>
        <rules>
            <name>CDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DUREE_CD_0</targetReference>
            </connector>
            <label>CDM</label>
        </rules>
        <rules>
            <name>LD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DUREE_CD_0_0</targetReference>
            </connector>
            <label>LD</label>
        </rules>
    </decisions>
    <description>GFC-731</description>
    <dynamicChoiceSets>
        <name>Duree_choix</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Location__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fonction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Fonction__c</picklistField>
        <picklistObject>Lead</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>DateDuJourPlus7</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <interviewLabel>FlowEcran_CreationLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowEcran_CreationLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_lead</name>
        <label>Create lead</label>
        <locationX>320</locationX>
        <locationY>689</locationY>
        <assignRecordIdToReference>ID_PISTE</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <inputAssignments>
            <field>Besoin__c</field>
            <value>
                <elementReference>Commentaires</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodePostal__c</field>
            <value>
                <elementReference>Code_postale1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Nom_commercial_societe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_rappel__c</field>
            <value>
                <elementReference>Date_de_rappel1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Degre_d_interet__c</field>
            <value>
                <elementReference>Degre_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duree_location_souhaitee__c</field>
            <value>
                <elementReference>VAR_DUREE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>VAR_EMAIL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Prenom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fonction__c</field>
            <value>
                <elementReference>Fonction_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groupement__c</field>
            <value>
                <elementReference>Groupement1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Nom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Prospection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>VAR_TEL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produits__c</field>
            <value>
                <elementReference>Produits_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Lead_RecordTypeId_PF_En_cours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services__c</field>
            <value>
                <elementReference>Service_value</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Ecran1</name>
        <label>Ecran1</label>
        <locationX>193</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_tel_mail</targetReference>
        </connector>
        <fields>
            <name>message_erreur</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(202, 36, 36);&quot;&gt;Vous devez renseigner au moins un de ces deux champs : &lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(202, 36, 36);&quot;&gt;Email&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(202, 36, 36);&quot;&gt;Téléphone&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VAR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Nom_commercial_societe</name>
            <dataType>String</dataType>
            <fieldText>Nom commercial société</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nom</name>
            <dataType>String</dataType>
            <fieldText>Nom</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Prenom</name>
            <dataType>String</dataType>
            <fieldText>Prénom</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fonction_picklist</name>
            <choiceReferences>Fonction</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fonction</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Groupement1</name>
            <dataType>String</dataType>
            <fieldText>Groupement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone1</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Téléphone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_TEL</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Email1</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_EMAIL</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Code_postale1</name>
            <dataType>String</dataType>
            <fieldText>Code postale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Commentaires</name>
            <fieldText>Commentaires</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_de_rappel1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DateDuJourPlus7</elementReference>
            </defaultValue>
            <fieldText>Date de rappel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran3</name>
        <label>Ecran3</label>
        <locationX>621</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ecran4</targetReference>
        </connector>
        <fields>
            <name>Duree</name>
            <choiceReferences>Duree_choix</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Durée de location :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Degree_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(95, 92, 92);&quot;&gt;Degré d&#39;intérêt :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Degre_interet</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Degre_d_interet__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>x-large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Degre_Value</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran4</name>
        <label>Ecran4</label>
        <locationX>938</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Duree_location_decision</targetReference>
        </connector>
        <fields>
            <name>Produits</name>
            <fieldText>&lt;p&gt;Produits :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Produits_picklist</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Produits__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Non Coverable Content</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>x-large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideText</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDescription</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Produits_Value</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Services</name>
            <fieldText>&lt;p&gt;Services :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Services_picklist</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Services__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>x-Large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>Non Coverable Content</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Service_value</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>115</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Texte</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Votre piste est crée&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--sandboxdev--c.documentforce.com/sfc/servlet.shepherd/version/download/0680Q000001GQCw?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Redirect_0</name>
            <extensionName>c:RedirectFlowLightning</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>ID_PISTE</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Contact</name>
        <isActive>true</isActive>
        <label>Contact</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Interet</name>
        <isActive>true</isActive>
        <label>Intérêt</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Prospect</name>
        <isActive>true</isActive>
        <label>Prospect</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>70</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Ecran1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Degre_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Duree_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_PISTE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Produits_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Produits_Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Services_Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VAR_DUREE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_EMAIL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_TEL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
