unpackaged/main/default/flows/FlowTrigger_Alerte_GetEquipement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Equipement_exist</name>
        <label>Equipement exist</label>
        <locationX>686</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Equipement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_alerte</targetReference>
            </connector>
            <label>exist</label>
        </rules>
    </decisions>
    <description>GFS-1092</description>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_Alerte_GetEquipement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_Alerte_GetEquipement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Equipement</name>
        <label>GET Equipement</label>
        <locationX>523</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Equipement_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parc__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Parc_Equipement_RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>HAYON</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Id_alerte</name>
        <label>Update Account Id : alerte</label>
        <locationX>395</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>GET_Equipement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Nom_Commercial_Client_LookUp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Nom_Commercial_Client_LookUp__c</field>
            <value>
                <elementReference>$Record.Parc__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_alerte</name>
        <label>Update alerte</label>
        <locationX>892</locationX>
        <locationY>298</locationY>
        <inputAssignments>
            <field>Equipement__c</field>
            <value>
                <elementReference>GET_Equipement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Account_Id_alerte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parc__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Alerte__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
