unpackaged/main/default/flows/FlowTrigger_OPP_ValidationStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_01_Chatter_Pies</name>
        <label>Case 01 : Chatter Pies</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_05_OPP_ValidationStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case04</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Chatter_Group.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_01_Notification_Chatter</name>
        <label>Case 01 :  Notification Chatter</label>
        <locationX>446</locationX>
        <locationY>2579</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_01_Notification_chatter_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case07_01</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_01_Notification_chatter_User</name>
        <label>Case 01 : Notification chatter User</label>
        <locationX>446</locationX>
        <locationY>2687</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_07_Notification_PIES</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case07_02</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_02_Chatter_PIES</name>
        <label>Case 02 : Chatter PIES</label>
        <locationX>446</locationX>
        <locationY>3203</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_08_Notification_PIES</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case08</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_02_Notification_Chatter</name>
        <label>Case 02 : Notification Chatter</label>
        <locationX>446</locationX>
        <locationY>3719</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_02_Notification_chatter_User</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case09_01</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_02_Notification_chatter_User</name>
        <label>Case 02 : Notification chatter User</label>
        <locationX>446</locationX>
        <locationY>3827</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_07_Notification_PIES_02</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case09_02</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_03_Chatter_PIES</name>
        <label>Case 03 : Chatter PIES</label>
        <locationX>446</locationX>
        <locationY>4643</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_12_OPP_ValidationStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case11</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_03_Chatter_PIES_0</name>
        <label>Case 03 : Chatter PIES</label>
        <locationX>446</locationX>
        <locationY>5243</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_14_OPP_ValidationStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case13</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_03_Notification_chatter_User_en_attente_de_validation</name>
        <label>Case 03 : Notification chatter User =&gt; en attente de validation</label>
        <locationX>446</locationX>
        <locationY>4943</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_13_OPP_ValidationStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case12</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_07_Notification_PIES</name>
        <label>Case 07 : Notification &lt;&gt; PIES</label>
        <locationX>446</locationX>
        <locationY>2795</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Case_08_OPP_ValidationStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Label.OPP_ValidationStatus_Notification_MSG_Commerce</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Var_Users_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.OPP_ValidationStatus_Notification_Title_Case14</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_07_Notification_PIES_02</name>
        <label>Case 07 : Notification &lt;&gt; PIES 02</label>
        <locationX>446</locationX>
        <locationY>3935</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Case_10_OPP_ValidationStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Label.OPP_ValidationStatus_Notification_MSG_Finance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Var_Users_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.OPP_ValidationStatus_Notification_Title_Case14</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_08_Notification_PIES</name>
        <label>Case 08 : Notification &lt;&gt; PIES</label>
        <locationX>446</locationX>
        <locationY>3311</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Case_09_OPP_ValidationStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Label.OPP_ValidationStatus_Notification_MSG_Commerce</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Var_Users_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.OPP_ValidationStatus_Notification_Title_Case14</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_14_Chatter_PIES</name>
        <label>Case 14 : Chatter &lt;&gt; PIES</label>
        <locationX>446</locationX>
        <locationY>5543</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Case_14_Notification_PIES</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Condition_Case14</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_14_Notification_PIES</name>
        <label>Case 14 : Notification &lt;&gt; PIES</label>
        <locationX>446</locationX>
        <locationY>5651</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Label.OPP_ValidationStatus_Notification_MSG_Commerce</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Var_Users_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.OPP_ValidationStatus_Notification_Title_Case14</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_User</name>
        <label>Add : User</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Var_Users_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_01_OPP_ValidationStatus</name>
        <label>Case 01 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Case_02_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Reinitialiser_verifier_statut_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 - En négociation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifier_statut_5</targetReference>
            </connector>
            <label>Réinitialiser vérifier statut 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_02_OPP_ValidationStatus</name>
        <label>Case 02 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Case_04_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Validee_Commerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours validation Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Gagnée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modifie_Validee_Commerce</targetReference>
            </connector>
            <label>Validée Commerce</label>
        </rules>
        <rules>
            <name>V_rifier_le_Statut_de_l_opportunit_valid_e_commerce_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Gagnée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_01_Update_Statut_Validation</targetReference>
            </connector>
            <label>Vérifier le Statut de l&#39;opportunité ( validée commerce = false )</label>
        </rules>
        <rules>
            <name>PIES_V_rifier_le_Statut_de_l_opportunit_valid_e_commerce_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Case_04_OPP_ValidationStatus</targetReference>
            </connector>
            <label>PIES Vérifier le Statut de l&#39;opportunité ( validée commerce = false )</label>
        </rules>
        <rules>
            <name>V_rifier_le_Statut_de_l_opportunit_valid_e_commerce_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <operator>None</operator>
            </conditions>
            <connector>
                <targetReference>Case_04_OPP_ValidationStatus</targetReference>
            </connector>
            <label>Vérifier le Statut de l&#39;opportunité ( validée commerce = true )</label>
        </rules>
        <rules>
            <name>PIES_V_rifier_le_Statut_de_l_opportunit_valid_e_commerce_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <operator>None</operator>
            </conditions>
            <connector>
                <targetReference>Case_04_OPP_ValidationStatus</targetReference>
            </connector>
            <label>PIES Vérifier le Statut de l&#39;opportunité ( validée commerce = true )</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_04_OPP_ValidationStatus</name>
        <label>Case 04 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Case_05_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>PIES_Verifier_Statut_opportunite_validee_commerce_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Gagnée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_02_Update_Statut_Validation</targetReference>
            </connector>
            <label>PIES Vérifier le Statut de l&#39;opportunité ( validée commerce = false )</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_05_OPP_ValidationStatus</name>
        <label>Case 05 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Case_06_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Verifier_Statut_opportunite_validee_commerce_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Gagnée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Validee_Commerce__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Validée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_03_Update_Statut_Validation</targetReference>
            </connector>
            <label>Vérifier le Statut de l&#39;opportunité ( validée commerce = true )</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_06_OPP_ValidationStatus</name>
        <label>Case 06 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Case_07_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>PIES_Verifier_le_Statut_opportunite_validee_commerce_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5 - Gagnée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Validee_Commerce__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_04_Update_Statut_Validation</targetReference>
            </connector>
            <label>PIES Vérifier le Statut de l&#39;opportunité ( validée commerce = true )</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_07_OPP_ValidationStatus</name>
        <label>Case 07 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Case_08_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Verification_Statut_validation_Commerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé Commerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verifier_statut_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_05_Update_Statut_Validation</targetReference>
            </connector>
            <label>Vérification du Statut validation Commerce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_08_OPP_ValidationStatus</name>
        <label>Case 08 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>Case_09_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>PIES_Refusee_Commerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé Commerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verifier_statut_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_06_Update_Statut_Validation</targetReference>
            </connector>
            <label>PIES Refusée Commerce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_09_OPP_ValidationStatus</name>
        <label>Case 09 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>Case_10_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Verification_Statut_validation_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verifier_statut_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_07_Update_Statut_Validation</targetReference>
            </connector>
            <label>Vérification du Statut validation Finance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_10_OPP_ValidationStatus</name>
        <label>Case 10 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>4127</locationY>
        <defaultConnector>
            <targetReference>Case_11_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Opportunit_passe_statut_6_Contrat_Signe</name>
            <conditionLogic>1 AND 3 AND ( 2 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6 - Contrat signé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble_Fermee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_08_Update_Statut_Validation</targetReference>
            </connector>
            <label>L&#39;opportunité passe au statut 6 - Contrat Signé</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_11_OPP_ValidationStatus</name>
        <label>Case 11 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>4427</locationY>
        <defaultConnector>
            <targetReference>Case_12_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>PIES_Passage_Statut_6</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6 - Contrat signé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble_Fermee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_09_Update_Statut_Validation</targetReference>
            </connector>
            <label>PIES Passage Statut 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_12_OPP_ValidationStatus</name>
        <label>Case 12 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>4835</locationY>
        <defaultConnector>
            <targetReference>Case_13_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Notification_Opp_Meuble</name>
            <conditionLogic>( 1 OR 2 OR ( 3 AND 4 ) ) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PILU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgencePF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>264 - LIÈGE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours validation Commerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_03_Notification_chatter_User_en_attente_de_validation</targetReference>
            </connector>
            <label>Notification Opp Meuble</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_13_OPP_ValidationStatus</name>
        <label>Case 13 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>5135</locationY>
        <defaultConnector>
            <targetReference>Case_14_OPP_ValidationStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Passage_Statut_6_Pays_Region_PIES</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND ( 4 OR 5 OR ( 6 AND 7) ) AND ( 8 OR 9 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6 - Contrat signé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble_Fermee</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PILU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgencePF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>264 - LIÈGE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refusé Commerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refusé Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_03_Chatter_PIES_0</targetReference>
            </connector>
            <label>Passage Statut 6 : Pays/Région &lt;&gt; PIES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_14_OPP_ValidationStatus</name>
        <label>Case 14 : OPP_ValidationStatus</label>
        <locationX>578</locationX>
        <locationY>5435</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Refusee_Commerce_Pays_Region_PIES</name>
            <conditionLogic>1 AND ( 2 OR 8 ) AND 3 AND ( 4 OR 5 OR ( 6 AND 7 ) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé Commerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verifier_statut_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PILU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgencePF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>264 - LIÈGE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OPP_RecordType_Meuble_Fermee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_14_Chatter_PIES</targetReference>
            </connector>
            <label>Refusée Commerce : Pays/Région &lt;&gt; PIES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_OPP_ValidationStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_OPP_ValidationStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Chatter_Group</name>
        <label>Get Chatter Group</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validación oportunidades muebles</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get : Custom Notification</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_01_OPP_ValidationStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User_Notification_Case_01</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Björn VLASSENBROECK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_01_Update_Statut_Validation</name>
        <label>Case 01 : Update Statut Validation</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Case_04_OPP_ValidationStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Statut_validation__c</field>
            <value>
                <stringValue>En cours validation Commerce</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_02_Update_Statut_Validation</name>
        <label>Case 02 : Update Statut Validation</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Case_01_Chatter_Pies</targetReference>
        </connector>
        <inputAssignments>
            <field>Statut_validation__c</field>
            <value>
                <stringValue>En cours validation Commerce</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_03_Update_Statut_Validation</name>
        <label>Case 03 : Update Statut Validation</label>
        <locationX>446</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Case_06_OPP_ValidationStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Statut_validation__c</field>
            <value>
                <stringValue>En cours validation Finance</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_04_Update_Statut_Validation</name>
        <label>Case 04 : Update Statut Validation</label>
        <locationX>446</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Case_07_OPP_ValidationStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Statut_validation__c</field>
            <value>
                <stringValue>En cours validation Finance</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_05_Update_Statut_Validation</name>
        <label>Case 05 : Update Statut Validation</label>
        <locationX>446</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Case_01_Notification_Chatter</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4 - En négociation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_validation__c</field>
            <value>
                <stringValue>Refusé Commerce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verifier_statut_5__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_06_Update_Statut_Validation</name>
        <label>Case 06 : Update Statut Validation</label>
        <locationX>446</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Case_02_Chatter_PIES</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4 - En négociation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verifier_statut_5__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_07_Update_Statut_Validation</name>
        <label>Case 07 : Update Statut Validation</label>
        <locationX>446</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>Case_02_Notification_Chatter</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4 - En négociation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_validation__c</field>
            <value>
                <stringValue>Refusé Finance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verifier_statut_5__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_08_Update_Statut_Validation</name>
        <label>Case 08 : Update Statut Validation</label>
        <locationX>446</locationX>
        <locationY>4235</locationY>
        <connector>
            <targetReference>Case_11_OPP_ValidationStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Statut_validation__c</field>
            <value>
                <stringValue>Validée</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_09_Update_Statut_Validation</name>
        <label>Case 09 : Update Statut Validation</label>
        <locationX>446</locationX>
        <locationY>4535</locationY>
        <connector>
            <targetReference>Case_03_Chatter_PIES</targetReference>
        </connector>
        <inputAssignments>
            <field>Statut_validation__c</field>
            <value>
                <stringValue>Validée</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validee_Commerce__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Modifie_Validee_Commerce</name>
        <label>Modifié Validée Commerce</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Case_04_OPP_ValidationStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Validee_Commerce__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Verifier_statut_5</name>
        <label>Vérifier statut 5</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Case_02_OPP_ValidationStatus</targetReference>
        </connector>
        <inputAssignments>
            <field>Verifier_statut_5__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Chatter_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TypeProduits__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Containers</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypeProduits__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meubles</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>VAR_Condition_Case04</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_ValidationStatus_Chatter_MSG_Case04} {!$Record.TECHLienSF__c}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case07_01</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_ValidationStatus_Chatter_MSG_Case07_01_Part01}  {!$Record.Name} {!$Label.OPP_ValidationStatus_Chatter_MSG_Case07_01_Part02} {!$Record.TECHLienSF__c} {!$Label.OPP_ValidationStatus_Chatter_MSG_Case07_01_Part03} {!$Record.N_Contrat__c}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case07_02</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_ValidationStatus_Chatter_MSG_Case07_01_Part01}  {!$Record.Name} {!$Label.OPP_ValidationStatus_Chatter_MSG_Case07_01_Part02} {!$Record.TECHLienSF__c} {!$Label.OPP_ValidationStatus_Chatter_MSG_Case07_01_Part03} {!$Record.N_Contrat__c}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case08</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.OwnerId}]  {!$Label.OPP_ValidationStatus_Chatter_MSG_Case08}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case09_01</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_ValidationStatus_Chatter_MSG_Case09_Part01} {!$Record.Name} {!$Label.OPP_ValidationStatus_Chatter_MSG_Case09_Part02} {!$Record.TECHLienSF__c} {!$Label.OPP_ValidationStatus_Chatter_MSG_Case09_Part03}  {!$Record.N_Contrat__c}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case09_02</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_ValidationStatus_Chatter_MSG_Case09_Part01} {!$Record.Name} {!$Label.OPP_ValidationStatus_Chatter_MSG_Case09_Part02} {!$Record.TECHLienSF__c} {!$Label.OPP_ValidationStatus_Chatter_MSG_Case09_Part03}  {!$Record.N_Contrat__c}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case11</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.OwnerId}]  {!$Label.OPP_ValidationStatus_Chatter_MSG_Case11}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case12</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OPP_ValidationStatus_Chatter_MSG_Case12}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case13</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.OwnerId}]  {!$Label.OPP_ValidationStatus_Chatter_MSG_Case13}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Condition_Case14</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.OwnerId}]  {!$Label.OPP_ValidationStatus_Chatter_MSG_Case14}</text>
    </textTemplates>
    <variables>
        <name>Var_Users_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
