unpackaged/main/default/flows/FlowTrigger_NotificationsDNP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Noleggio</name>
        <label>Chatter Noleggio</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage_Noleggio</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>{!Get_collaboration_groupe_Noleggio.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_USA</name>
        <label>Chatter USA</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage_USA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>{!Get_collaboration_groupe_USA.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Country</name>
        <label>Country?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_collaboration_groupe_USA</targetReference>
            </connector>
            <label>USA</label>
        </rules>
        <rules>
            <name>Noleggio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SV Noleggio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_collaboration_groupe_Noleggio</targetReference>
            </connector>
            <label>Noleggio</label>
        </rules>
    </decisions>
    <description>Publication notification de DNP approuvée dans un groupe chatter selon Pays</description>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_NotificationsDNP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_NotificationsDNP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_collaboration_groupe_Noleggio</name>
        <label>Get collaboration groupe - Noleggio</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_Noleggio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management - SV Noleggio</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_collaboration_groupe_USA</name>
        <label>Get collaboration groupe - USA</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_USA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management - USA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNP_Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approuvée</stringValue>
            </value>
        </filters>
        <filters>
            <field>DNP_Statut__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMessage_Noleggio</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your request for a fleet number has been approved.
Opportunity : {!$Record.TECHLienSF__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ChatterMessage_USA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your request for a fleet number has been approved.
Opportunity : {!$Record.TECHLienSF__c}</text>
    </textTemplates>
</Flow>
