unpackaged/main/default/flows/FlowTrigger_WFC_Demand_Tarification_Devis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_A_Tarifer_Quote_Hors_Standard</name>
        <label>Chatter : A Tarifer/Quote Hors Standard</label>
        <locationX>1198</locationX>
        <locationY>190</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Chatter_MSG_En_attente_Service_produits</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_User_Service_Product.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_A_tarifer_Quote_Parc</name>
        <label>Chatter : A tarifer / Quote Parc</label>
        <locationX>1201</locationX>
        <locationY>459</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Chatter_MSG_Quote_A_tarifer_Quote_Parc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_En_attente_Service_produits</name>
        <label>Chatter : En attente - Service produits</label>
        <locationX>1204</locationX>
        <locationY>609</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Chatter_MSG_Quote_A_Tarifer_Quote_Hors_Standard</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Tarifer</name>
        <label>Chatter : Tarifer</label>
        <locationX>1199</locationX>
        <locationY>322</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>VAR_Chatter_MSG_Quote_Tarifer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Case_01_WFC_Demand_tarification_devis</name>
        <label>Case 01 : WFC_Demand_tarification_devis</label>
        <locationX>266</locationX>
        <locationY>149</locationY>
        <defaultConnector>
            <targetReference>Case_02_WFC_Demand_tarification_devis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Modification_Groupe_Frigo_Modele_Hayon</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Modele_Hayon__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordType_DevName_Quote_LD_Hors_Standard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordType_DevName_Quote_LD_Hors_Standard_Draft</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordType_DevName_Quote_LD_Hors_Standard_Lecture_seule</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suppression_de_la_valeur_du_champ_Am_nagements_standard_Hayon</targetReference>
            </connector>
            <label>Modification Groupe Frigo =&gt; &quot;Modèle (Hayon)&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_02_WFC_Demand_tarification_devis</name>
        <label>Case 02 : WFC_Demand_tarification_devis</label>
        <locationX>266</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Case_03_WFC_Demand_tarification_devis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Groupe_Frigo_Marque_Mod_le_Groupe</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marque_Modele_Groupe__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordType_DevName_Quote_LD_Hors_Standard</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordType_DevName_Quote_LD_Hors_Standard_Draft</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordType_DevName_Quote_LD_Hors_Standard_Lecture_seule</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suppression_de_la_valeur_du_champ_Am_nagements_standard_Groupe</targetReference>
            </connector>
            <label>Modification Groupe Frigo =&gt; &quot;Marque / Modèle (Groupe)&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_03_WFC_Demand_tarification_devis</name>
        <label>Case 03 : WFC_Demand_tarification_devis</label>
        <locationX>266</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Case_04_WFC_Demand_tarification_devis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Alimentation_auto_des_champs_Dimensions_souhaitees_la_tarification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarifé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recopier_la_valeur_des_champs_Dimensions_souhait_es_la_tarification</targetReference>
            </connector>
            <label>Alimentation auto des champs Dimensions souhaitées à la tarification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_04_WFC_Demand_tarification_devis</name>
        <label>Case 04 : WFC_Demand_tarification_devis</label>
        <locationX>266</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Case_05_WFC_Demand_tarification_devis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Renseigner_le_champ_Date_heure_tarification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarifé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_heure_tarification</targetReference>
            </connector>
            <label>Renseigner le champ Date / heure tarification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_05_WFC_Demand_tarification_devis</name>
        <label>Case 05 : WFC_Demand_tarification_devis</label>
        <locationX>573</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>Case_06_WFC_Demand_tarification_devis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Renseigner_le_champ_Date_heure_demande_tarification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Heure_Demande_de_tarification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A Tarifer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Heure_Demande_de_tarification</targetReference>
            </connector>
            <label>Renseigner le champ Date / heure demande tarification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_06_WFC_Demand_tarification_devis</name>
        <label>Case 06 : WFC_Demand_tarification_devis</label>
        <locationX>800</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>A_Tarifer_Quote_Hors_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A Tarifer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_tarification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordTypeId_HorsStandard</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Statut_de_la_demande_Hors_Standard_lecture_seule</targetReference>
            </connector>
            <label>A Tarifer/Quote Hors Standard</label>
        </rules>
        <rules>
            <name>A_tarifer_Quote_Parc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A Tarifer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_tarification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Quote_RecordTypeId_Parc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Statut_de_la_demande_Parc_lecture_seule</targetReference>
            </connector>
            <label>A tarifer / Quote Parc</label>
        </rules>
        <rules>
            <name>Tarifer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarifé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Statut_de_la_demande</targetReference>
            </connector>
            <label>Tarifer</label>
        </rules>
        <rules>
            <name>En_attente_Service_produits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_de_la_demande__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_de_la_demande__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WAITING QUOTATION SERVICE PRODUCT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Service_Product</targetReference>
            </connector>
            <label>En attente - Service produits</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VAR_Chatter_MSG_En_attente_Service_produits</name>
        <dataType>String</dataType>
        <expression>{!$Label.Chatter_MSG_En_attente_Service_produits}  &amp; {!$Record.TECH_Lien__c}</expression>
    </formulas>
    <formulas>
        <name>VAR_Code_PF_demande</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK( {!$Record.Code_PF_demande__c}     ) ,  {!$Record.Code_PF__c}         , {!$Record.Code_PF_demande__c}    )</expression>
    </formulas>
    <formulas>
        <name>VAR_Designation_demandee</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK( {!$Record.Designation_demandee__c}    ) ,  {!$Record.Designation__c}  ,   {!$Record.Designation_demandee__c}  )</expression>
    </formulas>
    <formulas>
        <name>VAR_Hauteur_Interieur_demande</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Hauteur_Interieur_demande__c} ) ,   {!$Record.Hauteur_Interieur__c}     ,  {!$Record.Hauteur_Interieur_demande__c}  )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_Hauteur_maxi_Hors_tout_demande</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK( {!$Record.Hauteur_maxi_Hors_tout_demande__c}   ) ,       {!$Record.Hauteur_maxi_Hors_tout__c}  ,  {!$Record.Hauteur_maxi_Hors_tout_demande__c}   )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_Hauteur_passage_arriere_demande</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK(  {!$Record.Hauteur_passage_arriere_demande__c}    ) , {!$Record.Hauteur_passage_arriere_mm__c}        ,  {!$Record.Hauteur_passage_arriere_demande__c}    )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_Hauteur_sol_plancher_demande</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK( {!$Record.Hauteur_sol_plancher_demande__c}      ) ,     {!$Record.Chassis_hauteur_seuil__c}       ,   {!$Record.Hauteur_sol_plancher_demande__c}   )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_Largeur_ext_hors_retroviseurs_demandee</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK( {!$Record.Largeur_ext_hors_retroviseurs_demande__c}    ) ,      {!$Record.Chassis_largeur__c}  ,  {!$Record.Largeur_ext_hors_retroviseurs_demande__c}    )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_Largeur_int_utile_sur_plinthe_demandee</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK( {!$Record.Largeur_int_utile_sur_plinthe_demande__c}  ) ,   {!$Record.Largeur_Interieur__c}  ,   {!$Record.Largeur_int_utile_sur_plinthe_demande__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_Longueur_ext_hors_tout_demandee</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK( {!$Record.Longueur_ext_hors_tout_demande__c}   ) ,     {!$Record.Chassis_longueur__c}    ,  {!$Record.Longueur_ext_hors_tout_demande__c}    )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_Longueur_int_sur_plinthe_demandee</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK( {!$Record.Longueur_int_sur_plinthe_demande__c}  ) ,   {!$Record.Longueur_Interieur__c}  ,   {!$Record.Longueur_int_sur_plinthe_demande__c}  )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_Porte_a_faux_arriere_demandee</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK(  {!$Record.Porte_faux_arriere_demande__c}      ) ,  {!$Record.Chassis_Porte_faux_arriere__c}         ,  {!$Record.Porte_faux_arriere_demande__c}   )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FlowTrigger_WFC_Demand_tarification_devis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_WFC Demand Tarification Devis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Service_Product</name>
        <label>Get User : Service Product</label>
        <locationX>808</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_A_Tarifer_Quote_Hors_Standard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0053X00000D5GABQA3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Recopier_la_valeur_des_champs_Dimensions_souhait_es_la_tarification</name>
        <label>Recopier la valeur des champs Dimensions souhaitées à la tarification</label>
        <locationX>16</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Case_04_WFC_Demand_tarification_devis</targetReference>
        </connector>
        <inputAssignments>
            <field>Code_PF_demande__c</field>
            <value>
                <elementReference>VAR_Code_PF_demande</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation_demandee__c</field>
            <value>
                <elementReference>VAR_Designation_demandee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hauteur_Interieur_demande__c</field>
            <value>
                <elementReference>VAR_Hauteur_Interieur_demande</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hauteur_maxi_Hors_tout_demande__c</field>
            <value>
                <elementReference>VAR_Hauteur_maxi_Hors_tout_demande</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hauteur_passage_arriere_demande__c</field>
            <value>
                <elementReference>VAR_Hauteur_passage_arriere_demande</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hauteur_sol_plancher_demande__c</field>
            <value>
                <elementReference>VAR_Hauteur_sol_plancher_demande</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Largeur_ext_hors_retroviseurs_demande__c</field>
            <value>
                <elementReference>VAR_Largeur_ext_hors_retroviseurs_demandee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Largeur_int_utile_sur_plinthe_demande__c</field>
            <value>
                <elementReference>VAR_Largeur_int_utile_sur_plinthe_demandee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longueur_ext_hors_tout_demande__c</field>
            <value>
                <elementReference>VAR_Longueur_ext_hors_tout_demandee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longueur_int_sur_plinthe_demande__c</field>
            <value>
                <elementReference>VAR_Longueur_int_sur_plinthe_demandee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Porte_faux_arriere_demande__c</field>
            <value>
                <elementReference>VAR_Porte_a_faux_arriere_demandee</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Suppression_de_la_valeur_du_champ_Am_nagements_standard_Groupe</name>
        <label>Suppression de la valeur du champ &quot;Aménagements standard Groupe&quot;</label>
        <locationX>15</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Case_03_WFC_Demand_tarification_devis</targetReference>
        </connector>
        <inputAssignments>
            <field>Amenagements_Groupe__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Suppression_de_la_valeur_du_champ_Am_nagements_standard_Hayon</name>
        <label>Suppression de la valeur du champ &quot;Aménagements standard Hayon&quot;</label>
        <locationX>15</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Case_02_WFC_Demand_tarification_devis</targetReference>
        </connector>
        <inputAssignments>
            <field>Amenagements_Hayon__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Heure_Demande_de_tarification</name>
        <label>Update : Date/Heure Demande de tarification</label>
        <locationX>656</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Case_06_WFC_Demand_tarification_devis</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Heure_Demande_de_tarification__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_heure_tarification</name>
        <label>Update : Date / heure tarification</label>
        <locationX>499</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Case_05_WFC_Demand_tarification_devis</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_heure_tarification__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Statut_de_la_demande</name>
        <label>Update Statut de la demande</label>
        <locationX>1049</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>Chatter_Tarifer</targetReference>
        </connector>
        <inputAssignments>
            <field>Statut_de_la_demande__c</field>
            <value>
                <stringValue>DONE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Statut_de_la_demande_Hors_Standard_lecture_seule</name>
        <label>Update Statut de la demande + Hors Standard lecture seule</label>
        <locationX>808</locationX>
        <locationY>637</locationY>
        <connector>
            <targetReference>Chatter_En_attente_Service_produits</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Quote_RecordTypeId_HorsStandardLectureSeule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_de_la_demande__c</field>
            <value>
                <stringValue>WAITING DDT</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Statut_de_la_demande_Parc_lecture_seule</name>
        <label>Update Statut de la demande + Parc lecture seule</label>
        <locationX>1050</locationX>
        <locationY>459</locationY>
        <connector>
            <targetReference>Chatter_A_tarifer_Quote_Parc</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Quote_RecordTypeId_Parc_LectureSeule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_de_la_demande__c</field>
            <value>
                <stringValue>WAITING DDT</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Case_01_WFC_Demand_tarification_devis</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>VAR_Chatter_MSG_Quote_A_Tarifer_Quote_Hors_Standard</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.Chatter_MSG_Quote_A_Tarifer_Quote_Hors_Standard_Part_01} @[{!$Record.Service_tarification__c}]{!$Label.Chatter_MSG_Quote_A_Tarifer_Quote_Hors_Standard_Part_02} {!$Record.TECH_Lien__c}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Chatter_MSG_Quote_A_tarifer_Quote_Parc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.Chatter_MSG_Quote_A_tarifer_Quote_Parc_Part_01}  @[{!$Record.Service_tarification__c}]{!$Label.Chatter_MSG_Quote_A_tarifer_Quote_Parc_Part_02}  {!$Record.TECH_Lien__c}</text>
    </textTemplates>
    <textTemplates>
        <name>VAR_Chatter_MSG_Quote_Tarifer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.Chatter_MSG_Quote_Tarifer_Part_01} @[{!$Record.OwnerId}] {!$Label.Chatter_MSG_Quote_Tarifer_Part_02}  {!$Record.TECH_Lien__c}</text>
    </textTemplates>
    <variables>
        <description>User : Service Produits</description>
        <name>VAR_User_Service_Produits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Service Produits</stringValue>
        </value>
    </variables>
</Flow>
