unpackaged/main/default/flows/FlowTrigger_Opportunity_USA_SendNotificationParcAAttribuer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendNotification_ParcNumberRequested</name>
        <label>SendNotification_ParcNumberRequested</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>ForEach_Order</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!Get_CollaborationGroup_USA_AssignmentFleetNumber.Id}] A new fleet number assignment request has been created. Click on the link below to assign a fleet number</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ForEach_Order.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_ByPass</name>
        <label>Check_ByPass</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>isByPass</defaultConnectorLabel>
        <rules>
            <name>is_NotByPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Bypass__c.BypassWorkflowRules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_DNPApprouvee</targetReference>
            </connector>
            <label>is_NotByPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_DNPApprouvee</name>
        <label>Check_DNPApprouvée</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>is_DNPApprouvee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DNP_Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approuvée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.DNP_Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approuvée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_ParcNumberEmpty</targetReference>
            </connector>
            <label>is_DNPApprouvée</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_OrdersExists</name>
        <label>Check_OrdersExists</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>is_NotOrderExists</defaultConnectorLabel>
        <rules>
            <name>is_OrderExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_ParcNumberEmpty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CollaborationGroup_USA_AssignmentFleetNumber</targetReference>
            </connector>
            <label>is_OrderExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_Opportunity_USA_SendNotificationParcAAttribuer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_Opportunity_USA_SendNotificationParcAAttribuer</label>
    <loops>
        <name>ForEach_Order</name>
        <label>ForEach_Order</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Order_ParcNumberEmpty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SendNotification_ParcNumberRequested</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CollaborationGroup_USA_AssignmentFleetNumber</name>
        <label>Get_CollaborationGroup_USA_AssignmentFleetNumber</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEach_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USA - Fleet Number Assignment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_ParcNumberEmpty</name>
        <label>Get_Order_ParcNumberEmpty</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_OrdersExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>N_Parc__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_ByPass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaysRegionPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
