unpackaged/main/default/flows/FlowTrigger_Before_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assign language from Account to contact</description>
        <name>Assign_Language</name>
        <label>Assign Language</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_SAP_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.TECH_SAP_Language__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check Function (= Person) and Language is null</description>
        <name>Map_Language_with_country_for_B2C</name>
        <label>Map Language with country for B2C ?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_Map_Language_with_country_for_B2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_SAP_Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fonction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Particulier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Language</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes Map Language with country for B2C</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_Before_Contact_Map_Language {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_Before_Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Map_Language_with_country_for_B2C</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
