unpackaged/main/default/flows/FlowTrigger_Subscription_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Att_Account_S_Logistique_0</name>
        <label>Att Account S &amp; Logistique</label>
        <locationX>770</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>Get_Contract.Compte_de_livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Compte_de_livraison__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Acces_Camion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Acces_Camion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Auvent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Auvent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Auvent_Information_complementaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Auvent_Information_complementaires__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Transport_et_Manutention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Transport_et_Manutention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Contact_logistique_sur_place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_logistique_sur_place__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Interieur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Interieur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Exterieur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Exterieur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Obstacles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Obstacles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Precisez_Type_Obstacles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precisez_Type_Obstacles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Precisez_Distance_de_roulage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precisez_Distance_de_roulage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Precisez_Hauteur_du_Hangar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precisez_Hauteur_du_Hangar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Precisez_Hauteur_du_calage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precisez_Hauteur_du_calage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Precisez_Type_de_terrain_Sol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Precisez_Type_de_terrain_Sol__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Levage_specifique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Levage_specifique__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Horaire_souhaite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Horaire_souhaite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Installation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Autres_informations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Autres_informations__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_run</name>
        <label>First run?</label>
        <locationX>524</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>yes_First_RUN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Compte_de_livraison__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Att_Account_S_Logistique_0</targetReference>
            </connector>
            <label>yes First RUN</label>
        </rules>
    </decisions>
    <description>GFC-918</description>
    <environments>Default</environments>
    <formulas>
        <name>Order_Client_RecordtypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Order_Client_RecordtypeId}</expression>
    </formulas>
    <interviewLabel>FlowTrigger_Subscription_Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_Subscription_Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>767</locationX>
        <locationY>718</locationY>
        <inputReference>Get_Contract</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Compte_de_livraison__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
