unpackaged/main/default/flows/FlowTrigger_MOON_14_Missions_Rdv_service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Mission_CR_1</name>
        <label>Mission - CR</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Mission_CR.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_CR.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Mission_RecordTypeId_CompteRendu</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_CR.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListeMissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mission_CR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mission_Suivi_01111</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mission_D_but</name>
        <label>Mission Début</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Mission_Debut.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Debut.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Mission_RecordTypeId_Debut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Debut.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListeMissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mission_Debut</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mission_Fin_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mission_d_part_intervention</name>
        <label>Mission départ intervention</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Mission_Depart_Intervention.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Depart_Intervention.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Miss_DepartIntervention_RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Depart_Intervention.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListeMissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mission_Depart_Intervention</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mission_d_part_intervention_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mission_d_part_intervention_0</name>
        <label>Mission Arrivée</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Mission_Arrivee.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Arrivee.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Miss_ArriveeSurPlace_RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Arrivee.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListeMissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mission_Arrivee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mission_Fin_intervention_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mission_Fin_1</name>
        <label>Mission Fin</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Mission_Fin.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Fin.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Mission_RecordTypeId_Fin_intervention</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Fin.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListeMissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mission_Fin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mission_CR_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mission_Fin_intervention_1</name>
        <label>Mission - Fin intervention</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Mission_Fin_Intervention.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Fin_Intervention.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Miss_FinIntervention_RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Fin_Intervention.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListeMissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mission_Fin_Intervention</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_missions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mission_Suivi_01111</name>
        <label>Mission - Suivi</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Mission_Suivi.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Suivi.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Mission_RecordTypeId_Suivi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Suivi.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListeMissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mission_Suivi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_missions_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mission_Transmission</name>
        <label>Mission Transmission</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Mission_Transmission_appel.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Transmission_appel.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Miss_TransmissionAppel_RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mission_Transmission_appel.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListeMissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mission_Transmission_appel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mission_d_part_intervention</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cases</name>
        <label>Cases</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>D_pannage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OT_RecordTypeId_Depannage_Vehicule</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OT_RecordTypeID_Depannage_Container</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mission_Transmission</targetReference>
            </connector>
            <label>Dépannage</label>
        </rules>
        <rules>
            <name>DDS_OR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OT_RecordTypeID_DDR</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.OT_RecordTypeID_DDS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mission_D_but</targetReference>
            </connector>
            <label>DDS/OR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContactID</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.RecordTypeId}= {!$Label.OT_RecordTypeId_Depannage_Vehicule} ,{!$Record.Case.Contact_Chauffeur__c}  , 
{!$Record.Case.Contact_responsable_parc__c})</expression>
    </formulas>
    <formulas>
        <name>DateEcheance</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} +1</expression>
    </formulas>
    <formulas>
        <name>FenetreArrivee</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (30/1440)</expression>
    </formulas>
    <formulas>
        <name>FinPlanifiee</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+ (60/1440)</expression>
    </formulas>
    <interviewLabel>MOON_14_Missions/Rdv service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_MOON_14_Missions/Rdv service</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_missions</name>
        <label>Create missions</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>RDV_Service_1</targetReference>
        </connector>
        <inputReference>ListeMissions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_missions_0</name>
        <label>Create missions</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputReference>ListeMissions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>RDV_Service_1</name>
        <label>RDV Service</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Case_En_cours</targetReference>
        </connector>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>FenetreArrivee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Case.Ville__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Case.Pays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_Lieu_Panne__c</field>
            <value>
                <elementReference>$Record.Case.Precision__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>DateEcheance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <numberValue>120.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InternalSLRGeolocation__Latitude__s</field>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__InternalSLRGeolocation__Longitude__s</field>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_parc__c</field>
            <value>
                <elementReference>$Record.Case.Asset.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Case.Code_postal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>FinPlanifiee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Planifié</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Case.Rue_Lieu__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Case.Description_incident_client__c</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Case_En_cours</name>
        <label>Case En cours</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nouvelle</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En_Cours</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cases</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListeMissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_Arrivee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_CR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_Debut</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_Depart_Intervention</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_Fin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_Fin_Intervention</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_Suivi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_Transmission_appel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>RDV_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
