unpackaged/main/default/flows/FlowTrigger_AccountValidations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_Chatter_GradeChanged</name>
        <label>Notification Chatter_GradeChanged</label>
        <locationX>1766</locationX>
        <locationY>1763</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_AvisCM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!$Record.OwnerId}] {!MessageChatter} {!$Record.Statut__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>internalUsers</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_chatterCM</name>
        <label>Notification chatter CM</label>
        <locationX>1634</locationX>
        <locationY>1163</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_StatutChange</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>MessageChatter_CM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_ChatterGroupCM.IDGroupeChatter__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Attr_account_Refus</name>
        <label>SetStatut_En attente</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente analyse CM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AgrementSFAC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_chatterCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copier_1_sur_Set_MessageChatterToCM_EN</name>
        <label>Set_MessageChatterToCM_EN</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] is waiting for the account to be validated. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copier_1_sur_Set_MessageChatterToCM_ND</name>
        <label>Set_MessageChatterToCM_ND</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] wacht op de validatie van de account. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copier_1_sur_Set_MessageChatterToCM_SK</name>
        <label>Set_MessageChatterToCM_SK</label>
        <locationX>2954</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}]čaká na potvrdenie účtu. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_CZ</name>
        <label>MessageChatter_CZ</label>
        <locationX>2030</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>stav účtu se změnil v</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_DE</name>
        <label>MessageChatter_DE</label>
        <locationX>710</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Der Status des Kontos hat sich in</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_EN</name>
        <label>MessageChatter_EN</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The account status has changed in</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_ES</name>
        <label>MessageChatter_ES</label>
        <locationX>1502</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>El estado de la cuenta ha cambiado en</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_FR</name>
        <label>MessageChatter_FR</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Le statut du compte a évolué en</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_HU</name>
        <label>MessageChatter_HU</label>
        <locationX>2558</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A számla állapota megváltozott a</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_IT</name>
        <label>MessageChatter_IT</label>
        <locationX>1238</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lo stato del conto è cambiato in</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_ND</name>
        <label>MessageChatter_ND</label>
        <locationX>974</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>De status van de account is gewijzigd in</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_PL</name>
        <label>MessageChatter_PL</label>
        <locationX>2294</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status konta zmienił się w</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_PT</name>
        <label>MessageChatter_PT</label>
        <locationX>1766</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>o estado da conta mudou em</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_RO</name>
        <label>MessageChatter_RO</label>
        <locationX>2822</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Statutul contului s-a schimbat în</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MessageChatter_SK</name>
        <label>MessageChatter_SK</label>
        <locationX>3086</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stav účtu sa zmenil v</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_StatutValid</name>
        <label>Set_Account_StatutValidé</label>
        <locationX>3394</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_StatutChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_CZ</name>
        <label>Set_MessageChatterToCM_CZ</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] čeká na potvrzení účtu. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_DE</name>
        <label>Set_MessageChatterToCM_DE</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] wartet auf die Bestätigung des Kontos. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_ES</name>
        <label>Set_MessageChatterToCM_ES</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] está esperando a que se valide la cuenta. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_FR</name>
        <label>Set_MessageChatterToCM_FR</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] attend la validation du compte.  {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_HU</name>
        <label>Set_MessageChatterToCM_HU</label>
        <locationX>2426</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] a számla érvényesítésére vár. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_IT</name>
        <label>Set_MessageChatterToCM_IT</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] sta aspettando la convalida del conto. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_PL</name>
        <label>Set_MessageChatterToCM_PL</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] czeka na zatwierdzenie konta. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_PT</name>
        <label>Set_MessageChatterToCM_PT</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] está à espera que a conta seja validada. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MessageChatterToCM_RO</name>
        <label>Set_MessageChatterToCM_RO</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MessageChatter_CM</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>@[{!$Record.OwnerId}] așteaptă ca contul să fie validat. {!$Record.TECHLienSF__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Statut_Refuse_CM</name>
        <label>Set_Statut_RefuséCM</label>
        <locationX>2646</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>StatutCompte</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refusé</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_grade10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Statut_ValideCM</name>
        <label>Set_Statut_ValideCM</label>
        <locationX>2382</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>StatutCompte</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validé CM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_grade10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_StatutEnAttente_AnalyseCM</name>
        <label>Set_StatutEnAttente_AnalyseCM</label>
        <locationX>2910</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>StatutCompte</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente analyse CM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_grade10</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AlerteCM_Pays</name>
        <label>AlerteCM_Pays</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_ChatterGroupCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>AlerteCM_Fran_ais</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>STFR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DRO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PILU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PICH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_FR</targetReference>
            </connector>
            <label>AlerteCM_Français</label>
        </rules>
        <rules>
            <name>AlerteCM_Anglais</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIZA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFUK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIRL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Set_MessageChatterToCM_EN</targetReference>
            </connector>
            <label>AlerteCM_Anglais</label>
        </rules>
        <rules>
            <name>AlerteCM_Allemand</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIDE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_DE</targetReference>
            </connector>
            <label>AlerteCM_Allemand</label>
        </rules>
        <rules>
            <name>AlerteCM_Neerlandais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Set_MessageChatterToCM_ND</targetReference>
            </connector>
            <label>AlerteCM_Neerlandais</label>
        </rules>
        <rules>
            <name>AlerteCM_Italien</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PITA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SV NOLLEGIO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_IT</targetReference>
            </connector>
            <label>AlerteCM_Italien</label>
        </rules>
        <rules>
            <name>AlerteCM_Espagnol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_ES</targetReference>
            </connector>
            <label>AlerteCM_Espagnol</label>
        </rules>
        <rules>
            <name>AlerteCM_Portugais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIPT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_PT</targetReference>
            </connector>
            <label>AlerteCM_Portugais</label>
        </rules>
        <rules>
            <name>AlerteCM_Tch_que</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PICZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_CZ</targetReference>
            </connector>
            <label>AlerteCM_Tchèque</label>
        </rules>
        <rules>
            <name>AlerteCM_Polonais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIPL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_PL</targetReference>
            </connector>
            <label>AlerteCM_Polonais</label>
        </rules>
        <rules>
            <name>AlerteCM_Hongrois</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIHU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_HU</targetReference>
            </connector>
            <label>AlerteCM_Hongrois</label>
        </rules>
        <rules>
            <name>AlerteCM_Roumain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIRO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MessageChatterToCM_RO</targetReference>
            </connector>
            <label>AlerteCM_Roumain</label>
        </rules>
        <rules>
            <name>AlerteCM_Slovaque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PISK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Set_MessageChatterToCM_SK</targetReference>
            </connector>
            <label>AlerteCM_Slovaque</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Administration_Or_Not</name>
        <label>Check_Administration_Or_Not</label>
        <locationX>1216</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Grade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNot_Administration</defaultConnectorLabel>
        <rules>
            <name>is_Administration</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IdentifiantNational__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IdentifiantNational__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <label>is_Administration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AvisCM</name>
        <label>Check_AvisCM</label>
        <locationX>2646</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Set_StatutEnAttente_AnalyseCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>is_Favorable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AvisCM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Favorable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AvisCM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Statut_ValideCM</targetReference>
            </connector>
            <label>is_Favorable</label>
        </rules>
        <rules>
            <name>is_D_favorable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AvisCM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Défavorable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AvisCM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Statut_Refuse_CM</targetReference>
            </connector>
            <label>is_Défavorable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ByPass</name>
        <label>Check_ByPass</label>
        <locationX>2525</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>is_ByPass</defaultConnectorLabel>
        <rules>
            <name>isNotByPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Bypass__c.BypassWorkflowRules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Administration_Or_Not</targetReference>
            </connector>
            <label>isNotByPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Grade</name>
        <label>Check_Grade</label>
        <locationX>2646</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_StatutChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Grade_10</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CotationPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Validé CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CotationPF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bloqué CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refusé CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refusé DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Validé DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Validé CM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlerteCM_Pays</targetReference>
            </connector>
            <label>Grade=10 or Grade null</label>
        </rules>
        <rules>
            <name>Grade_Inf10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CotationPF__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CotationPF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bloqué CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refusé CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refusé DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Validé DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Validé CM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_StatutValid</targetReference>
            </connector>
            <label>Grade &lt; 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_StatutChange</name>
        <label>Check_StatutChange</label>
        <locationX>2646</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Check_AvisCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotChanged</defaultConnectorLabel>
        <rules>
            <name>isChanged</name>
            <conditionLogic>2 AND (1 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bloqué CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validé DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validé CM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatutChange_Pays</targetReference>
            </connector>
            <label>isChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatutChange_Pays</name>
        <label>StatutChange_Pays</label>
        <locationX>1766</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Notification_Chatter_GradeChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>StatutChange_Francais</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>STFR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DRO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PILU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PICH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_FR</targetReference>
            </connector>
            <label>StatutChange_Français</label>
        </rules>
        <rules>
            <name>StatutChange_Anglais</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIZA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFUK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIRL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_EN</targetReference>
            </connector>
            <label>StatutChange_Anglais</label>
        </rules>
        <rules>
            <name>StatutChange_Allemand</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIDE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_DE</targetReference>
            </connector>
            <label>StatutChange_Allemand</label>
        </rules>
        <rules>
            <name>StatutChange_Neerlandais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_ND</targetReference>
            </connector>
            <label>StatutChange_Neerlandais</label>
        </rules>
        <rules>
            <name>StatutChange_Italien</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PITA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SV NOLLEGIO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_IT</targetReference>
            </connector>
            <label>StatutChange_Italien</label>
        </rules>
        <rules>
            <name>StatutChange_Espagnol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_ES</targetReference>
            </connector>
            <label>StatutChange_Espagnol</label>
        </rules>
        <rules>
            <name>StatutChange_Portugais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIPT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_PT</targetReference>
            </connector>
            <label>StatutChange_Portugais</label>
        </rules>
        <rules>
            <name>StatutChange_Tch_que</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PICZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_CZ</targetReference>
            </connector>
            <label>StatutChange_Tchèque</label>
        </rules>
        <rules>
            <name>StatutChange_Polonais</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIPL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_PL</targetReference>
            </connector>
            <label>StatutChange_Polonais</label>
        </rules>
        <rules>
            <name>StatutChange_Hongrois</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIHU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_HU</targetReference>
            </connector>
            <label>StatutChange_Hongrois</label>
        </rules>
        <rules>
            <name>StatutChange_Roumain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIRO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_RO</targetReference>
            </connector>
            <label>StatutChange_Roumain</label>
        </rules>
        <rules>
            <name>StatutChange_Slovaque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PISK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageChatter_SK</targetReference>
            </connector>
            <label>StatutChange_Slovaque</label>
        </rules>
    </decisions>
    <description>Limiter par recordtype client et prospect</description>
    <environments>Default</environments>
    <formulas>
        <name>Form_LenSIREN</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.IdentifiantNational__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Form_PaysRegionPF</name>
        <dataType>String</dataType>
        <expression>IF(LEFT(TEXT({!$Record.PaysRegionPF__c}),3) = &#39;DRO&#39;, &#39;DRO&#39;, 
  IF(LEFT(TEXT({!$Record.PaysRegionPF__c}),4) = &#39;STFR&#39;, &#39;STFR&#39;, TEXT({!$Record.PaysRegionPF__c}))
)</expression>
    </formulas>
    <interviewLabel>FlowTrigger_AccountValidations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_AccountValidations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ChatterGroupCM</name>
        <label>Get_ChatterGroupCM</label>
        <locationX>1634</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attr_account_Refus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaysRegionPF__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Form_PaysRegionPF</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupeCMPaysRegionPF__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IDGroupeChatter__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_grade10</name>
        <label>Update Account</label>
        <locationX>2646</locationX>
        <locationY>2255</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2399</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_ByPass</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123X00000041YvQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127T000000g2LKQAY</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>GroupChatterCM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroup</objectType>
    </variables>
    <variables>
        <name>MessageChatter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageChatter_CM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatutCompte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
