unpackaged/main/default/flows/FlowFSL_Service_Send_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Estimated_Travel_Time_in_Minutes</name>
        <label>Get Estimated Travel Time in Minutes</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>EstimatedTravelTime</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Destination</name>
            <value>
                <elementReference>Var_Destination</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMS_Message</name>
            <value>
                <elementReference>Var_SMS_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DriverPhone</name>
            <value>
                <elementReference>$Record.Case.N_Tel_Chauffeur__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMS_Sender</name>
            <value>
                <stringValue>DEPANNAGE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Origine</name>
            <value>
                <elementReference>Var_Origine</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId_1</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId_2</name>
            <value>
                <elementReference>$Record.Ressource_Interne__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId_3</name>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSType</name>
            <value>
                <stringValue>Immediately</stringValue>
            </value>
        </inputParameters>
        <nameSegment>EstimatedTravelTime</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Verify_Driver_Phone_Number_IsNull</name>
        <label>Verify  : Driver Phone Number IsNull</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case.N_Tel_Chauffeur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND ( ( 2 AND ( 3 OR 6 ) AND 4 ) OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case.N_Tel_Chauffeur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CEDRE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte_Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Agence_Intervenante__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>103 - MONTIGNY LE BRETONNEUX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Agence_Intervenante__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>092 - VILLENEUVE LA GARENNE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte_Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Estimated_Travel_Time_in_Minutes</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>Var_Destination</name>
        <dataType>String</dataType>
        <expression>{!$Record.Case.Rue_Lieu__c} &amp; &quot; &quot; &amp; {!$Record.Case.Ville__c} &amp;  &quot;  &quot; &amp; {!$Record.Case.Code_postal__c}  &amp;  &quot; &quot; &amp;  TEXT({!$Record.Case.Pays__c})</expression>
    </formulas>
    <formulas>
        <name>Var_Origine</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Ressource_Interne__r.LastKnownLatitude}) &amp; &quot;, &quot; &amp; TEXT({!$Record.Ressource_Interne__r.LastKnownLongitude})</expression>
    </formulas>
    <interviewLabel>EstimatedTravelTime {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowFSL_Service_Send_SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Driver_Phone_Number_IsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Heure_Depart__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Heure_Depart__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ressource_Interne__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123X0000003oq8QAA</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Var_SMS_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.FlowVar_FlowFSL_Service_Send_SMS_Message_01} {!$Record.Case.Rue_Lieu__c} {!$Record.Case.Code_postal__c}  {!$Record.Case.Ville__c} {!$Record.Case.Pays__c}.</text>
    </textTemplates>
</Flow>
