unpackaged/main/default/flows/FlowTrigger_AccordCadre_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AccordCadreAsso_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccordCadreAsso_VAR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_SAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_list2</name>
        <label>Add to list</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AccordCadreAsso_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccordCadreAsso_VAR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>boucle_SAD2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_One_AccordCadre_association</name>
        <label>Create One AccordCadre association</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AccordCadreAsso_VAR.Accord_Cadre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccordCadreAsso_VAR.Vue_Commerciale_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_SAD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_One_AccordCadre_association2</name>
        <label>Create One AccordCadre association</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AccordCadreAsso_VAR.Accord_Cadre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccordCadreAsso_VAR.Vue_Commerciale_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>boucle_SAD2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_or_Groupement</name>
        <label>Account or Groupement?</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Groupement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Groupement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_concerned_SADs</targetReference>
            </connector>
            <label>Groupement</label>
        </rules>
        <rules>
            <name>Compte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Compte__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_concerned_SADs2</targetReference>
            </connector>
            <label>Compte</label>
        </rules>
    </decisions>
    <description>19/09 RR - Suppression du critère $record.account.DUNS_DU__c dans &quot;Get concerned SADs&quot;

Rapatrier un accord crée avec les SAD concernées. 
GFC-2115
GFC-2898</description>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_AccordCadre_Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_AccordCadre_Create</label>
    <loops>
        <name>Boucle_SAD</name>
        <label>Boucle SAD</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_concerned_SADs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_One_AccordCadre_association</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AccordCadre_Association</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>boucle_SAD2</name>
        <label>boucle SAD</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_concerned_SADs2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_One_AccordCadre_association2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AccordCadre_Association2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AccordCadre_Association</name>
        <label>Create AccordCadre Association</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>AccordCadreAsso_List</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_AccordCadre_Association2</name>
        <label>Create AccordCadre Association</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <inputReference>AccordCadreAsso_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_concerned_SADs</name>
        <label>Get concerned SADs</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_SAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Groupement_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Groupement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organisation_Commerciale__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_concerned_SADs2</name>
        <label>Get concerned SADs</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>boucle_SAD2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>SalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Organisation_Commerciale__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Line2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Compte__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentAccount_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Compte__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_or_Groupement</targetReference>
        </connector>
        <object>Framework_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccordCadreAsso_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accord_cadre_Association__c</objectType>
    </variables>
    <variables>
        <name>AccordCadreAsso_VAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accord_cadre_Association__c</objectType>
    </variables>
    <variables>
        <name>ListeAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
