unpackaged/main/default/flows/FlowScreen_Quote_AccountS_Logistique.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_collection_to_update</name>
        <label>Add to collection to update</label>
        <locationX>1722</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>GroupsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupeEnCours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_Quoteline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_to_update2</name>
        <label>Add to collection to update</label>
        <locationX>1810</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>QuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineEnCours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_Quoteline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_to_update_0</name>
        <label>Add to collection to update</label>
        <locationX>1194</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>GroupsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupeEnCours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_Quoteline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ATTR1</name>
        <label>ATTR1</label>
        <locationX>1546</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>VAR_BonCommandeObligatoire</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Numero_Bon_Commande</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attr2</name>
        <label>Attr2</label>
        <locationX>1810</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>VAR_BonCommandeObligatoire</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_NumeroBonCommande</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Numero_Bon_Commande</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attr3</name>
        <label>Attr3</label>
        <locationX>1546</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>VAR_NumeroBonCommande</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_de_bon_de_commande</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_Group_Quoteline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attr4</name>
        <label>Attr4</label>
        <locationX>1810</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>VAR_NumeroBonCommande</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribution_Group_Quoteline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribute_Account_to_Groupe</name>
        <label>Attribute Account &amp; logistique to Groupe</label>
        <locationX>1722</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Compte_de_livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_SelectedAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Acces_Camion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acces_camion_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Auvent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auvent_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Auvent_Information_complementaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Si_oui_precisez_la_hauteur_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Transport_et_Manutention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transport_et_manutention_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_Groupes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Interieur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interieur_Entry1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Exterieur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exterieur_Entry1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Contact_logistique_sur_place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_sur_place_Entry.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Horaire_souhaite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Horaire_souhaite_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installation_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Distance_de_roulage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Distance_de_roulage_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Hauteur_du_calage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Hauteur_du_calage_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Hauteur_du_Hangar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Hauteur_du_Hangar_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Type_de_terrain_Sol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Type_de_terrain_Sol_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Type_Obstacles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Type_Obstacles_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Auvent_Information_complementaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Si_oui_precisez_la_hauteur_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Autres_informations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Autres_informations_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Obstacles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obstacles_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Levage_specifique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarTemp_Boolean</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribute_Account_to_Groupe_0_0</name>
        <label>Attribute Account &amp; logistique to Groupe</label>
        <locationX>1194</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Compte_de_livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_AccountS_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Acces_Camion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acces_camion_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Auvent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auvent_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Auvent_Information_complementaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Si_oui_precisez_la_hauteur_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Transport_et_Manutention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transport_et_manutention_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_Groupes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Interieur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interieur_Entry1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Exterieur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exterieur_Entry1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Contact_logistique_sur_place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_sur_place_Entry.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Horaire_souhaite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Horaire_souhaite_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installation_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Distance_de_roulage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Distance_de_roulage_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Hauteur_du_calage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Hauteur_du_calage_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Hauteur_du_Hangar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Hauteur_du_Hangar_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Type_de_terrain_Sol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Type_de_terrain_Sol_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Precisez_Type_Obstacles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Type_Obstacles_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Auvent_Information_complementaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Si_oui_precisez_la_hauteur_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Autres_informations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Autres_informations_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Obstacles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obstacles_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Levage_specifique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Levage_specifique_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupeEnCours.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_to_update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_Group_Quoteline</name>
        <label>Attr (Account S &amp; Logistique) -&gt; Quoteline</label>
        <locationX>1810</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_Quoteline.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Acces_Camion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Acces_Camion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Auvent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Auvent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Auvent_Information_complementaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Auvent_Information_complementaires__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Compte_de_livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Compte_de_livraison__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Transport_et_Manutention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Transport_et_Manutention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Contact_logistique_sur_place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Contact_logistique_sur_place__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Horaire_souhaite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Horaire_souhaite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Exterieur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Exterieur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Interieur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Interieur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Precisez_Distance_de_roulage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Precisez_Distance_de_roulage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Precisez_Hauteur_du_Hangar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Precisez_Hauteur_du_Hangar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Precisez_Hauteur_du_calage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Precisez_Hauteur_du_calage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Precisez_Type_de_terrain_Sol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Precisez_Type_de_terrain_Sol__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Obstacles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Obstacles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Precisez_Type_Obstacles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Precisez_Type_Obstacles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Levage_specifique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Levage_specifique__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Autres_informations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Autres_informations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Horaire_souhaite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Horaire_souhaite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroupeEnCours.Installation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Autres_observations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Autres_observations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.Observations_Clients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Observations_Clients__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.PF_Bon_de_commande_obligatoire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BonCommandeObligatoire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineEnCours.PF_Bon_de_commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_NumeroBonCommande</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_to_update2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>correction</name>
        <label>correction</label>
        <locationX>1458</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>VarTemp_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_Quoteline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>correction_0</name>
        <label>correction</label>
        <locationX>1722</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>VarTemp_Boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Levage_specifique_entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attribute_Account_to_Groupe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage1</name>
        <label>Current Stage1</label>
        <locationX>798</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adresse_d_exploitation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ecran2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage2</name>
        <label>Current Stage2</label>
        <locationX>1458</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Informations_logistiques</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ecran3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage3</name>
        <label>Current Stage3</label>
        <locationX>50</locationX>
        <locationY>5078</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Finaliser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ecran4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finaliser_devis_true</name>
        <label>Finaliser devis = true</label>
        <locationX>50</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote.TECH_Finaliser_devis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote.SBQQ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_Account_mandatory_True</name>
        <label>Var Account mandatory True</label>
        <locationX>138</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>VAR_AccountMandatory</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Ecran2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VarTemp_attributions</name>
        <label>VarTemp attributions</label>
        <locationX>1238</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>VarTemp_AccesCamion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acces_camion_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_auvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auvent_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_Exterieur</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exterieur_Entry1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_Interieur</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interieur_Entry1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_Obstacles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obstacles_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_TransportEtManutention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transport_et_manutention_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_Precisions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Si_oui_precisez_la_hauteur_Entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_sur_place_Entry.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_Horaire</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Horaire_souhaite_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_Installation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installation_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_precision_distanceroulage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Distance_de_roulage_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_precision_hauteurHangar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Hauteur_du_Hangar_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_precision_hauteurcalage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Hauteur_du_calage_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_precisions_TypeTerainSol</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Type_de_terrain_Sol_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_Levagespecifique</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Levage_specifique_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_precision_obstacles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Precisez_Type_Obstacles_entry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTemp_AutreInfos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Autres_informations_entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CHoix_Aucun</name>
        <choiceText>Aucun</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_S_null</name>
        <label>Account S null</label>
        <locationX>798</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Current_Stage2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_SelectedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var_Account_mandatory_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bon_Commande_obligatoire</name>
        <label>Bon Commande obligatoire?</label>
        <locationX>1810</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Numero_Bon_Commande</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quest_BonDeCommande</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oui</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATTR1</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Non1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quest_BonDeCommande</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Non</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attr2</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>devis_Principal</name>
        <label>devis Principal</label>
        <locationX>598</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Si_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voulez_vous_mettre_le_devis_en_principal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oui</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Devis_Principal</targetReference>
            </connector>
            <label>Si Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_groups</name>
        <label>Got groups?</label>
        <locationX>378</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>txt0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>yes_got_at_least_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Groups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QuoteLines</targetReference>
            </connector>
            <label>yes got at least one</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Account</name>
        <label>New Account?</label>
        <locationX>1458</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>True_or_false_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>New_Account_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_S</targetReference>
            </connector>
            <label>New_Account_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Numero_Bon_Commande</name>
        <label>Numero Bon Commande?</label>
        <locationX>1810</locationX>
        <locationY>3794</locationY>
        <defaultConnector>
            <targetReference>Attribution_Group_Quoteline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quest_NumeroBonCommande</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oui</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attr3</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Non2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quest_NumeroBonCommande</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Non</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attr4</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pirncipal</name>
        <label>Pirncipal?</label>
        <locationX>378</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Exit_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui_principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Groups</targetReference>
            </connector>
            <label>Oui principal</label>
        </rules>
    </decisions>
    <decisions>
        <name>same_Group</name>
        <label>same Group</label>
        <locationX>2030</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>Boucle_Quoteline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Groupe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Boucle_Quoteline.SBQQ__Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GroupeEnCours.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bon_Commande_obligatoire</targetReference>
            </connector>
            <label>Yes Same Groupe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Toduplicated</name>
        <label>Toduplicated?</label>
        <locationX>1458</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>New_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Toduplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VarTemp_attributions</targetReference>
            </connector>
            <label>Duplicate Yes</label>
        </rules>
        <rules>
            <name>Toduplicate_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Toduplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account</targetReference>
            </connector>
            <label>Toduplicate No</label>
        </rules>
    </decisions>
    <decisions>
        <name>True_or_false_0</name>
        <label>True or false</label>
        <locationX>1722</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Boucle_Quoteline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>true_0</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Levage_specifique_entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Levage_specifique_entry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Levage_specifique_entry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>correction</targetReference>
            </connector>
            <label>DIFF</label>
        </rules>
        <rules>
            <name>false_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Levage_specifique_entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Levage_specifique_entry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>correction_0</targetReference>
            </connector>
            <label>NOT DIFF</label>
        </rules>
    </decisions>
    <description>GFC-918 V3
GFC-1157
GFC-1197
GFC-1450</description>
    <dynamicChoiceSets>
        <name>PaysExploitation_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PaysExploitation__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Acces_camion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Acces_Camion__c</picklistField>
        <picklistObject>SBQQ__QuoteLineGroup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Auvent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Auvent__c</picklistField>
        <picklistObject>SBQQ__QuoteLineGroup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_exterieur</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Exterieur__c</picklistField>
        <picklistObject>SBQQ__QuoteLineGroup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_horaire</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Horaire_souhaite__c</picklistField>
        <picklistObject>SBQQ__QuoteLineGroup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Installation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Installation__c</picklistField>
        <picklistObject>SBQQ__QuoteLineGroup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Interieur</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Interieur__c</picklistField>
        <picklistObject>SBQQ__QuoteLineGroup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Obstacles</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Obstacles__c</picklistField>
        <picklistObject>SBQQ__QuoteLineGroup__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Transport_et_Manutention</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Transport_et_Manutention__c</picklistField>
        <picklistObject>SBQQ__QuoteLineGroup__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Account_RecordtypeId_CompteS</name>
        <dataType>String</dataType>
        <expression>{!$Label.ACC_RecordTypeId_CompteSite}</expression>
    </formulas>
    <formulas>
        <name>Account_Site_RecordtypeID</name>
        <dataType>String</dataType>
        <expression>{!$Label.ACC_RecordTypeId_CompteSite}</expression>
    </formulas>
    <interviewLabel>FlowScreen_Quote_AccountS_Logistique {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowScreen_Quote_AccountS_Logistique</label>
    <loops>
        <name>Boucle_Groupes</name>
        <label>Boucle Groupes</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Accounts_S</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updates_Groupes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Boucle_Quoteline</name>
        <label>Boucle Quoteline</label>
        <locationX>1458</locationX>
        <locationY>3278</locationY>
        <collectionReference>Get_QuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>same_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Boucle_Groupes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_S</name>
        <label>Create Account S</label>
        <locationX>1194</locationX>
        <locationY>2678</locationY>
        <assignRecordIdToReference>Created_AccountS_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Attribute_Account_to_Groupe_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AgencePF__c</field>
            <value>
                <elementReference>Agence_PF_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CodePostalExploitation__c</field>
            <value>
                <elementReference>Code_postal_Exploitation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compte_Master__c</field>
            <value>
                <elementReference>Get_Quote.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ligne1Exploitation__c</field>
            <value>
                <elementReference>Ligne_1_Exploitation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nom_du_compte</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Quote.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaysExploitation__c</field>
            <value>
                <elementReference>Pays_Exploitation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaysRegionPF__c</field>
            <value>
                <elementReference>PaysRegion_PF_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Account_Site_RecordtypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VilleExploitation__c</field>
            <value>
                <elementReference>Ville_Exploitation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts_S</name>
        <label>Get Accounts S</label>
        <locationX>798</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Stage1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_RecordtypeId_CompteS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Groups</name>
        <label>Get Groups</label>
        <locationX>378</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Got_groups</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Optional__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>378</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pirncipal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteLines</name>
        <label>Get QuoteLines</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_Groupes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Devis_Principal</name>
        <label>Update Devis Principal</label>
        <locationX>334</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Groups</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exit_screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>50</locationX>
        <locationY>4970</locationY>
        <connector>
            <targetReference>Current_Stage3</targetReference>
        </connector>
        <inputReference>Get_Quote</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QuoteLines</name>
        <label>Update QuoteLines</label>
        <locationX>50</locationX>
        <locationY>4754</locationY>
        <connector>
            <targetReference>Finaliser_devis_true</targetReference>
        </connector>
        <inputReference>QuoteLinesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updates_Groupes</name>
        <label>Updates Groupes</label>
        <locationX>50</locationX>
        <locationY>4646</locationY>
        <connector>
            <targetReference>Update_QuoteLines</targetReference>
        </connector>
        <inputReference>GroupsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Ecran2</name>
        <label>Ecran2</label>
        <locationX>798</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_S_null</targetReference>
        </connector>
        <fields>
            <name>Txt_2_Groupe</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Nom du groupe : {!Boucle_Groupes.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0681j000003pwji?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;1055096_caution_alert_attention_danger_error_icon (3).png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(247, 49, 49);&quot;&gt;Choisissez un compte de la liste suivante ou créer un nouveau.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VAR_AccountMandatory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>space1</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>txt_2_1</name>
            <fieldText>&lt;p&gt;Merci de sélectionner votre compte Site :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Accounts_S</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ee8e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Nom Commercial Société&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Ligne1Exploitation__c&quot;,&quot;guid&quot;:&quot;column-e5d7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Ligne 1 (-Exploitation-)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CodePostalExploitation__c&quot;,&quot;guid&quot;:&quot;column-0bff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Code Postal (-Exploitation-)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;VilleExploitation__c&quot;,&quot;guid&quot;:&quot;column-8710&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Ville (-Exploitation-)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PaysExploitation__c&quot;,&quot;guid&quot;:&quot;column-c74f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Pays (-Exploitation-)&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_SelectedAccount</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Space2</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Voulez-vous créer un nouveau compte Site?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nom_du_compte</name>
            <dataType>String</dataType>
            <fieldText>Nom du compte</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pays_RegionPF</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>PaysRegionPF__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>AgencePF__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PaysRegion_PF_Value</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Agence_PF_Value</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ligne_1_Exploitation</name>
            <dataType>String</dataType>
            <fieldText>Ligne 1 (Exploitation)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Code_postal_Exploitation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Boucle_Groupes.Code_Postal_Gp__c</elementReference>
            </defaultValue>
            <fieldText>Code postal (Exploitation)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Vous devez renseigner le même code postal que celui renseigné sur le groupe en cours. &lt;/p&gt;&lt;p&gt;Code postal = {!Boucle_Groupes.Code_Postal_Gp__c}&lt;/p&gt;</errorMessage>
                <formulaExpression>if(
OR(
{!Code_postal_Exploitation} == {!Boucle_Groupes.Code_Postal_Gp__c},{!Boucle_Groupes.Code_Postal_Gp__c}==null
),true,false)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ville_Exploitation</name>
            <dataType>String</dataType>
            <fieldText>Ville (Exploitation)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pays_Exploitation</name>
            <choiceReferences>PaysExploitation_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pays (Exploitation)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran3</name>
        <label>Ecran3</label>
        <locationX>1458</locationX>
        <locationY>2054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ecran_bon_de_commande</targetReference>
        </connector>
        <fields>
            <name>txt3_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Nom du groupe : {!Boucle_Groupes.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space3</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Space4</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Ecran3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ecran3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_sur_place_Entry</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact sur place</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__QuoteLineGroup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact_logistique_sur_place__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>VarTemp_Contact</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Acces_camion_Entry</name>
                    <choiceReferences>Picklist_Acces_camion</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_AccesCamion</elementReference>
                    </defaultValue>
                    <fieldText>Accès camion</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Installation_entry</name>
                    <choiceReferences>Picklist_Installation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_Installation</elementReference>
                    </defaultValue>
                    <fieldText>Installation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ecran3_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Horaire_souhaite_entry</name>
                    <choiceReferences>Picklist_horaire</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_Horaire</elementReference>
                    </defaultValue>
                    <fieldText>Horaire souhaité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Transport_et_manutention_Entry</name>
                    <choiceReferences>Picklist_Transport_et_Manutention</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_TransportEtManutention</elementReference>
                    </defaultValue>
                    <fieldText>Transport et manutention</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Interieur_Entry1</name>
                    <choiceReferences>Picklist_Interieur</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_Interieur</elementReference>
                    </defaultValue>
                    <fieldText>Intérieur</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Exterieur_Entry1</name>
                    <choiceReferences>Picklist_exterieur</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_Exterieur</elementReference>
                    </defaultValue>
                    <fieldText>Extérieur</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ecran3_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ecran3_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Precisez_Distance_de_roulage_entry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_precision_distanceroulage</elementReference>
                    </defaultValue>
                    <fieldText>Précisez, Distance de roulage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Exterieur_Entry1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Roulage</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Interieur_Entry1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Distance Roulage</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ecran3_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ecran3_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Precisez_Hauteur_du_calage_entry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_precision_hauteurcalage</elementReference>
                    </defaultValue>
                    <fieldText>Précisez, Hauteur du calage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Exterieur_Entry1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Calage</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ecran3_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Precisez_Hauteur_du_Hangar_entry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_precision_hauteurHangar</elementReference>
                    </defaultValue>
                    <fieldText>Précisez, Hauteur du Hangar</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interieur_Entry1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Hauteur Hangar</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ecran3_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ecran3_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Precisez_Type_de_terrain_Sol_entry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_precisions_TypeTerainSol</elementReference>
                    </defaultValue>
                    <fieldText>Précisez, Type de terrain / Sol</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Interieur_Entry1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Type sol</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Exterieur_Entry1</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Type Terrain</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ecran3_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ecran3_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Obstacles_Entry</name>
                    <choiceReferences>Picklist_Obstacles</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_Obstacles</elementReference>
                    </defaultValue>
                    <fieldText>Obstacles</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Precisez_Type_Obstacles_entry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_precision_obstacles</elementReference>
                    </defaultValue>
                    <fieldText>Précisez, Type Obstacles</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Obstacles_Entry</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Autres</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Ecran3_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auvent_Entry</name>
                    <choiceReferences>Picklist_Auvent</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_auvent</elementReference>
                    </defaultValue>
                    <fieldText>Auvent</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Si_oui_precisez_la_hauteur_Entry</name>
                    <defaultValue>
                        <stringValue>{!VarTemp_Precisions}</stringValue>
                    </defaultValue>
                    <fieldText>Si oui, précisez la hauteur + Avancée</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vous êtes limité à 255 caractères. &lt;/p&gt;</errorMessage>
                        <formulaExpression>
LEN({!Si_oui_precisez_la_hauteur_Entry}) &lt;255</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Auvent_Entry</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Oui</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Levage_specifique_entry</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>VarTemp_Levagespecifique</elementReference>
                    </defaultValue>
                    <fieldText>Levage spécifique?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Si oui, merci de contacter le service transport.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Autres_informations_entry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarTemp_AutreInfos</elementReference>
            </defaultValue>
            <fieldText>Autres informations</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Toduplicate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Dupliquer ces informations sur les autres groupes?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran4</name>
        <label>Ecran4</label>
        <locationX>50</locationX>
        <locationY>5186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680Q000002cgBd?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;330397_active_confirmed_good_ok_success_check_verify_checkmark_accept_agree_valid_done_validation_correct_approved.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Etape finalisée &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Vous êtes sur le point de finaliser votre devis, assurez-vous que le client applique bien les conditions de règlement sélectionnées de votre devis. Si ce n’est pas le cas, merci d’annuler et de lancer une dérogation car&amp;nbsp;tout contrat non conforme, ne sera pas accepté.&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Une fois l’étape terminée, vous pourrez générer vos contrats ainsi que l’enveloppe Docusign en cliquant sur les boutons «&amp;nbsp;&lt;strong&gt;Générer Contrat(s)&lt;/strong&gt;&amp;nbsp;» puis «&amp;nbsp;&lt;strong&gt;Enveloppe Contrat Signature&lt;/strong&gt;&amp;nbsp;»&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_bon_de_commande</name>
        <label>Ecran bon de commande</label>
        <locationX>1458</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Toduplicated</targetReference>
        </connector>
        <fields>
            <name>Alerte_MSG_Bon_Commande</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Attention, si le N° de bon de commande n’est pas transmis lors de la facturation, celui-ci risque d&#39;être rejeté par le client.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Nous vous invitons à transmettre ce document au plus tôt au service facturation via le mail suivant &lt;/strong&gt;&lt;a href=&quot;mailto:facturation.container@petitforestier.fr&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;facturation.container@petitforestier.fr&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Entete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Nom du groupe : {!Boucle_Groupes.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quest_BonDeCommande</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ce devis sera-t-il soumis à un bon de commande?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quest_NumeroBonCommande</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disposez-vous du numéro de bon de commande et souhaitez-vous le communiquer au service Facturation?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Quest_BonDeCommande</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Oui</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_de_bon_de_commande</name>
            <dataType>String</dataType>
            <fieldText>Numéro de bon de commande</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Quest_NumeroBonCommande</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Oui</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exit_screen</name>
        <label>Exit screen</label>
        <locationX>598</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>devis_Principal</targetReference>
        </connector>
        <fields>
            <name>Txt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680Q000003oB3A?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;rejected.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 16px; color: rgb(192, 18, 18);&quot;&gt;Le devis doit être coché comme “Principal” pour être finalisé&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Voulez_vous_mettre_le_devis_en_principal</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Voulez vous mettre le devis en principal  ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exit_screen_0</name>
        <label>Exit screen</label>
        <locationX>598</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Txt_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--preprod.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0680Q000003oB3A?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;rejected.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(212, 34, 34);&quot;&gt;Le devis principal ne peut pas être modifié pour l&#39;opportunité, car une commande a été créée à partir du devis.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>txt0</name>
        <label>txt0</label>
        <locationX>706</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txt00</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--uat--c.documentforce.com/sfc/servlet.shepherd/version/download/0683N0000029rvx?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(228, 56, 56);&quot;&gt;Le devis n&#39;a pas de groupes !&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Adresse_d_exploitation</name>
        <isActive>true</isActive>
        <label>Adresse d&#39;exploitation</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Finaliser</name>
        <isActive>true</isActive>
        <label>Etape finalisée</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Informations_logistiques</name>
        <isActive>true</isActive>
        <label>Informations logistiques</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>252</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Agence_PF_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Created_AccountS_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Duplicated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupeEnCours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>GroupsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLineGroup__c</objectType>
    </variables>
    <variables>
        <name>PaysRegion_PF_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineEnCours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Slider_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_AccountMandatory</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_BonCommandeObligatoire</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_NumeroBonCommande</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_SelectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VarTemp_AccesCamion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_AutreInfos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTemp_auvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_Exterieur</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_Horaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_Installation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_Interieur</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_Levagespecifique</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarTemp_Obstacles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_precision_distanceroulage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTemp_precision_hauteurcalage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTemp_precision_hauteurHangar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTemp_precision_obstacles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTemp_Precisions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTemp_precisions_TypeTerainSol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarTemp_TransportEtManutention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
