unpackaged/main/default/flows/FlowTrigger_WFC_OPP_Dero_Contractuelle_initiation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>WFC_OPP_Dero_Contractuelle_initiation</name>
        <label>WFC_OPP_Dero_Contractuelle_initiation</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Derogation_contractuelle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Conditions_Dero__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OPP_Dero_contractuelle</targetReference>
            </connector>
            <label>Dérogation contractuelle?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_WFC_OPP_Dero_Contractuelle_initiation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_WFC_OPP_Dero_Contractuelle_initiation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_OPP_Dero_contractuelle</name>
        <label>Update OPP - Dero contractuelle</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Conditions_Dero__c</field>
            <value>
                <elementReference>$Record.Account.Conditions_Dero__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WFC_OPP_Dero_Contractuelle_initiation</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
