unpackaged/main/default/flows/FluxTrigger_Opportunit_Mod_le_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>attribution_id_opportunite</name>
        <label>attribution id d&#39;opportunité</label>
        <locationX>688</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>Id_Opp_old_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SAD.Id_d_Opportunt__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_opportunit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Id_opportunite</name>
        <label>Check Id d&#39;opportunité</label>
        <locationX>876</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>update_SAD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Id Null</defaultConnectorLabel>
        <rules>
            <name>not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SAD.Id_d_Opportunt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>attribution_id_opportunite</targetReference>
            </connector>
            <label>not NULL</label>
        </rules>
    </decisions>
    <description>GFC-2944</description>
    <environments>Default</environments>
    <interviewLabel>FluxTrigger_TDP_WOLI_Status_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FluxTrigger_Opportunité_Modèle_Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SAD</name>
        <label>Get SAD</label>
        <locationX>882</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Id_opportunite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesAreaData__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_opportunit</name>
        <label>update opportunité</label>
        <locationX>896</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>update_SAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Opp_old_var</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunit_Mod_le__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SAD</name>
        <label>update SAD</label>
        <locationX>1310</locationX>
        <locationY>655</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesAreaData__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Id_d_Opportunt__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SalesAreaData__c</object>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_SAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunit_Mod_le__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunit_Mod_le__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_Opp_old_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAD_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAreaData__c</objectType>
    </variables>
</Flow>
