unpackaged/main/default/flows/FluxTrigger_Case_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerte_par_mail</name>
        <label>Alerte par mail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notification_creation_requete_community</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_notf_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notification_creation_requete_community</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Cases</name>
        <label>Cases</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Case_Community_notif_to_agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_NotifCommunityCaseSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerte_par_mail</targetReference>
            </connector>
            <label>Case Community notif to agency</label>
        </rules>
        <rules>
            <name>Case_notif_Agencesdifferentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agence_Intervenante__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Agence_proprietaire__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Notification_sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agence_Intervenante__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agence_proprietaire__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description_incident_client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerte_par_mail_1</targetReference>
            </connector>
            <label>Case notif Agencesdifferentes</label>
        </rules>
    </decisions>
    <description>Notification requête community
Notification agences différentes</description>
    <environments>Default</environments>
    <interviewLabel>FluxTrigger_Case_Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FluxTrigger_Case_Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_notf_sent</name>
        <label>Update notf sent</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>TECH_NotifCommunityCaseSent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_notification_sent</name>
        <label>Update notification sent</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>TECH_Notification_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cases</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Alerte_par_mail_1</name>
        <label>Alerte par mail</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_notification_sent</targetReference>
        </connector>
        <flowName>Email_Case_AgencesDifferentes</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
