unpackaged/main/default/flows/FluxTrigger_CommandeFournisseur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter</name>
        <label>Chatter parc confirmé</label>
        <locationX>623</locationX>
        <locationY>634</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Statut_en_cours_carrossier</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Bonjour @[{!$Record.Opportunity.OwnerId}] Ce parc a été confirmé .</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ADD_1</name>
        <label>ADD 1</label>
        <locationX>480</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>GET_OPP.NB_Parcs_confirmes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OPP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Commande_fournisseur</name>
        <label>Commande fournisseur</label>
        <locationX>514</locationX>
        <locationY>136</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Commande_Fournisseur_RecordtypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parc_pressenti</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>NB_Parcs_confirm_s_Opportunit</name>
        <label>NB Parcs confirmés - Opportunité</label>
        <locationX>829</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Statut_en_cours_carrossier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OPP</targetReference>
            </connector>
            <label>Confirmé?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parc_pressenti</name>
        <label>Parc pressenti</label>
        <locationX>699</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>NB_Parcs_confirm_s_Opportunit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parc_pressenti__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_parc_pressenti_OPP_0</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Statut_en_cours_carrossier</name>
        <label>Statut en cours carrossier</label>
        <locationX>849</locationX>
        <locationY>625</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 ) AND (5 OR  6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.N_Chassis_N_Stock__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_Commande_chassis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_livraison_chassis__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_livraison_vehicule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.N_Chassis_N_Stock__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_Commande_chassis__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_livraison_chassis__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_de_livraison_vehicule__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_order_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>GFC-444 
GFC-485 
GFC-473</description>
    <environments>Default</environments>
    <interviewLabel>FluxTrigger_CommandeFournisseur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FluxTrigger_CommandeFournisseur</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_OPP</name>
        <label>GET OPP</label>
        <locationX>474</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ADD_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OPP</name>
        <label>Update OPP</label>
        <locationX>479</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Chatter</targetReference>
        </connector>
        <inputReference>GET_OPP</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_status</name>
        <label>Update order status</label>
        <locationX>1067</locationX>
        <locationY>616</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours Lecapitaine</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_parc_pressenti_OPP_0</name>
        <label>Update OPP Lié sur parc pressenti</label>
        <locationX>957</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>NB_Parcs_confirm_s_Opportunit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parc_pressenti__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunite_liee__c</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>64</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Commande_fournisseur</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pays_Region_PF__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
