unpackaged/main/default/flows/Flux_Trigger_Event_SendSMS_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallR_Service_Send_SMS</name>
        <label>CallR Service : Send SMS</label>
        <locationX>927</locationX>
        <locationY>1175</locationY>
        <actionName>CallR_SMSService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SMS_DateTime</name>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SecondsToAdd</name>
            <value>
                <elementReference>Var_TimeToAdd</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMS_Message</name>
            <value>
                <elementReference>Var_Message_SMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMS_Recipient</name>
            <value>
                <elementReference>Get_Contact.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMS_Sender</name>
            <value>
                <stringValue>PF ESPANA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CallR_SMSService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Time_to_Add_into_Callr_Service</name>
        <label>Add : Time to Add into Callr Service</label>
        <locationX>663</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>Var_TimeToAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-86400</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallR_Service_Send_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Time_to_Add_into_Callr_Service_0</name>
        <label>Add : Time to Add into Callr Service</label>
        <locationX>1191</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>Var_TimeToAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CallR_Service_Send_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Contact_Is_Not_Null</name>
        <label>Verify : Contact Is Not Null</label>
        <locationX>851</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_AND_Contact_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Event_Start_Date</name>
        <label>Verify : Event Start Date</label>
        <locationX>927</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Add_Time_to_Add_into_Callr_Service_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Now_5_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Var_DateVerification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Time_to_Add_into_Callr_Service</targetReference>
            </connector>
            <label>Start Date &gt; Now + 5 Hours</label>
        </rules>
        <rules>
            <name>Start_Date_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <label>Start Date &lt; Now</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Is_Customer_Account</name>
        <label>Verify : Is Customer Account</label>
        <locationX>1191</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte_Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PaysRegionPF__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PIES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Event_Start_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Envoi du SMS au numéro renseigné sur le champ “Téléphone mobile” du contact associé à l&#39;évènement, lorsqu’un évènement est créée sur un compte C.</description>
    <formulas>
        <name>Var_DateVerification</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + ( 24 / 24 )</expression>
    </formulas>
    <interviewLabel>Compte_C_SendSMS_Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flux Trigger Event - SendSMS Action</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop : Contacts</label>
        <locationX>350</locationX>
        <locationY>617</locationY>
        <collectionReference>Get_Event_AND_Contact_Relationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get : Contact</label>
        <locationX>941</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Is_Customer_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contacts.RelationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_AND_Contact_Relationship</name>
        <label>Get : Event AND Contact Relationship</label>
        <locationX>1191</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Contact_Is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventWhoRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event</name>
        <label>Update : Event</label>
        <locationX>50</locationX>
        <locationY>618</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Scheduled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <start>
        <locationX>1065</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Event_AND_Contact_Relationship</targetReference>
        </connector>
        <filterLogic>1 AND (  2 OR 3 ) AND 4</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mode_de_communication__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RDV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mode_de_communication__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visio</stringValue>
            </value>
        </filters>
        <filters>
            <field>SMS_de_rappel_envoye__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Var_Message_SMS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Estimado cliente, le recordamos su reunión con {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}, prevista el</text>
    </textTemplates>
    <variables>
        <name>Var_TimeToAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
