unpackaged/main/default/flows/Flux_Trigger_Set_Pays_Region_Value_Into_Event_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Verify_Concerne_Contact</name>
        <label>Verify : Concerne &amp; Contact</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Verify_Get_Records_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Concerne_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_02_Account_get_Pays_Region</targetReference>
            </connector>
            <label>Concerne Is Not Null</label>
        </rules>
        <rules>
            <name>Contact_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_01_Piste_Get_Pays_Region</targetReference>
            </connector>
            <label>Contact Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Get_Records_Results</name>
        <label>Verify : Get Records Results</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Case_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_01_Piste_Get_Pays_Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_01_Update_Pays_Region_Field</targetReference>
            </connector>
            <label>Case 01</label>
        </rules>
        <rules>
            <name>Case_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_02_Account_get_Pays_Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_02_Update_Pays_Region_Field</targetReference>
            </connector>
            <label>Case 02</label>
        </rules>
        <rules>
            <name>Case_03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_03_Opportunity_Get_Pays_Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_03_Update_Pays_Region_Field</targetReference>
            </connector>
            <label>Case 03</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flux Trigger Set Pays Region Value Into Event Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flux Trigger Set Pays Region Value Into Event Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_01_Piste_Get_Pays_Region</name>
        <label>Case 01 : Piste =&gt; Get Pays Region</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Get_Records_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Case_02_Account_get_Pays_Region</name>
        <label>Case 02 : Account =&gt; get Pays Region</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_03_Opportunity_Get_Pays_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Case_03_Opportunity_Get_Pays_Region</name>
        <label>Case 03 : Opportunity =&gt; Get Pays Region</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Get_Records_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_01_Update_Pays_Region_Field</name>
        <label>Case 01 : Update =&gt; Pays Region Field</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Pays_Region__c</field>
            <value>
                <elementReference>Case_01_Piste_Get_Pays_Region.PaysRegionPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_02_Update_Pays_Region_Field</name>
        <label>Case 02 : Update =&gt; Pays Region Field</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Pays_Region__c</field>
            <value>
                <elementReference>Case_02_Account_get_Pays_Region.PaysRegionPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_03_Update_Pays_Region_Field</name>
        <label>Case 03 : Update =&gt; Pays Region Field</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Pays_Region__c</field>
            <value>
                <elementReference>Case_03_Opportunity_Get_Pays_Region.PaysRegionPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Concerne_Contact</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
