unpackaged/main/default/flows/FluxTrigger_NDCover.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Conditions</name>
        <label>Conditions</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>MA_ZA_UAE_CH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAROC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUISSE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AFRIQUE DU SUD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMIRATS ARABES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ETATS UNIS D&#39;AMERIQUE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EURO_France</targetReference>
            </connector>
            <label>MA | ZA | UAE | CH | USA</label>
        </rules>
        <rules>
            <name>GBP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GBP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ROYAUME UNI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CUrrency_echnage_GBP</targetReference>
            </connector>
            <label>GBP</label>
        </rules>
        <rules>
            <name>USD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ETATS UNIS D&#39;AMERIQUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_currency_rate_USD</targetReference>
            </connector>
            <label>USD</label>
        </rules>
        <rules>
            <name>BGN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BGN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BULGARIE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_currency_rate_BGN</targetReference>
            </connector>
            <label>BGN</label>
        </rules>
        <rules>
            <name>CZK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CZK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REPUBLIQUE TCHEQUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_currency_rate_CZK</targetReference>
            </connector>
            <label>CZK</label>
        </rules>
        <rules>
            <name>HUF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HUF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HONGRIE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_currency_rate_HUF</targetReference>
            </connector>
            <label>HUF</label>
        </rules>
        <rules>
            <name>PLN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pays__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POLOGNE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_currency_rate_PLN</targetReference>
            </connector>
            <label>PLN</label>
        </rules>
        <rules>
            <name>Euro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EUROUpdate</targetReference>
            </connector>
            <label>Euro</label>
        </rules>
    </decisions>
    <description>Ajout des USA dans la branche avec 0 de ND cover</description>
    <environments>Default</environments>
    <formulas>
        <name>NDCover_BGN</name>
        <dataType>Currency</dataType>
        <expression>{!Get_currency_rate_BGN.ConversionRate} * 7000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NDCover_CHF</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!$Label.NDCover_CHF})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NDCover_CZK</name>
        <dataType>Currency</dataType>
        <expression>{!Get_currency_rate_CZK.ConversionRate} * 7000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NDCover_Dollar</name>
        <dataType>Currency</dataType>
        <expression>{!Get_currency_rate_USD.ConversionRate} * 7000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NDCover_Euro_France</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!$Label.NDCover_Euro_France})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NDCOver_GBP</name>
        <dataType>Currency</dataType>
        <expression>{!Get_CUrrency_echnage_GBP.ConversionRate} * 7000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NDCover_HUF</name>
        <dataType>Currency</dataType>
        <expression>{!Get_currency_rate_HUF.ConversionRate} * 7000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NDCover_MAD</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!$Label.NDCover_MAD})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NDCover_PLN</name>
        <dataType>Currency</dataType>
        <expression>{!Get_currency_rate_PLN.ConversionRate} * 7000</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FluxTrigger_NDCover {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FluxTrigger_NDCover</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CUrrency_echnage_GBP</name>
        <label>Get CUrrency echnage - GBP</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GBP_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_currency_rate_BGN</name>
        <label>Get currency rate - BGN</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BGNupdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BGN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_currency_rate_CZK</name>
        <label>Get currency rate - CZK</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CZKUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CZK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_currency_rate_HUF</name>
        <label>Get currency rate - HUF</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HUFUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HUF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_currency_rate_PLN</name>
        <label>Get currency rate - PLN</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PLN_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PLN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_currency_rate_USD</name>
        <label>Get currency rate - USD</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>USD_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BGNupdate</name>
        <label>BGN</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ND_Cover__c</field>
            <value>
                <elementReference>NDCover_BGN</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CZKUpdate</name>
        <label>CZK</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ND_Cover__c</field>
            <value>
                <elementReference>NDCover_CZK</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EURO_France</name>
        <label>EURO &lt;&gt; France</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ND_Cover__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EUROUpdate</name>
        <label>EURO</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ND_Cover__c</field>
            <value>
                <elementReference>NDCover_Euro_France</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GBP_update</name>
        <label>GBP</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ND_Cover__c</field>
            <value>
                <elementReference>NDCOver_GBP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>HUFUpdate</name>
        <label>HUF</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ND_Cover__c</field>
            <value>
                <elementReference>NDCover_HUF</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PLN_Update</name>
        <label>PLN</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ND_Cover__c</field>
            <value>
                <elementReference>NDCover_PLN</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USD_update</name>
        <label>USD</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ND_Cover__c</field>
            <value>
                <elementReference>NDCover_Dollar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
        <filterFormula>OR
( 
ISNEW(),
AND
(
NOT(ISNEW())
, 
OR(ISCHANGED({!$Record.IdentifiantNational__c}), ISCHANGED({!$Record.Pays__c}),ISCHANGED({!$Record.CurrencyIsoCode}))
)
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MontantNDCover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
