unpackaged/main/default/flows/FluxTrigger_StatutsMission_TimeStampOT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>OT_En_cours_Date_transmission</name>
        <label>OT En cours + Date transmission</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_OT.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_OT.Date_Heure_De_transmission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_Heure_Realisation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OT_En_cours_Date_transmission_0</name>
        <label>OT Date de transmission</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_OT.Date_Heure_De_transmission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_Heure_Realisation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Recordtype</name>
        <label>Recordtype</label>
        <locationX>1062</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Transmission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Heure_Realisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Miss_TransmissionAppel_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OT</targetReference>
            </connector>
            <label>Transmission</label>
        </rules>
        <rules>
            <name>Depart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Heure_Realisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Miss_DepartIntervention_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OT_D_part</targetReference>
            </connector>
            <label>Départ</label>
        </rules>
        <rules>
            <name>Arrivee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Heure_Realisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Miss_ArriveeSurPlace_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OT_Arriv_e</targetReference>
            </connector>
            <label>Arrivée</label>
        </rules>
        <rules>
            <name>Fin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Heure_Realisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Miss_FinIntervention_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OT_Fin</targetReference>
            </connector>
            <label>Fin</label>
        </rules>
        <rules>
            <name>Retour</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Heure_Realisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Miss_Retour_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OT_Retour</targetReference>
            </connector>
            <label>Retour</label>
        </rules>
    </decisions>
    <decisions>
        <name>Statut_OT</name>
        <label>Statut OT</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_OT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Novueau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OT.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nouveau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OT_En_cours_Date_transmission</targetReference>
            </connector>
            <label>Nouveau</label>
        </rules>
        <rules>
            <name>Not_Nouveau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OT.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nouveau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OT_En_cours_Date_transmission_0</targetReference>
            </connector>
            <label>Not Nouveau</label>
        </rules>
    </decisions>
    <description>A la clôture d&#39;une mission,copier la date renseignée sur l&#39;ordre de travail dans le champ correspondant</description>
    <environments>Default</environments>
    <interviewLabel>FluxTrigger_StatutsMission_TimeStampOT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FluxTrigger_StatutsMission_TimeStampOT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OT</name>
        <label>Get OT</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Statut_OT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>OT_Arriv_e</name>
        <label>OT Arrivée</label>
        <locationX>1018</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Heure_Arrivee__c</field>
            <value>
                <elementReference>$Record.Date_Heure_Realisation__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>OT_D_part</name>
        <label>OT Départ</label>
        <locationX>754</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Heure_Depart__c</field>
            <value>
                <elementReference>$Record.Date_Heure_Realisation__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>OT_Fin</name>
        <label>OT Fin</label>
        <locationX>1282</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Heure_Fin__c</field>
            <value>
                <elementReference>$Record.Date_Heure_Realisation__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>OT_Retour</name>
        <label>OT Retour</label>
        <locationX>1546</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Heure_Retour__c</field>
            <value>
                <elementReference>$Record.Date_Heure_Realisation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Retour_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OT</name>
        <label>Update OT</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <inputReference>Get_OT</inputReference>
    </recordUpdates>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recordtype</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
