unpackaged/main/default/flows/Flux_Trigger_Event_Last_activit_Date_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Copier_1_sur_Date_renseign_e_sur_la_SAD_est_inf_rieur_now</name>
        <label>Date renseignée sur la SAD &amp; compte est inférieur à now</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Copier_4_sur_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.SalesAreaData__r.Date_de_derniere_activite_SAD__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Account.Derniere_activite_sur_le_compte__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Update_Date_Heure_derni_re_activit_sur_la_sad</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Copier_4_sur_Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp.SalesAreaData__r.Date_de_derniere_activite_SAD__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opp.Account.Derniere_activite_sur_le_compte__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copier_1_sur_Date_renseign_e_sur_le_compte_est_inf_rieur_now</name>
        <label>Date renseignée sur le compte est inférieur à now</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Copier_1_sur_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Derniere_activite_sur_le_compte__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Update_Date_Heure_derni_re_activit_sur_le_compte</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Copier_1_sur_Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Derniere_activite_sur_le_compte__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copier_2_sur_Date_renseign_e_sur_le_compte_est_inf_rieur_now</name>
        <label>Date renseignée sur la SAD est inférieur à now</label>
        <locationX>2294</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Copier_2_sur_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SAD.Date_de_derniere_activite_SAD__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_2_sur_Update_Date_Heure_derni_re_activit_sur_le_compte</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Copier_2_sur_Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SAD.Date_de_derniere_activite_SAD__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copier_3_sur_Date_renseign_e_sur_le_compte_est_inf_rieur_now</name>
        <label>Date renseignée sur le compte est inférieur à now</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Copier_3_sur_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SAD.Account__r.Derniere_activite_sur_le_compte__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_3_sur_Update_Date_Heure_derni_re_activit_sur_le_compte</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Copier_3_sur_Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SAD.Account__r.Derniere_activite_sur_le_compte__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Type</name>
        <label>Object Type</label>
        <locationX>1304</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_SAD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SAD</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recordtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Date_renseign_e_sur_le_compte_est_inf_rieur_now</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recordtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunité</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>Date/Heure de création/Modification évènement sur compte ou objet associé (Opportunité/Contact)</description>
    <environments>Default</environments>
    <formulas>
        <name>Recordtype</name>
        <dataType>String</dataType>
        <expression>IF(
    LEFT({!$Record.WhatId}, 3) = &quot;&quot;,
    &quot;Null&quot;,
IF(
    LEFT({!$Record.WhatId}, 3) = &quot;001&quot;,
    &quot;Compte&quot;,
IF(
     LEFT({!$Record.WhatId}, 3) = &quot;006&quot;,
     &quot;Opportunité&quot;,
     &quot;SAD&quot;
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Flux Trigger Event - Last activité Date/Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flux Trigger Event - Last activité Date/Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copier_1_sur_Date_renseign_e_sur_la_SAD_est_inf_rieur_now</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAD</name>
        <label>Get SAD</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copier_2_sur_Date_renseign_e_sur_le_compte_est_inf_rieur_now</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copier_1_sur_Update_Date_Heure_derni_re_activit_sur_la_sad</name>
        <label>Update Date/Heure dernière activité sur la sad</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copier_2_sur_Update_Date_Heure_derni_re_activit_sur_la_sad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.SalesAreaData__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_de_derniere_activite_SAD__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SalesAreaData__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copier_1_sur_Update_Date_Heure_derni_re_activit_sur_le_compte</name>
        <label>Update Date/Heure dernière activité sur le compte</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Derniere_activite_sur_le_compte__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copier_2_sur_Update_Date_Heure_derni_re_activit_sur_la_sad</name>
        <label>Update Date/Heure dernière activité sur le compte</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opp.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Derniere_activite_sur_le_compte__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copier_2_sur_Update_Date_Heure_derni_re_activit_sur_le_compte</name>
        <label>Update Date/Heure dernière activité sur la sad</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copier_3_sur_Date_renseign_e_sur_le_compte_est_inf_rieur_now</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SAD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_de_derniere_activite_SAD__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SalesAreaData__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copier_3_sur_Update_Date_Heure_derni_re_activit_sur_le_compte</name>
        <label>Update Date/Heure dernière activité sur le compte</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SAD.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Derniere_activite_sur_le_compte__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
