unpackaged/main/default/flows/FluxTrigger_Validation_automatique_Administration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Statut_Valid</name>
        <label>Statut = Validé</label>
        <locationX>594</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>$Record.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SIREN_9</name>
        <label>SIREN = 9 &amp; Client</label>
        <locationX>553</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Taille_IdentifiantNational</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ACC_RecordTypeId_CompteClient</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactif</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statut_Valid</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>GFC-1034</description>
    <environments>Default</environments>
    <formulas>
        <name>Taille_IdentifiantNational</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.IdentifiantNational__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FluxTrigger_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FluxTrigger_Validation_automatique_Administration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>928</locationX>
        <locationY>100</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>80</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>SIREN_9</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 7) AND (4 OR 5) AND 6</filterLogic>
        <filters>
            <field>IdentifiantNational__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Validé CM</stringValue>
            </value>
        </filters>
        <filters>
            <field>IdentifiantNational__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>IdentifiantNational__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>TypeIdentifiantNational__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SIREN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactif</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
