unpackaged/main/default/flows/Flux_Depannage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Parc_RecordType</name>
        <label>Parc RecordType</label>
        <locationX>626</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>RecordType_Container</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Asset.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Parc_RecordTypeID_Container</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Depannage_Container</targetReference>
            </connector>
            <label>RecordType Container</label>
        </rules>
        <rules>
            <name>RecordType_Parc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Asset.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Parc_RecordTypeID_Parc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Depannage_Parc</targetReference>
            </connector>
            <label>RecordType Parc</label>
        </rules>
    </decisions>
    <description>Création Dépannage</description>
    <formulas>
        <name>Case_RecordTypeID_Depannage_Vehicule</name>
        <dataType>String</dataType>
        <expression>{!$Label.Case_RecordTypeID_Depannage_Vehicule}</expression>
    </formulas>
    <formulas>
        <name>Case_RecordTypeID_DepannageContainer</name>
        <dataType>String</dataType>
        <expression>{!$Label.Case_RecordTypeID_Depannage_Container}</expression>
    </formulas>
    <formulas>
        <name>Parc_RecordTypeID_Container</name>
        <dataType>String</dataType>
        <expression>{!$Label.Parc_Container_RecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>Parc_RecordTypeID_Parc</name>
        <dataType>String</dataType>
        <expression>{!$Label.Parc_RecordTypeId}</expression>
    </formulas>
    <interviewLabel>Flux Depannage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flux Depannage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Depannage_Container</name>
        <label>Dépannage Container</label>
        <locationX>280</locationX>
        <locationY>373</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_Intervenante__c</field>
            <value>
                <elementReference>GET_Asset.Agence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_proprietaire__c</field>
            <value>
                <elementReference>GET_Asset.Agence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>GET_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_RecordTypeID_DepannageContainer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Email_Agence__c</field>
            <value>
                <elementReference>GET_Asset.Agence__r.EmailPrincipal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Flow_Identifier__c</field>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Depannage_Parc</name>
        <label>Dépannage Parc</label>
        <locationX>1057</locationX>
        <locationY>359</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GET_Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_Intervenante__c</field>
            <value>
                <elementReference>GET_Asset.Agence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_proprietaire__c</field>
            <value>
                <elementReference>GET_Asset.Agence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>GET_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Case_RecordTypeID_Depannage_Vehicule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Email_Agence__c</field>
            <value>
                <elementReference>GET_Asset.Agence__r.EmailPrincipal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Flow_Identifier__c</field>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>GET_Asset</name>
        <label>GET Asset</label>
        <locationX>633</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parc_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>626</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>GET_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Asset_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TheAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>UniqueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
