unpackaged/main/default/flows/Initialisation_commandes_fournisseur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_singleOrder_to_Collection</name>
        <label>Add singleOrder to Collection</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>OrdersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOrderToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>verification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_singleOrder_to_Collection_0</name>
        <label>Add singleOrder to Collection</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>OrdersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOrderToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_devis_parc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_singleOrder_to_Collection_0_0</name>
        <label>Add singleOrder to Collection</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>OrdersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOrderToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>verification_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_the_OPP_OrderIN</name>
        <label>Check the OPP OrderIN</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Get_oppt.OrdersIn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_the_OPP_OrderIN_0</name>
        <label>Check the OPP OrderIN</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Get_oppt.OrdersIn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OPP_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SingleOrder</name>
        <label>Create SingleOrder</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_DEVIS_SYNCHRO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Commande_Fournisseur_RecordtypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Créée</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>variable_dincrementation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SingleOrder_0</name>
        <label>Create SingleOrder</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_DEVIS_SYNCHRO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Commande_Fournisseur_RecordtypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Créée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.Parc_pressenti__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_devis_parc.Parc__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>variable_dincrementation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SingleOrder_0_0</name>
        <label>Create SingleOrder</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_oppt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_DEVIS_SYNCHRO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Commande_Fournisseur_RecordtypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Créée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderToCreate.Parc_pressenti__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_devis_parc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>variable_dincrementation_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>variable_dincrementation</name>
        <label>variable d&#39;incrémentation</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_singleOrder_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>variable_dincrementation_0</name>
        <label>variable d&#39;incrémentation</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_singleOrder_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>variable_dincrementation_0_0</name>
        <label>variable d&#39;incrémentation</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_singleOrder_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>id</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>222.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Devis_parcs_exists</name>
        <label>Devis parcs exists?</label>
        <locationX>974</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Devis_parc_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_devis_parc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boucle_devis_parc</targetReference>
            </connector>
            <label>Devis parc exists</label>
        </rules>
        <rules>
            <name>Devis_parc_Doesn_t_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_devis_parc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SingleOrder</targetReference>
            </connector>
            <label>Devis parc Doesn&#39;t exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Orders_exists</name>
        <label>Old Orders exists?</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Old_Orders_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Old_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FluxAL_DeleteAssociatedOPP</targetReference>
            </connector>
            <label>Old_Orders yes</label>
        </rules>
        <rules>
            <name>Old_Orders_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Old_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Devis_parcs_exists</targetReference>
            </connector>
            <label>Old_Orders No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RNV</name>
        <label>RNV?</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>RNV_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_oppt.TypeOpportunite__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RNV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_oppt.PaysRegionPF__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <label>RNV Oui hors USA</label>
        </rules>
        <rules>
            <name>RNV_NON</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_oppt.TypeOpportunite__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>RNV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_oppt.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OLD_Orders</targetReference>
            </connector>
            <label>RNV NON</label>
        </rules>
    </decisions>
    <decisions>
        <name>verification</name>
        <label>vérification</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>egale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GET_DEVIS_SYNCHRO.Quantite__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mass_Create_Orders</targetReference>
            </connector>
            <label>egale</label>
        </rules>
        <rules>
            <name>not_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GET_DEVIS_SYNCHRO.Quantite__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_SingleOrder</targetReference>
            </connector>
            <label>not equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>verification_0_0</name>
        <label>vérification</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>egale_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GET_DEVIS_SYNCHRO.Quantite__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mass_Create_Orders_0_0</targetReference>
            </connector>
            <label>egale</label>
        </rules>
        <rules>
            <name>not_equal_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GET_DEVIS_SYNCHRO.Quantite__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SingleOrder_0_0</targetReference>
            </connector>
            <label>not equal</label>
        </rules>
    </decisions>
    <description>GFC-444
Ajout Devis synchronisé
GFC-540 &amp; GFC-556
GFC-561 &amp; GFC-553
Bulk Insert</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Initialisation commandes fournisseur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initialisation commandes fournisseur</label>
    <loops>
        <name>Boucle_devis_parc</name>
        <label>Boucle devis parc</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <collectionReference>Get_devis_parc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_SingleOrder_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>verification_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Mass_Create_Orders</name>
        <label>Mass Create Orders</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Check_the_OPP_OrderIN</targetReference>
        </connector>
        <inputReference>OrdersToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Mass_Create_Orders_0_0</name>
        <label>Mass Create Orders</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Check_the_OPP_OrderIN_0</targetReference>
        </connector>
        <inputReference>OrdersToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Orders</name>
        <label>Delete Old Orders</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Devis_parcs_exists</targetReference>
        </connector>
        <inputReference>Old_Orders</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_devis_parc</name>
        <label>Get devis parc</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RNV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Devis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_DEVIS_SYNCHRO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Devis_Parc__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get le devis synchronisé sur l&#39;opportunité</description>
        <name>GET_DEVIS_SYNCHRO</name>
        <label>GET DEVIS SYNCHRO</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_devis_parc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_opp</elementReference>
            </value>
        </filters>
        <filters>
            <field>Synchronise__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OLD_Orders</name>
        <label>Get OLD Orders</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Orders_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_opp</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Commande_Fournisseur_RecordtypeId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Old_Orders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Parc_pressenti__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_oppt</name>
        <label>Get oppt</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_DEVIS_SYNCHRO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_opp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OPP</name>
        <label>Update OPP</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <inputReference>Get_oppt</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_0</name>
        <label>Update OPP</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <inputReference>Get_oppt</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_oppt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FluxAL_DeleteAssociatedOPP</name>
        <label>FluxAL_DeleteAssociatedOPP</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Delete_Old_Orders</targetReference>
        </connector>
        <flowName>FluxAL_DeleteAssociatedOPP</flowName>
        <inputAssignments>
            <name>LesOrders</name>
            <value>
                <elementReference>Old_Orders</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>count_Qte</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id_opp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LESPARCS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Liste</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrdersToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Q</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>Qte_opp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleOrderToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>VAR_PARCPRESSENTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
