unpackaged/main/default/flows/JOB_SADRDD_FactureVehicule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>ST_OU_PF</name>
        <label>ST OU PF</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>ST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parc__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD_ST</targetReference>
            </connector>
            <label>ST</label>
        </rules>
        <rules>
            <name>PF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parc__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD_PF</targetReference>
            </connector>
            <label>PF</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>JOB_SADRDD_FactureVehicule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JOB_SADRDD_FactureVehicule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_SAD_PF</name>
        <label>GET SAD PF</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Compte__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Petit Forestier</stringValue>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Frigorifiques</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD_ST</name>
        <label>GET SAD ST</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Compte__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Secs</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalEntityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zefirent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ST_OU_PF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAreaData__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Facture_vehicule__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-23</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
