unpackaged/main/default/flows/Job_SADRDD_CondFinancieres.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Migrer les Records conditions financières sur les SA et SAD Correspodantes</description>
    <environments>Default</environments>
    <interviewLabel>Job_SADRDD_CondFinancieres {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job_SADRDD_CondFinancieres</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_SAD</name>
        <label>GET SAD</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Migrate_Cond_fi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Containers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Migrate_Cond_fi</name>
        <label>Migrate Cond fi</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesArea__c</field>
            <value>
                <elementReference>GET_SAD.SalesArea__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_SAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAreaData__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Dero_Fi__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-23</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
