unpackaged/main/default/flows/JOB_SADRDD_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Quel_SAD_chercher</name>
        <label>Quel SAD chercher?</label>
        <locationX>2558</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>DRO_XX_VF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DRO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Frigorifiques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD1</targetReference>
            </connector>
            <label>DRO XX - VF</label>
        </rules>
        <rules>
            <name>DRO_XX_Containers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DRO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Containers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD2</targetReference>
            </connector>
            <label>DRO XX - Containers</label>
        </rules>
        <rules>
            <name>DRO_XX_VS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DRO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Secs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD3</targetReference>
            </connector>
            <label>DRO XX - VS</label>
        </rules>
        <rules>
            <name>PFM_ou_DRO_XX_Meuble</name>
            <conditionLogic>(1 OR 2) AND  3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DRO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meubles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD4</targetReference>
            </connector>
            <label>PFM ou DRO XX - Meuble</label>
        </rules>
        <rules>
            <name>STFR_XX_VF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>STFR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Frigorifiques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD5</targetReference>
            </connector>
            <label>STFR XX - VF</label>
        </rules>
        <rules>
            <name>STFR_XX_VS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>STFR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Secs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD6</targetReference>
            </connector>
            <label>STFR XX - VS</label>
        </rules>
        <rules>
            <name>PIBE_VF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Frigorifiques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD7</targetReference>
            </connector>
            <label>PIBE - VF</label>
        </rules>
        <rules>
            <name>PIBE_VS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Secs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD8</targetReference>
            </connector>
            <label>PIBE - VS</label>
        </rules>
        <rules>
            <name>PIBE_Meubles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meubles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD9</targetReference>
            </connector>
            <label>PIBE - Meubles</label>
        </rules>
        <rules>
            <name>PIBE_Container</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Containers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD10</targetReference>
            </connector>
            <label>PIBE - Container</label>
        </rules>
        <rules>
            <name>Autres_VF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Frigorifiques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD11</targetReference>
            </connector>
            <label>Autres - VF</label>
        </rules>
        <rules>
            <name>Autres_VS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Secs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD12</targetReference>
            </connector>
            <label>Autres - VS</label>
        </rules>
        <rules>
            <name>Autres_Containers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Containers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD13</targetReference>
            </connector>
            <label>Autres - Containers</label>
        </rules>
        <rules>
            <name>Autres_Meubles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>PI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meubles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD14</targetReference>
            </connector>
            <label>Autres - Meubles</label>
        </rules>
        <rules>
            <name>PFUK_VF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFUK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Frigorifiques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD15</targetReference>
            </connector>
            <label>PFUK - VF</label>
        </rules>
        <rules>
            <name>PFUK_VS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFUK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Secs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD16</targetReference>
            </connector>
            <label>PFUK - VS</label>
        </rules>
        <rules>
            <name>PFUK_Containers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PFUK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Containers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD17</targetReference>
            </connector>
            <label>PFUK - Containers</label>
        </rules>
        <rules>
            <name>USA_VF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Frigorifiques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD18</targetReference>
            </connector>
            <label>USA - VF</label>
        </rules>
        <rules>
            <name>USA_VS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Secs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SAD19</targetReference>
            </connector>
            <label>USA - VS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>JobRDD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JOB_SADRDD_Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_SAD1</name>
        <label>GET SAD 1</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Frigorifiques</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalEntityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Petit Forestier Location</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD10</name>
        <label>GET SAD 10</label>
        <locationX>2426</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Containers</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Belgique</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD11</name>
        <label>GET SAD 11</label>
        <locationX>2690</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Frigorifiques</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFRegion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PaysRegionPF__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD12</name>
        <label>GET SAD 12</label>
        <locationX>2954</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules secs</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFRegion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PaysRegionPF__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD13</name>
        <label>GET SAD 13</label>
        <locationX>3218</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Containers</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFRegion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PaysRegionPF__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD14</name>
        <label>GET SAD 14</label>
        <locationX>3482</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_14</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meubles</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFRegion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PaysRegionPF__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD15</name>
        <label>GET SAD 15</label>
        <locationX>3746</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_15</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Frigorifiques</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ROYAUME UNI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD16</name>
        <label>GET SAD 16</label>
        <locationX>4010</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_16</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Secs</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ROYAUME UNI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD17</name>
        <label>GET SAD 17</label>
        <locationX>4274</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_17</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Containers</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ROYAUME UNI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD18</name>
        <label>GET SAD 18</label>
        <locationX>4538</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_18</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Frigorifiques</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalEntityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mendon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD19</name>
        <label>GET SAD 19</label>
        <locationX>4802</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_19</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Secs</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalEntityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mendon</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD2</name>
        <label>GET SAD 2</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Containers</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFRegion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalEntityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Petit Forestier Containers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD3</name>
        <label>GET SAD 3</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Secs</stringValue>
            </value>
        </filters>
        <filters>
            <field>PFRegion__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalEntityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stricher</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD4</name>
        <label>GET SAD 4</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meubles</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD5</name>
        <label>GET SAD 5</label>
        <locationX>1106</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Frigorifiques</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalEntityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stricher</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD6</name>
        <label>GET SAD 6</label>
        <locationX>1370</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Secs</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </filters>
        <filters>
            <field>LegalEntityName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stricher</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD7</name>
        <label>GET SAD 7</label>
        <locationX>1634</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Frigorifiques</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Belgique</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD8</name>
        <label>GET SAD 8</label>
        <locationX>1898</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Véhicules Secs</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Belgique</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SAD9</name>
        <label>GET SAD 9</label>
        <locationX>2162</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meubles</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pays_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Belgique</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Opp</name>
        <label>update Opp</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP2</name>
        <label>Update OPP</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP3</name>
        <label>Update OPP</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP4</name>
        <label>Update OPP</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD4.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP5</name>
        <label>Update OPP</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD5.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP6</name>
        <label>Update OPP</label>
        <locationX>1370</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD6.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP7</name>
        <label>Update OPP</label>
        <locationX>1634</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD7.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_10</name>
        <label>Update OPP 10</label>
        <locationX>2426</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD10.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_11</name>
        <label>Update OPP 11</label>
        <locationX>2690</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD11.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_12</name>
        <label>Update OPP 12</label>
        <locationX>2954</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD12.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_13</name>
        <label>Update OPP 13</label>
        <locationX>3218</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD13.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_14</name>
        <label>Update OPP 14</label>
        <locationX>3482</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD14.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_15</name>
        <label>Update OPP 15</label>
        <locationX>3746</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD15.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_16</name>
        <label>Update OPP 16</label>
        <locationX>4010</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD16.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_17</name>
        <label>Update OPP 17</label>
        <locationX>4274</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD17.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_18</name>
        <label>Update OPP 18</label>
        <locationX>4538</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD18.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_19</name>
        <label>Update OPP 19</label>
        <locationX>4802</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD19.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_8</name>
        <label>Update OPP 8</label>
        <locationX>1898</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD8.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_9</name>
        <label>Update OPP 9</label>
        <locationX>2162</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>SalesAreaData__c</field>
            <value>
                <elementReference>GET_SAD9.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2432</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quel_SAD_chercher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAreaData__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-11-22</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
