unpackaged/main/default/flows/MOON_29_Notes_SatisfactionClient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Can_Change</name>
        <label>Can Change</label>
        <locationX>628</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Ecran_Display_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>User_ProfilID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USR_ProfileId_PFCommunityPlusClientAccount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfilID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USR_ProfileId_PFCommunityPlusSiteAccount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfilID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USR_ProfileId_PFCommunityPlusUltimateAccount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfilID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.USR_ProfileId_PFAdministrateurSysteme</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfilID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.USR_ProfileId_PFColdline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Display</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Afficher les notes de la requête avec ecran de modification
+ Traductions
+ GFS-1056
+ GFS-1088</description>
    <environments>Default</environments>
    <formulas>
        <name>User_ProfilID</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <formulas>
        <name>User_ProfilId_Admin</name>
        <dataType>String</dataType>
        <expression>{!$Label.USR_ProfileId_PFAdministrateurSysteme}</expression>
    </formulas>
    <formulas>
        <name>User_ProfilId_Community</name>
        <dataType>String</dataType>
        <expression>{!$Label.USR_ProfileId_PFCommunityPlusPF2}</expression>
    </formulas>
    <formulas>
        <name>USR_ProfileId_PFCommunityPlusClientAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.USR_ProfileId_PFCommunityPlusClientAccount}</expression>
    </formulas>
    <formulas>
        <name>USR_ProfileId_PFCommunityPlusSiteAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.USR_ProfileId_PFCommunityPlusSiteAccount}</expression>
    </formulas>
    <formulas>
        <name>USR_ProfileId_PFCommunityPlusUltimateAccount</name>
        <dataType>String</dataType>
        <expression>{!$Label.USR_ProfileId_PFCommunityPlusUltimateAccount}</expression>
    </formulas>
    <formulas>
        <name>VAR_LABEL_Delai_Intervention</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow29_Delai_intervention}</expression>
    </formulas>
    <formulas>
        <name>VAR_LABEL_NOTEGLOBALE</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow29_Note_Globale}</expression>
    </formulas>
    <formulas>
        <name>VAR_LABEL_Qualite_Intervention</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow29_Qualite_intervention}</expression>
    </formulas>
    <formulas>
        <name>VAR_LABEL_Relation_technicien</name>
        <dataType>String</dataType>
        <expression>{!$Label.Flow29_Relation_technicien}</expression>
    </formulas>
    <interviewLabel>MOON_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MOON_29_Notes_SatisfactionClient</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_CASE</name>
        <label>GET CASE</label>
        <locationX>140</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>THECASE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Note_Globale__c</queriedFields>
        <queriedFields>Delais_intervention__c</queriedFields>
        <queriedFields>Qualite_intervention__c</queriedFields>
        <queriedFields>Relation_avec_le_technicien__c</queriedFields>
        <queriedFields>Note_Globale_Value__c</queriedFields>
        <queriedFields>Delais_intervention_Value__c</queriedFields>
        <queriedFields>Qualite_intervention_Value__c</queriedFields>
        <queriedFields>Relation_avec_le_technicien_Value__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_NOTES</name>
        <label>UPDATE NOTES</label>
        <locationX>747</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>GET_CASE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_de_notation__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delais_intervention_Value__c</field>
            <value>
                <elementReference>VAR_Delais_Intervention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notation_effectuee_par__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note_Globale_Value__c</field>
            <value>
                <elementReference>VAR_Note_Globale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualite_intervention_Value__c</field>
            <value>
                <elementReference>VAR_Qualite_Intervention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_avec_le_technicien_Value__c</field>
            <value>
                <elementReference>VAR_Relation_Technicien</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Ecran_ChangeNotes</name>
        <label>Ecran_ChangeNotes</label>
        <locationX>1044</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UPDATE_NOTES</targetReference>
        </connector>
        <fields>
            <name>Curseur_Note_Globale</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>moyenne</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!VAR_LABEL_NOTEGLOBALE} </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_Note_Globale</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Curseur_Delais_Intervention</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>VAR_LABEL_Delai_Intervention</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>moyenne</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_Delais_Intervention</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Curseur_Qualite_Intervention</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>VAR_LABEL_Qualite_Intervention</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>moyenne</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_Qualite_Intervention</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Curseur_Relation_Technicien</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>VAR_LABEL_Relation_technicien</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>moyenne</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_Relation_Technicien</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Display</name>
        <label>Ecran_Display</label>
        <locationX>1039</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ecran_ChangeNotes</targetReference>
        </connector>
        <fields>
            <name>Display_notes</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!VAR_LABEL_NOTEGLOBALE} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!THECASE.Note_Globale__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!VAR_LABEL_Delai_Intervention}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!THECASE.Delais_intervention__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!VAR_LABEL_Qualite_Intervention}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!THECASE.Qualite_intervention__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!VAR_LABEL_Relation_technicien}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!THECASE.Relation_avec_le_technicien__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Vallider</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Display_0</name>
        <label>Ecran_Display</label>
        <locationX>402</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_CASE</targetReference>
        </connector>
        <fields>
            <name>Display_notes_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!VAR_LABEL_NOTEGLOBALE} &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!THECASE.Note_Globale__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!VAR_LABEL_Delai_Intervention}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!THECASE.Delais_intervention__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!VAR_LABEL_Qualite_Intervention}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!THECASE.Qualite_intervention__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!VAR_LABEL_Relation_technicien}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!THECASE.Relation_avec_le_technicien__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>16</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>GET_CASE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>THECASE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_Delais_Intervention</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_Note_Globale</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_Qualite_Intervention</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_Relation_Technicien</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_Toggle_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
