unpackaged/main/default/flows/MOON_27BIS_PhotosIntervention_Visibility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Exposer les images interventions aux utilisateurs community</description>
    <interviewLabel>MOON_27BIS_PhotosIntervention_Visibility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MOON_27BIS_PhotosIntervention_Visibility</label>
    <loops>
        <name>Les_pictures</name>
        <label>Les pictures</label>
        <locationX>276</locationX>
        <locationY>290</locationY>
        <assignNextValueToReference>ThePic</assignNextValueToReference>
        <collectionReference>IDSPictures</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UPDATE_VISIBILITY</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>942</locationX>
        <locationY>127</locationY>
        <inputReference>docstoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_VISIBILITY</name>
        <label>UPDATE VISIBILITY</label>
        <locationX>272</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Les_pictures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThePic</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordUpdates>
    <startElementReference>Les_pictures</startElementReference>
    <status>Active</status>
    <variables>
        <name>docstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>Extensions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>.jpeg,.png</stringValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDSPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NamesPictures</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ThePic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
