unpackaged/main/default/flows/MOON_07_Fermer_Intervention.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>facturation_choice</name>
        <label>facturation choice</label>
        <locationX>516</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>OT.Warranty_Recharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warranty_ecran</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provisoire_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Cocher le Tag Retour crée sur l&#39;OT</description>
        <name>Retour_created</name>
        <label>Retour created</label>
        <locationX>947</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>TECH_RETOUR_CREATED_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_retour_agence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Cocher le Tag Retour crée sur l&#39;OT</description>
        <name>Retour_created_0</name>
        <label>Retour created</label>
        <locationX>1347</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>TECH_RETOUR_CREATED_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_FIN_INTERVENTION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Cocher le Tag Retour crée sur l&#39;OT à false</description>
        <name>Retour_not_created</name>
        <label>Retour not created</label>
        <locationX>1184</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>TECH_RETOUR_CREATED_VALUE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_FIN_INTERVENTION</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Annule</name>
        <choiceText>{!FlowVar_07_Annule}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FlowVar_07_Annule</elementReference>
        </value>
    </choices>
    <choices>
        <name>Nonabouti</name>
        <choiceText>{!FlowVar_07_NonAbouti}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FlowVar_07_NonAbouti</elementReference>
        </value>
    </choices>
    <choices>
        <name>Termine</name>
        <choiceText>{!FlowVar_07_Termine}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FlowVar_07_Termine</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Fin_Intervention</name>
        <label>Fin Intervention</label>
        <locationX>2083</locationX>
        <locationY>912</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Fin_intervention_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mission.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeId_Fin_Intervention</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Cloture_Mission_Fin</targetReference>
            </connector>
            <label>Fin intervention oui</label>
        </rules>
        <rules>
            <name>Fin_intervention_non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mission.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeId_Fin_Intervention</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Missions</targetReference>
            </connector>
            <label>Fin intervention non</label>
        </rules>
    </decisions>
    <decisions>
        <description>Vérifier si le tag &quot;TECH_Retour_Cree&quot; a été renseigné
Si oui continuer vers l&#39;écran de clôture de l&#39;OT
Sinon continuer sur l&#39;écran de création/Clôture de la mission Retour Agence/Domicile</description>
        <name>Mission_Retour_Existe</name>
        <label>Mission Retour Existe?</label>
        <locationX>1540</locationX>
        <locationY>486</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Retour_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OT.TECH_Retour_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retour_created_0</targetReference>
            </connector>
            <label>Retour existe</label>
        </rules>
        <rules>
            <name>Retour_n_existe_pas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OT.TECH_Retour_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Retour_Agence</targetReference>
            </connector>
            <label>Retour n&#39;existe pas</label>
        </rules>
    </decisions>
    <decisions>
        <name>mobilit</name>
        <label>mobilité</label>
        <locationX>923</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobility_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OT.Agence_en_mobilite__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_depart_0</targetReference>
            </connector>
            <label>Mobility_YES</label>
        </rules>
        <rules>
            <name>Mobility_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OT.Agence_en_mobilite__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_depart</targetReference>
            </connector>
            <label>Mobility_NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si le statut de l&#39;OT est clôturé -&gt; Afficher l&#39;écran de fin 
Sinon continuer</description>
        <name>OT_Status</name>
        <label>OT Status</label>
        <locationX>807</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>En_cours</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>OT.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OT.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nouveau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mobilit</targetReference>
            </connector>
            <label>Nouveau/En cours</label>
        </rules>
        <rules>
            <name>closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OT.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OT.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nouveau</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EcranFin</targetReference>
            </connector>
            <label>Clôturé</label>
        </rules>
    </decisions>
    <decisions>
        <description>Statut provisoire ou non?</description>
        <name>Provisoire</name>
        <label>Provisoire</label>
        <locationX>140</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>provisoire_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Depannage_provisoire_toggle_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OT_Provisoire</targetReference>
            </connector>
            <label>provisoire true</label>
        </rules>
        <rules>
            <name>provisoire_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Depannage_provisoire_toggle_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_OT</targetReference>
            </connector>
            <label>provisoire false</label>
        </rules>
    </decisions>
    <decisions>
        <description>Statut provisoire ou non?</description>
        <name>Provisoire_0</name>
        <label>Provisoire</label>
        <locationX>509</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>provisoire_true_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Depannage_provisoire_toggle_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OT_Provisoire_0</targetReference>
            </connector>
            <label>provisoire true</label>
        </rules>
        <rules>
            <name>provisoire_false_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Depannage_provisoire_toggle_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_OT_0</targetReference>
            </connector>
            <label>provisoire false</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la liste des missions est vide continuer directement vers la clôture de l&#39;OT
Sinon afficher les écrans de clôture de chaque mission &quot;A faire&quot;</description>
        <name>Realises</name>
        <label>Réalisés</label>
        <locationX>2077</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>ALL_DONE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListeMissions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mission_Retour_Existe</targetReference>
            </connector>
            <label>ALL DONE</label>
        </rules>
        <rules>
            <name>NOT_ALL_DONE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListeMissions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Boucler</targetReference>
            </connector>
            <label>NOT ALL DONE</label>
        </rules>
    </decisions>
    <decisions>
        <description>L&#39;utilisateur a choisi de créer la mission Retour Agence/Domicile??</description>
        <name>Retour</name>
        <label>Retour?</label>
        <locationX>1174</locationX>
        <locationY>1081</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Toggle_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Toggle_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Retour_Agence</targetReference>
            </connector>
            <label>Toggle_oui</label>
        </rules>
        <rules>
            <name>Toggle_non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Toggle_value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retour_not_created</targetReference>
            </connector>
            <label>Toggle_non</label>
        </rules>
    </decisions>
    <decisions>
        <name>UK_Users</name>
        <label>UK Users</label>
        <locationX>903</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>si_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OT.Owner_ProfileID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_UK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_Recharge_ecran</targetReference>
            </connector>
            <label>si oui</label>
        </rules>
        <rules>
            <name>si_non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OT.Owner_ProfileID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Profile_UK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provisoire</targetReference>
            </connector>
            <label>si non</label>
        </rules>
    </decisions>
    <description>add new fct for UK users + les agences en mobilité2
Correction bug date de fin = date arrivée</description>
    <dynamicChoiceSets>
        <name>Choix_ListeStatuts</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Warranty_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Warranty_Recharge__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FlowVar_07_AllDone</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_AllDone}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_Annule</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_Annule}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_DepannageProvisoire</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_DepannageProvisoire}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_Depart</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_Depart}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_MissionRetourAgenceTitre</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_MissionRetourAgenceTitre}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_Non</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_Non}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_NonAbouti</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_NonAbouti}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_Oui</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_Oui}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_Oui_Non</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_Oui_Non}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_RetourAgence</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_RetourAgence}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_07_Termine</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_07_Termine}</expression>
    </formulas>
    <formulas>
        <name>Profile_UK</name>
        <dataType>String</dataType>
        <expression>{!$Label.USR_ProfileId_PFService_UK}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeId_Fin_Intervention</name>
        <dataType>String</dataType>
        <expression>{!$Label.Miss_FinIntervention_RecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>RecordTypeId_Retour_agence</name>
        <dataType>String</dataType>
        <expression>{!$Label.Miss_Retour_RecordTypeId}</expression>
    </formulas>
    <interviewLabel>MOON_07_Fermer_Intervention {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MOON_07_Fermer_Intervention</label>
    <loops>
        <description>Boucler sur les missions &quot;A faire&quot; pour les clôturer</description>
        <name>Boucler</name>
        <label>Boucler</label>
        <locationX>2064</locationX>
        <locationY>496</locationY>
        <assignNextValueToReference>Mission</assignNextValueToReference>
        <collectionReference>ListeMissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fin_Intervention</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mission_Retour_Existe</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_retour_agence</name>
        <label>Création retour agence</label>
        <locationX>980</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>GET_FIN_INTERVENTION</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Heure_Realisation__c</field>
            <value>
                <elementReference>Date_Heure_Retour_agence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_retour_agence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId_Retour_agence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Réalisé</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>GET_Commentaire_coldline</name>
        <label>GET Commentaire coldline</label>
        <locationX>1241</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ecran_Cloture_OT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>Commentaire_Coldline</assignToReference>
            <field>Commentaires_Coldline__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Récupérer les travaux réalisées depuis la mission fin d&#39;intervention pour les pré-renseignés dans l&#39;écran de clôture OT.</description>
        <name>GET_FIN_INTERVENTION</name>
        <label>GET FIN INTERVENTION</label>
        <locationX>1185</locationX>
        <locationY>598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Commentaire_coldline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_Fin_Intervention</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OT.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>Mission_FinIntervention</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get les missions de l&#39;OT dont le statut est &quot;A faire&quot;</description>
        <name>GET_MISSIONS</name>
        <label>GET MISSIONS A faire</label>
        <locationX>1475</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Realises</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A faire</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>ListeMissions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Date_Heure_Realisation__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>Titre_de_la_mission__c</queriedFields>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get l&#39;ordre de travail et les champs nécessaires pour l’exécution de ce flux</description>
        <name>GET_OT</name>
        <label>GET OT</label>
        <locationX>815</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OT_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>OT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Origine__c</queriedFields>
        <queriedFields>type_OE__c</queriedFields>
        <queriedFields>Anomalie__c</queriedFields>
        <queriedFields>Precisions_Long__c</queriedFields>
        <queriedFields>TECH_Retour_Created__c</queriedFields>
        <queriedFields>Warranty_Recharge__c</queriedFields>
        <queriedFields>Owner_ProfileID__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Agence_en_mobilite__c</queriedFields>
        <queriedFields>Commentaires_Coldline__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Clôturer la mission en cours de la boucle</description>
        <name>Update_Mission</name>
        <label>Update Mission</label>
        <locationX>2306</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Boucler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mission.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Heure_Realisation__c</field>
            <value>
                <elementReference>Date_Heure_Realisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Réalisé</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <description>Clôturer la mission fin d&#39;intervention</description>
        <name>Update_Mission_Fin</name>
        <label>Update Mission Fin</label>
        <locationX>1876</locationX>
        <locationY>640</locationY>
        <connector>
            <targetReference>Boucler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mission.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Heure_Realisation__c</field>
            <value>
                <elementReference>Date_Heure_Realisation_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Travaux_realisees_FinIntervention_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Réalisé</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_OT</name>
        <label>UPDATE OT</label>
        <locationX>49</locationX>
        <locationY>658</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anomalie__c</field>
            <value>
                <elementReference>Anomalie_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origine__c</field>
            <value>
                <elementReference>Origine_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precisions_Long__c</field>
            <value>
                <elementReference>precisions_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Statut_OT_Choix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Retour_Created__c</field>
            <value>
                <elementReference>TECH_RETOUR_CREATED_VALUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_OE__c</field>
            <value>
                <elementReference>Type_Value</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_OT_0</name>
        <label>UPDATE OT</label>
        <locationX>373</locationX>
        <locationY>781</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anomalie__c</field>
            <value>
                <elementReference>Anomalie_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origine__c</field>
            <value>
                <elementReference>Origine_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precisions_Long__c</field>
            <value>
                <elementReference>precisions_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Statut_OT_Choix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Retour_Created__c</field>
            <value>
                <elementReference>TECH_RETOUR_CREATED_VALUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Recharge__c</field>
            <value>
                <elementReference>OT.Warranty_Recharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_OE__c</field>
            <value>
                <elementReference>Type_Value</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OT_Provisoire</name>
        <label>Update OT Provisoire</label>
        <locationX>219</locationX>
        <locationY>651</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anomalie__c</field>
            <value>
                <elementReference>Anomalie_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origine__c</field>
            <value>
                <elementReference>Origine_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precisions_Long__c</field>
            <value>
                <elementReference>precisions_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Provisoire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Retour_Created__c</field>
            <value>
                <elementReference>TECH_RETOUR_CREATED_VALUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_OE__c</field>
            <value>
                <elementReference>Type_Value</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OT_Provisoire_0</name>
        <label>Update OT Provisoire</label>
        <locationX>642</locationX>
        <locationY>775</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Anomalie__c</field>
            <value>
                <elementReference>Anomalie_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origine__c</field>
            <value>
                <elementReference>Origine_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precisions_Long__c</field>
            <value>
                <elementReference>precisions_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Provisoire</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Retour_Created__c</field>
            <value>
                <elementReference>TECH_RETOUR_CREATED_VALUE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Recharge__c</field>
            <value>
                <elementReference>OT.Warranty_Recharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_OE__c</field>
            <value>
                <elementReference>Type_Value</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <description>Ecran de clôture de la mission fin d&#39;intervention avec saisi des travaux réalisées</description>
        <name>Ecran_Cloture_Mission_Fin</name>
        <label>Ecran Clôture Mission Fin</label>
        <locationX>1876</locationX>
        <locationY>916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Mission_Fin</targetReference>
        </connector>
        <fields>
            <name>RecordTypeMission_0</name>
            <fieldText>&lt;h4 style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Mission : {!Mission.Titre_de_la_mission__c}&lt;/b&gt;&lt;/h4&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Heure_Realisation_0</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date / Heure Réalisation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Travaux_realisees_FinIntervention_Entry</name>
            <fieldText>Travaux réalisées</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Cloture_OT</name>
        <label>Ecran Clôture OT</label>
        <locationX>1062</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UK_Users</targetReference>
        </connector>
        <fields>
            <name>Statut_OT_Choix</name>
            <choiceReferences>Termine</choiceReferences>
            <choiceReferences>Annule</choiceReferences>
            <choiceReferences>Nonabouti</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Terminé</stringValue>
            </defaultValue>
            <fieldText>Statut</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Depannage_provisoire_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>FlowVar_07_Oui</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>FlowVar_07_Non</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FlowVar_07_DepannageProvisoire</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Depannage_provisoire_toggle_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DependentPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Origine__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>type_OE__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Anomalie__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Origine_Value</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Type_Value</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Anomalie_Value</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>precisions_value</name>
            <defaultValue>
                <stringValue>{!Mission_FinIntervention.Description} {!Commentaire_Coldline}</stringValue>
            </defaultValue>
            <fieldText>Travaux réalisés</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_depart</name>
        <label>Ecran_depart_MobilityNo</label>
        <locationX>1137</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_MISSIONS</targetReference>
        </connector>
        <fields>
            <name>texte_depart2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Texte_Depart}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image_depart_SansMobilite</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Debut_Cloture_intervention_icon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_depart_0</name>
        <label>Ecran_depart_mobility</label>
        <locationX>1144</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_MISSIONS</targetReference>
        </connector>
        <fields>
            <name>texte_depart2_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Texte_Depart}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image_depart_AvecMobilite_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Mobility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Missions</name>
        <label>Ecran Clôture Missions</label>
        <locationX>2305</locationX>
        <locationY>905</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Mission</targetReference>
        </connector>
        <fields>
            <name>RecordTypeMission</name>
            <fieldText>&lt;h4 style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Mission : {!Mission.Titre_de_la_mission__c}&lt;/b&gt;&lt;/h4&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Heure_Realisation</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date / Heure Réalisation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Ecran de création/Clôture de la mission Retour Agence/Domicile</description>
        <name>Ecran_Retour_Agence</name>
        <label>Ecran_Retour_Agence</label>
        <locationX>946</locationX>
        <locationY>1079</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retour_created</targetReference>
        </connector>
        <fields>
            <name>TitreRetourAgence</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!FlowVar_07_MissionRetourAgenceTitre}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Heure_Retour_agence</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date/Heure Retour agence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_retour_agence</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EcranFin</name>
        <label>Ecran Fin</label>
        <locationX>398</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Texte_AllDone</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;{!FlowVar_07_AllDone}&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Icon_Intervention_fermer</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Intervention_Fermer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Question_Retour_Agence</name>
        <label>Qst Retour Agence</label>
        <locationX>1547</locationX>
        <locationY>1078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Retour</targetReference>
        </connector>
        <fields>
            <name>texteQuestion</name>
            <fieldText>&lt;p&gt;{!FlowVar_07_RetourAgence}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ToggleQuestion</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>FlowVar_07_Oui</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>FlowVar_07_Non</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Toggle_value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FlowVar_07_Oui_Non</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Toggle_value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warranty_Recharge_ecran</name>
        <label>Warranty/Recharge ecran</label>
        <locationX>742</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>facturation_choice</targetReference>
        </connector>
        <fields>
            <name>titre</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Billing mode&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warranty_ecran</name>
            <choiceReferences>Warranty_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Etape_1</name>
        <isActive>true</isActive>
        <label>Etape 1 : Compte rendu des missions</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Etape_2</name>
        <isActive>false</isActive>
        <label>Etape 2 : Compte rendu d&#39;intervention</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>397</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>GET_OT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Intervention_fermer_texte</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h1 style=&quot;color: #5e9ca0; text-align: center;size=&quot;18px&quot;&gt;Intervention ferm&amp;eacute;e&lt;/h1&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NomMission</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h4 style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Mission : {!Mission.Titre_de_la_mission__c}&lt;/strong&gt;&lt;/h4&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Texte_Depart</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!FlowVar_07_Depart}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TexteQuestion_Var</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Voulez-vous renseigner le retour agence ?&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Anomalie_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Commentaire_Coldline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Depannage_provisoire_toggle_value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID Ordre de travail</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListeMissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Mission_FinIntervention</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Origine_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Path</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TECH_RETOUR_CREATED_VALUE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Toggle_value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TravauxRealises_missionFin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Commenataire_Fin_Intervention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
