unpackaged/main/default/flows/MOON_09_Sync_Devis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Synchroniser_le_devis</name>
        <label>Synchroniser le devis</label>
        <locationX>710</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Devis.Synchronise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Devis.TECH_No_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPDATE_DEVIS</targetReference>
        </connector>
    </assignments>
    <description>Marquer le devis synchroniser si la dérogation contenant ce devis est synchronisé</description>
    <interviewLabel>MOON_09_Sync_Devis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MOON_09_Sync_Devis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_QUOTE</name>
        <label>GET QUOTE</label>
        <locationX>354</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Synchroniser_le_devis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>Devis</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Synchronise__c</queriedFields>
        <queriedFields>TECH_No_Update__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_DEVIS</name>
        <label>UPDATE DEVIS</label>
        <locationX>1115</locationX>
        <locationY>101</locationY>
        <inputReference>Devis</inputReference>
    </recordUpdates>
    <startElementReference>GET_QUOTE</startElementReference>
    <status>Active</status>
    <variables>
        <name>Devis</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
