unpackaged/main/default/flows/MOON_02_Background_OT_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Attributions_si_calendrier_astreinte_est_null</name>
        <label>Attributions si calendrier astreinte est null</label>
        <locationX>679</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>CalendrierAstreinte.aucune_astreinte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OT_Existe_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CASE_Agence</name>
        <label>CASE Agence</label>
        <locationX>524</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>AgenceIntervenanteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.Agence_Intervenante__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Calendrier_Astreinte</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GROUPE_ID</name>
        <label>GROUPE  ID</label>
        <locationX>2203</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>Id_Groupe</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_GROUPE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HAYON_ID</name>
        <label>HAYON ID</label>
        <locationX>2344</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>Id_HAYON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Hayon.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GROUPE_NULL_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OT_Agence</name>
        <label>OT Agence</label>
        <locationX>525</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>AgenceIntervenanteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OT.Agence_Intervenante__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Calendrier_Astreinte</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_joker</name>
        <label>Var Joker</label>
        <locationX>1412</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>VAR_Joker_Nom</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Joker_Num</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OT_Existe_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_joker_0</name>
        <label>Var Joker</label>
        <locationX>1631</locationX>
        <locationY>1</locationY>
        <assignmentItems>
            <assignToReference>VAR_Joker_Nom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>joker_name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Joker_Num</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>joker_name.Numero_tel_mobile_personnel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OT_Existe_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_technicien</name>
        <label>Var technicien</label>
        <locationX>937</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>VAR_Technicien_Nom</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Technicien_Num</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Joker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_technicien1</name>
        <label>Var technicien</label>
        <locationX>1010</locationX>
        <locationY>1</locationY>
        <assignmentItems>
            <assignToReference>VAR_Technicien_Nom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>technicien_perm.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Technicien_Num</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>technicien_perm.Numero_tel_mobile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Joker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Calendrier_astreinte_null</name>
        <label>Calendrier astreinte null</label>
        <locationX>667</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>CalAstreintenull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalendrierAstreinte</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attributions_si_calendrier_astreinte_est_null</targetReference>
            </connector>
            <label>CalAstreintenull</label>
        </rules>
        <rules>
            <name>CalAstreinteNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalendrierAstreinte</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technicien_astreinte</targetReference>
            </connector>
            <label>CalAstreinteNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>GROUPE_NULL_0</name>
        <label>GROUPE NULL</label>
        <locationX>2196</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>GROUPE_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui_GROUPE_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_GROUPE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recordType</targetReference>
            </connector>
            <label>Oui_GROUPE_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>HAYON_NULL</name>
        <label>HAYON NULL</label>
        <locationX>2199</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>HAYON_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui_Hayon_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Hayon</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GROUPE_NULL_0</targetReference>
            </connector>
            <label>Oui_Hayon_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Joker</name>
        <label>Joker</label>
        <locationX>1214</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalendrierAstreinte.Nom_du_technicien_joker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_joker</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Non_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalendrierAstreinte.Nom_du_technicien_joker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var_joker</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>OT_Existe</name>
        <label>OT Existe?</label>
        <locationX>369</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OT_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OT_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_OT</targetReference>
            </connector>
            <label>OT Update</label>
        </rules>
        <rules>
            <name>OT_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OT_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_CASE</targetReference>
            </connector>
            <label>OT Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>OT_Existe_0</name>
        <label>OT Existe?</label>
        <locationX>1624</locationX>
        <locationY>308</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OT_Update_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OT_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OT</targetReference>
            </connector>
            <label>OT Update</label>
        </rules>
        <rules>
            <name>OT_Create_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OT_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Hayon</targetReference>
            </connector>
            <label>OT Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordType</name>
        <label>recordType</label>
        <locationX>1894</locationX>
        <locationY>589</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>vehicule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_RecordType_Vehicule</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creer_OT_Vehicule</targetReference>
            </connector>
            <label>véhicule</label>
        </rules>
        <rules>
            <name>Container</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_RecordType_Container</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_er_OT_container</targetReference>
            </connector>
            <label>Container</label>
        </rules>
    </decisions>
    <decisions>
        <name>Technicien_astreinte</name>
        <label>Technicien astreinte</label>
        <locationX>667</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalendrierAstreinte.Nom_du_technicien_permanence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_technicien</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
        <rules>
            <name>Non</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalendrierAstreinte.Nom_du_technicien_permanence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var_technicien</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <description>Correction 4
- record type case = véhicule ou bien container
- GFS-499 : Copier l&#39;adresse de la requête sur l&#39;OT à la création
- Ajout Hayon &amp; Groupe (GFS-755)</description>
    <environments>Default</environments>
    <formulas>
        <name>Case_RecordType_Container</name>
        <dataType>String</dataType>
        <expression>{!$Label.Case_RecordTypeID_Depannage_Container}</expression>
    </formulas>
    <formulas>
        <name>Case_RecordType_Vehicule</name>
        <dataType>String</dataType>
        <expression>{!$Label.Case_RecordTypeID_Depannage_Vehicule}</expression>
    </formulas>
    <formulas>
        <name>OT_RecordType_Depannage_Container</name>
        <dataType>String</dataType>
        <expression>{!$Label.OT_RecordTypeID_Depannage_Container}</expression>
    </formulas>
    <formulas>
        <name>OT_RecordType_Depannage_Vehicule</name>
        <dataType>String</dataType>
        <expression>{!$Label.OT_RecordTypeId_Depannage_Vehicule}</expression>
    </formulas>
    <formulas>
        <name>TypedeTravailID</name>
        <dataType>String</dataType>
        <expression>{!$Label.OT_TypeDeTravail_ID_Depannage}</expression>
    </formulas>
    <interviewLabel>MOON_02_Background_OT_création {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MOON_02_Background_OT_création</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cr_er_OT_container</name>
        <label>Créer OT container</label>
        <locationX>1827</locationX>
        <locationY>739</locationY>
        <assignRecordIdToReference>OT_ID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_Intervenante__c</field>
            <value>
                <elementReference>GetCase.Agence_Intervenante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>GetCase.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>GetCase.Ville__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>GetCase.Pays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groupe_Frigo__c</field>
            <value>
                <elementReference>Id_Groupe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hayon__c</field>
            <value>
                <elementReference>Id_HAYON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_du_technicien_joker__c</field>
            <value>
                <elementReference>VAR_Joker_Nom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_du_technicien_permanence__c</field>
            <value>
                <elementReference>VAR_Technicien_Nom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_mobile_joker__c</field>
            <value>
                <elementReference>VAR_Joker_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_mobile_permanence__c</field>
            <value>
                <elementReference>Var_Technicien_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>GetCase.Code_postal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OT_RecordType_Depannage_Container</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>GetCase.Rue_Lieu__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Flow_Identifier__c</field>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>TypedeTravailID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aucune_astreinte__c</field>
            <value>
                <elementReference>CalendrierAstreinte.aucune_astreinte__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Creer_OT_Vehicule</name>
        <label>Créer OT Véhicule</label>
        <locationX>1975</locationX>
        <locationY>736</locationY>
        <assignRecordIdToReference>OT_ID</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetCase.Asset.Nom_Commercial_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_Intervenante__c</field>
            <value>
                <elementReference>GetCase.Asset.Agence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>GetCase.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>GetCase.Ville__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>GetCase.Pays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groupe_Frigo__c</field>
            <value>
                <elementReference>Id_Groupe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hayon__c</field>
            <value>
                <elementReference>Id_HAYON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_du_technicien_joker__c</field>
            <value>
                <elementReference>VAR_Joker_Nom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_du_technicien_permanence__c</field>
            <value>
                <elementReference>VAR_Technicien_Nom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_mobile_joker__c</field>
            <value>
                <elementReference>VAR_Joker_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_mobile_permanence__c</field>
            <value>
                <elementReference>Var_Technicien_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>GetCase.Code_postal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OT_RecordType_Depannage_Vehicule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>GetCase.Rue_Lieu__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Flow_Identifier__c</field>
            <value>
                <elementReference>UniqueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>TypedeTravailID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aucune_astreinte__c</field>
            <value>
                <elementReference>CalendrierAstreinte.aucune_astreinte__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>GET_Calendrier_Astreinte</name>
        <label>GET Calendrier Astreinte</label>
        <locationX>525</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calendrier_astreinte_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Actif__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Agence_PF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgenceIntervenanteID</elementReference>
            </value>
        </filters>
        <object>Calendrier_Astreinte__c</object>
        <outputReference>CalendrierAstreinte</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Nom_du_technicien_permanence__c</queriedFields>
        <queriedFields>Numero_mobile_permanence__c</queriedFields>
        <queriedFields>Numero_mobile_personnel_permanence__c</queriedFields>
        <queriedFields>Numero_domicile_permanence__c</queriedFields>
        <queriedFields>Nom_du_technicien_joker__c</queriedFields>
        <queriedFields>Numero_mobile_joker__c</queriedFields>
        <queriedFields>Numero_mobile_personnel_joker__c</queriedFields>
        <queriedFields>Numero_domicile_joker__c</queriedFields>
        <queriedFields>Nom_du_technicien_joker_2__c</queriedFields>
        <queriedFields>Numero_mobile_personnel_joker_2__c</queriedFields>
        <queriedFields>Numero_mobile_joker_2__c</queriedFields>
        <queriedFields>Numero_domicile_joker_2__c</queriedFields>
        <queriedFields>aucune_astreinte__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_CASE</name>
        <label>GET CASE</label>
        <locationX>377</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CASE_Agence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>GetCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agence_Intervenante__c</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Rue_Lieu__c</queriedFields>
        <queriedFields>Code_postal__c</queriedFields>
        <queriedFields>Ville__c</queriedFields>
        <queriedFields>Pays__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_GROUPE</name>
        <label>GET GROUPE</label>
        <locationX>1980</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HAYON_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>GROUPE</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Hayon</name>
        <label>GET Hayon</label>
        <locationX>1820</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_GROUPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>HAYON</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_joker</name>
        <label>get joker</label>
        <locationX>1417</locationX>
        <locationY>1</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Var_joker_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendrierAstreinte.Nom_du_technicien_joker__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>joker_name</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Numero_tel_mobile__c</queriedFields>
        <queriedFields>Numero_tel_mobile_personnel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_OT</name>
        <label>GET OT</label>
        <locationX>379</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OT_Agence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OT_ID</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>OT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agence_Intervenante__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_technicien</name>
        <label>get technicien perm</label>
        <locationX>852</locationX>
        <locationY>3</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Var_technicien1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalendrierAstreinte.Nom_du_technicien_permanence__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>technicien_perm</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Numero_tel_mobile__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OT</name>
        <label>Update OT</label>
        <locationX>1497</locationX>
        <locationY>621</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OT_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nom_du_technicien_joker__c</field>
            <value>
                <elementReference>VAR_Joker_Nom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_du_technicien_permanence__c</field>
            <value>
                <elementReference>VAR_Technicien_Nom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_mobile_joker__c</field>
            <value>
                <elementReference>VAR_Joker_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_mobile_permanence__c</field>
            <value>
                <elementReference>Var_Technicien_Num</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>aucune_astreinte__c</field>
            <value>
                <elementReference>CalendrierAstreinte.aucune_astreinte__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>29</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>OT_Existe</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AgenceIntervenanteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CalendrierAstreinte</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Calendrier_Astreinte__c</objectType>
    </variables>
    <variables>
        <name>GetCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Id_Groupe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Id_HAYON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>joker_name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>OT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTAgenceIntervenante</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>technicien_perm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UniqueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_CalendrierAstreinteEncours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendrier_Astreinte__c</objectType>
    </variables>
    <variables>
        <name>VAR_Joker_Nom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Joker_Num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Technicien_Nom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Technicien_Num</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
