unpackaged/main/default/flows/Order_Create_Reservations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>634</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Reservations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Transport_Aller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_0</name>
        <label>Add To Collection</label>
        <locationX>903</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Reservations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_0_0</name>
        <label>Add To Collection</label>
        <locationX>1349</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Reservations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Atelier_Retour</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_0_0_0</name>
        <label>Add To Collection</label>
        <locationX>1110</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Reservations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Transport_Retour</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_0_0_0_0</name>
        <label>Add To Collection</label>
        <locationX>1380</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Reservations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Atelier_Aller</name>
        <label>Assign Atelier Aller</label>
        <locationX>583</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente de planification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.HarcodedID__c.RT_Atelier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_Atelier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avant location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_date_Atelier_Aller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Atelier_Aller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_conteneur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_transport__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Produits_demandes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Atelier_Retour</name>
        <label>Assign Atelier Retour</label>
        <locationX>1463</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente de planification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.HarcodedID__c.RT_Atelier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_Atelier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Apres location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Atelier_Retour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Atelier_Retour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_conteneur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_transport__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Produits_demandes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location</name>
        <label>Assign Location</label>
        <locationX>995</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente de planification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.HarcodedID__c.RT_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_transport__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_Atelier__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_conteneur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Produits_demandes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transport_Aller</name>
        <label>Assign Transport Aller</label>
        <locationX>765</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente de planification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.HarcodedID__c.RT_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transport Aller vers client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Transport_Aller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Transport_Aller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_Atelier__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_conteneur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Produits_demandes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transport_Retour</name>
        <label>Assign Transport Retour</label>
        <locationX>1230</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente de planification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.HarcodedID__c.RT_Transport__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transport Retour vers atelier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Transport_Retour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Transport_Retour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_conteneur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Produits_demandes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_contener.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservations.Type_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_de_location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection</name>
        <label>Collection</label>
        <locationX>459</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>TempVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_contener.Temperature_Tech__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Atelier_Aller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPT_incrementation</name>
        <label>CPT incrementation</label>
        <locationX>1072</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>CPT_Temp</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CPT_reinitionalisation</name>
        <label>CPT reinitionalisation</label>
        <locationX>218</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>CPT_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_contener</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reinitilization_collection</name>
        <label>Reinitilization_collection</label>
        <locationX>534</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservations</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>CPT_reinitionalisation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_CPT</name>
        <label>Decision CPT</label>
        <locationX>986</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>Reinitilization_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compteur_inferieur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPT_Temp</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_on_contener.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reservations</targetReference>
            </connector>
            <label>Compteur inferieur</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNull</name>
        <label>IsNull</label>
        <locationX>522</locationX>
        <locationY>133</locationY>
        <defaultConnector>
            <targetReference>Update_Temperature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TempNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>TempNull</label>
        </rules>
    </decisions>
    <description>added new conditions (prolongation)</description>
    <formulas>
        <name>End_Date_Atelier_Aller</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate__c} - 3</expression>
    </formulas>
    <formulas>
        <name>End_Date_Atelier_Retour</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate__c} + 7</expression>
    </formulas>
    <formulas>
        <name>End_Date_Transport_Aller</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate__c} - 1</expression>
    </formulas>
    <formulas>
        <name>End_Date_Transport_Retour</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate__c} + 2</expression>
    </formulas>
    <formulas>
        <name>Start_date_Atelier_Aller</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate__c} - 7</expression>
    </formulas>
    <formulas>
        <name>Start_Date_Atelier_Retour</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate__c} + 3</expression>
    </formulas>
    <formulas>
        <name>Start_Date_Transport_Aller</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate__c} - 2</expression>
    </formulas>
    <formulas>
        <name>Start_Date_Transport_Retour</name>
        <dataType>Date</dataType>
        <expression>{!$Record.EndDate__c} + 1</expression>
    </formulas>
    <interviewLabel>Order_Create_Reservations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_Create_Reservations</label>
    <loops>
        <name>Loop_on_contener</name>
        <label>Loop on contener</label>
        <locationX>344</locationX>
        <locationY>469</locationY>
        <collectionReference>GetIDofConteneur</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reservations</name>
        <label>Create Reservations</label>
        <locationX>826</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>CPT_incrementation</targetReference>
        </connector>
        <inputReference>Collect_Reservations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetIDofConteneur</name>
        <label>GetIDofConteneur</label>
        <locationX>170</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_contener</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>OrderItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Temperature</name>
        <label>Update Temperature</label>
        <locationX>724</locationX>
        <locationY>146</locationY>
        <inputAssignments>
            <field>Temperature_Order__c</field>
            <value>
                <elementReference>TempVariable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>GetIDofConteneur</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0127T000000kDcyQAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commande à Traiter</stringValue>
            </value>
        </filters>
        <filters>
            <field>Prolongation_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collect_Reservations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>CPT_Temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FilterRequiredBy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProductId2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Reservationtoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>TEMP_Reservations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>TempVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
