unpackaged/main/default/flows/PF_Create_Orders_List_on_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>add new Order Number to the list</description>
        <name>Updete_Orders_List</name>
        <label>Updete Orders List</label>
        <locationX>440</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>varOrdersList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_thru_Invoice_Lines.blng__OrderProduct__r.Order.OrderNumber}  </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if given Order Number is already included in the Orders List.</description>
        <name>Order_Number_already_included</name>
        <label>Order Number already included?</label>
        <locationX>352</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Updete_Orders_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not included</defaultConnectorLabel>
        <rules>
            <name>Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrdersList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_thru_Invoice_Lines.blng__OrderProduct__r.Order.OrderNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Invoice_Lines</targetReference>
            </connector>
            <label>Included</label>
        </rules>
    </decisions>
    <description>When an invoice is generated, the related orders should be listed.</description>
    <interviewLabel>PF Create Orders List on Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PF Create Orders List on Invoice</label>
    <loops>
        <name>Loop_thru_Invoice_Lines</name>
        <label>Loop thru Invoice Lines</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Number_already_included</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_OrdersList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_Lines</name>
        <label>Get Invoice Lines</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_OrdersList</name>
        <label>Set OrdersList</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>PF_Orders_List__c</field>
            <value>
                <elementReference>varOrdersList</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PF_Orders_List__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varcount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable to store Orders Number list (updated in the Loop)</description>
        <name>varOrdersList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSeparator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> ; </stringValue>
        </value>
    </variables>
</Flow>
