unpackaged/main/default/flows/PF_Calc_Due_Date_on_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>InvoiceLines_Count</name>
        <label>Get InvoiceLines Count</label>
        <locationX>206</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>varInvoiceLinesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Invoice_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InvoiceLines_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_maxPaymentTerm</name>
        <label>Store maxPaymentTerm</label>
        <locationX>449</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>maxPaymentTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thru_Invoice_Lines.blng__OrderProduct__r.Order.Payment_Term_in_Days__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event</name>
        <label>Longer PaymentTerm?</label>
        <locationX>444</locationX>
        <locationY>881</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Invoice_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Invoice_Lines.blng__OrderProduct__r.Order.Payment_Term_in_Days__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>maxPaymentTerm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_maxPaymentTerm</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>InvoiceLines_0</name>
        <label>InvoiceLines &gt; 0</label>
        <locationX>198</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>InvoiceLinesCount_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceLinesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_thru_Invoice_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Calc Inoice Due Date based on max &quot;Délai de règlement&quot;</description>
    <formulas>
        <name>varCalculatedDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.blng__InvoiceDate__c}+{!maxPaymentTerm}</expression>
    </formulas>
    <interviewLabel>PF Calc Due Date on Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PF Calc Due Date on Invoice</label>
    <loops>
        <name>Loop_thru_Invoice_Lines</name>
        <label>Loop thru Invoice Lines</label>
        <locationX>178</locationX>
        <locationY>874</locationY>
        <collectionReference>Get_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all Invoice Lines for the given Invoice</description>
        <name>Get_Invoice_Lines</name>
        <label>Get Invoice Lines</label>
        <locationX>203</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InvoiceLines_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>184</locationX>
        <locationY>1243</locationY>
        <inputAssignments>
            <field>blng__DueDate__c</field>
            <value>
                <elementReference>varCalculatedDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>81</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>event_action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>event_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxPaymentTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInvoiceLinesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
