unpackaged/main/default/flows/PF_Date_Transport_Retour_changed_on_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Credit_ProForma_Invoice</name>
        <label>Credit ProForma Invoice</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <actionName>PF_InvoiceCreditAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>InvoiceIds</name>
            <value>
                <elementReference>Get_ProForma_Invoice_for_Credit_Note_generation.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PF_InvoiceCreditAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Billing_date</name>
        <label>Assign Billing date</label>
        <locationX>528</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>OrderProductToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_OP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_OP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Courte_Duree</name>
        <label>Is Courte Durée?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Order_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commande__r.Type_de_location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Courte Durée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ProForma_Invoice_for_Credit_Note_generation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_Retour</name>
        <label>Transport Retour ?</label>
        <locationX>660</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop_on_OP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transport_Retour_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_OP.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Transport </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_OP.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retour</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_date</targetReference>
            </connector>
            <label>Transport Retour OK</label>
        </rules>
    </decisions>
    <interviewLabel>PF_Date Transport Retour changed on Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PF_Date Transport Retour changed on Reservation</label>
    <loops>
        <name>Loop_on_OP</name>
        <label>Loop on OP</label>
        <locationX>440</locationX>
        <locationY>575</locationY>
        <collectionReference>Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Transport_Retour</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_related_Order_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ProForma_Invoice_for_Credit_Note_generation</name>
        <label>Get ProForma Invoice for Credit Note generation</label>
        <locationX>176</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_ProForma_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commande__r.Related_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Products</name>
        <label>Order Products</label>
        <locationX>440</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_OP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Produits_demandes__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This flow will set the Override Next Billing Date on the Transport Retour order product when Date Transport Retour is set on the related Reservation record.</description>
        <name>Update_related_Order_Product</name>
        <label>Update related Order Product</label>
        <locationX>440</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Get_ProForma_Invoice_for_Credit_Note_generation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProductToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__OverrideNextBillingDate__c</field>
            <value>
                <elementReference>$Record.PF_Date_Transport_Retour__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Courte_Duree</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PF_Date_Transport_Retour__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Reservation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderProductToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
