unpackaged/main/default/flows/RecordTriggered_Account_AS_CreateSA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copier_1_sur_SAD_Reways</name>
        <label>SAd reways générique</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameSADRewaysGenerique</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.PFRegion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaysRegionPF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.SalesArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_SA_Reways_g_n_rique.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.Marque_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_SA_Reways_g_n_rique.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.TerritorialCommercial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_SAD1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateSAD</name>
        <label>CreateSAD</label>
        <locationX>1414</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>SADvalue.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DeviseCompte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.KeyAccountManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameSAD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.Numero_dagence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTerritoire.Numero_dagence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.PFRegion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaysRegionPF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.SalesArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_Sales_Areas.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.Marque_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boucle_Sales_Areas.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SADCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateSAD_Commercial_Container_FR</name>
        <label>CreateSAD_Commercial_Container_FR</label>
        <locationX>1282</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>SADvalue.TerritorialCommercial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateSAD_Commercial_OtherSAD</name>
        <label>CreateSAD_Commercial_OtherSAD</label>
        <locationX>1546</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>SADvalue.ManagerCommercial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTerritoire.Secteur__r.Manager_Commercial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.Territoire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTerritoire.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.TerritorialCommercial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTerritoire.Secteur__r.Commercial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SADvalue.Secteur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTerritoire.Secteur__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSAD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SAD_Reways</name>
        <label>SAD Reways</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameSADReways</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.PFRegion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaysRegionPF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.SalesArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Sales_Areas_reways.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.Marque_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Sales_Areas_reways.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_SADToCreate.TerritorialCommercial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_SAD1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SADCollection</name>
        <label>SADCollection</label>
        <locationX>1414</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>CreateSADCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SADvalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_Sales_Areas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Territoire</name>
        <label>Set_Territoire</label>
        <locationX>1502</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varTerritoire</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Correct_Territory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Correct_Territory</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>SelectCorrectSA</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>SelectCorrectS.A</label>
        <locationX>1414</locationX>
        <locationY>755</locationY>
        <assignNextValueToReference>currentItem_SelectCorrectSA</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Territoire</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Loop_Through_Correct_Territory</targetReference>
        </connector>
        <formula>{!currentItem_SelectCorrectSA.Organisation_Commerciale__c} = {!Boucle_Sales_Areas.Id}</formula>
    </collectionProcessors>
    <decisions>
        <name>Account_Reways</name>
        <label>Account Reways?</label>
        <locationX>721</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>GET_Sales_Areas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reways</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Sales_Areas_reways</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SA_Container_FR</name>
        <label>Check_SA_Container_FR</label>
        <locationX>1414</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>CreateSAD_Commercial_OtherSAD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>is_Container_FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Boucle_Sales_Areas.BusinessLine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Containers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Boucle_Sales_Areas.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRANCE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSAD_Commercial_Container_FR</targetReference>
            </connector>
            <label>is_Container_FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_g_n_rique_existe</name>
        <label>SA générique existe?</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Tes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_SA_Reways_g_n_rique</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_SAD_Reways</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Reways_exist</name>
        <label>SA Reways exist?</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GET_SA_Reways_g_n_rique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SArewaysexist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Sales_Areas_reways</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAD_Reways</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NameSAD</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Name} &amp;&quot; &quot;&amp; &quot;-&quot; &amp;&quot; &quot;&amp;{!Boucle_Sales_Areas.Name}, 79)</expression>
    </formulas>
    <formulas>
        <name>NameSADReways</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.Name} &amp;&quot; &quot;&amp; &quot;-&quot; &amp;&quot; &quot;&amp;{!GET_Sales_Areas_reways.Name}, 79)</expression>
    </formulas>
    <formulas>
        <name>NameSADRewaysGenerique</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.Name} &amp;&quot; &quot;&amp; &quot;-&quot; &amp;&quot; &quot;&amp; {!GET_SA_Reways_g_n_rique.Name}, 79)</expression>
    </formulas>
    <interviewLabel>RecordTriggered - Account AS - CreateSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordTriggered - Account AS - CreateSA</label>
    <loops>
        <name>Boucle_Sales_Areas</name>
        <label>Boucle Sales Areas</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <collectionReference>GET_Sales_Areas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SelectCorrectSA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SAD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Correct_Territory</name>
        <label>Loop Through Correct Territory</label>
        <locationX>1414</locationX>
        <locationY>863</locationY>
        <collectionReference>SelectCorrectSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Territoire</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_SA_Container_FR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SAD</name>
        <label>Create SAD</label>
        <locationX>1194</locationX>
        <locationY>1763</locationY>
        <inputReference>CreateSADCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_SAD1</name>
        <label>create SAD</label>
        <locationX>248</locationX>
        <locationY>1139</locationY>
        <inputReference>VAR_SADToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_SA_Reways_g_n_rique</name>
        <label>GET SA Reways générique</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_g_n_rique_existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pays__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reways</stringValue>
            </value>
        </filters>
        <filters>
            <field>Org_generique__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Sales_Areas</name>
        <label>GET Sales Areas</label>
        <locationX>1194</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territoire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pays__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reways</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Sales_Areas_reways</name>
        <label>GET Sales Areas reways</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Reways_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pays__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reways</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territoire</name>
        <label>Get Territoire</label>
        <locationX>1194</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_Sales_Areas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code_Postal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CodePostal__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>595</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Reways</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Count_nb_SAD__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Pays__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pays__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateSADCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAreaData__c</objectType>
    </variables>
    <variables>
        <name>currentItem_SelectCorrectSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory__c</objectType>
    </variables>
    <variables>
        <name>SadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SADvalue.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>SADvalue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAreaData__c</objectType>
    </variables>
    <variables>
        <name>VAR_SADToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAreaData__c</objectType>
    </variables>
    <variables>
        <name>varTerritoire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory__c</objectType>
    </variables>
</Flow>
