unpackaged/main/default/flows/Reservation_Transport_pour_Fabrication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Atelier</name>
        <label>Assign_Atelier</label>
        <locationX>841</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Asset_assigne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Date_End_Atelier_fab__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Date_Start_Atelier_fab__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0127T000000kDdDQAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Atelier_from_fabrication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fabrication</name>
        <label>Assign_Fabrication</label>
        <locationX>327</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Asset_assigne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Date_End_Fabrication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetCreationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0127T000000kDdEQAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Fabrication_from_Fabrication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_collection</name>
        <label>Assign to collection</label>
        <locationX>447</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Reservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Transport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_collection_0</name>
        <label>Assign to collection</label>
        <locationX>727</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Reservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Atelier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_collection_0_0</name>
        <label>Assign to collection</label>
        <locationX>952</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>Collect_Reservation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Reservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reservations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transport</name>
        <label>Assign_Transport</label>
        <locationX>570</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Asset_assigne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Date_Start_Transport_fab__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0127T000000kDdGQAU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Reservation.Transport_from_Fabrication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_collection_0</targetReference>
        </connector>
    </assignments>
    <description>+ add checkbox to distinguish those reservations creating from fabrication</description>
    <environments>Default</environments>
    <formulas>
        <name>AssetCreationDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!recordId.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>Date_Debut_Atelier</name>
        <dataType>Date</dataType>
        <expression>{!Date_fin_transport} +1</expression>
    </formulas>
    <formulas>
        <name>Date_Debut_Transport</name>
        <dataType>Date</dataType>
        <expression>{!recordId.Date_de_fin_de_fabrication__c} + 1</expression>
    </formulas>
    <formulas>
        <name>Date_Fin_Atelier</name>
        <dataType>Date</dataType>
        <expression>{!Date_Debut_Atelier} + 30</expression>
    </formulas>
    <formulas>
        <name>Date_fin_transport</name>
        <dataType>Date</dataType>
        <expression>{!recordId.Date_de_fin_de_fabrication__c} + 30</expression>
    </formulas>
    <interviewLabel>Reservation Transport pour Fabrication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reservation pour Fabrication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reservations</name>
        <label>Create_Reservations</label>
        <locationX>1093</locationX>
        <locationY>385</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <inputReference>Collect_Reservation</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Asset Name to create transport booking</description>
        <name>recordId</name>
        <label>GetAsset</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fabrication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update_Asset</label>
        <locationX>1211</locationX>
        <locationY>252</locationY>
        <inputAssignments>
            <field>Position_Conteneur__c</field>
            <value>
                <stringValue>Exploitable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_de_location__c</field>
            <value>
                <stringValue>En Fabrication</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>recordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_fin_de_fabrication__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AgencyLocationNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Collect_Reservation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>LivraisonNewContainer</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEMP_Reservation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>TypeContainerChosen</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
