unpackaged/main/default/flows/Reservation_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification</name>
        <label>Notification</label>
        <locationX>592</locationX>
        <locationY>1030</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ExploitationText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotif.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_0</name>
        <label>Notification</label>
        <locationX>730</locationX>
        <locationY>1025</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>AtelierTransportBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AtelierTransportText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotif.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>AtelierTransportTitle</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Depot_Retour_Atelier</name>
        <label>Assign Depot Retour Atelier</label>
        <locationX>1282</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>Get_Atelier_Retour_RESA.Agence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Depot_Atelier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Container</name>
        <label>Assign New Container</label>
        <locationX>50</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Reservation.Asset_assigne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset_assigne__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Status_and_Date_Atelier</name>
        <label>Assign New Status and Date Atelier</label>
        <locationX>500</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Atelier_Dispo_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>73</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Reservationtoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Reservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignID</name>
        <label>AssignID</label>
        <locationX>1332</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>ExploitationText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignID_0</name>
        <label>AssignID</label>
        <locationX>953</locationX>
        <locationY>861</locationY>
        <assignmentItems>
            <assignToReference>AtelierTransportText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Start_date</name>
        <label>Update Start date</label>
        <locationX>861</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_entree_depot__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_start_date_on_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Changed_Location</name>
        <label>Asset Changed Location</label>
        <locationX>674</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Group_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Changed_on_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_assigne__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OP</targetReference>
            </connector>
            <label>Asset Changed on Location</label>
        </rules>
        <rules>
            <name>Disponible_checkbox_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disponible__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disponible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Status_and_Date_Atelier</targetReference>
            </connector>
            <label>Disponible checkbox checked?</label>
        </rules>
        <rules>
            <name>Date_Entree_Depot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_entree_depot__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_entree_depot__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_date</targetReference>
            </connector>
            <label>Date Entree Depot</label>
        </rules>
        <rules>
            <name>Depot_Retour_saisi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_de_transport__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport Retour vers atelier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agence__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Atelier_Retour_RESA</targetReference>
            </connector>
            <label>Depot Retour saisi ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null</name>
        <label>Null ?</label>
        <locationX>1101</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Assign_Depot_Retour_Atelier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Atelier_Retour_RESA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_changed</name>
        <label>Status changed</label>
        <locationX>653</locationX>
        <locationY>860</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planifi_orConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Confirmée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification</targetReference>
            </connector>
            <label>From Confirmé</label>
        </rules>
        <rules>
            <name>From_Planifi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Planifiée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planifiée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification</targetReference>
            </connector>
            <label>From Planifié</label>
        </rules>
        <rules>
            <name>Asset_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_assigne__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planifiée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_0</targetReference>
            </connector>
            <label>Asset Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Group</name>
        <label>Type of Group</label>
        <locationX>1126</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>LoopOnGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exploitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOnGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exploitation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignID</targetReference>
            </connector>
            <label>Exploitation</label>
        </rules>
        <rules>
            <name>Atelier</name>
            <conditionLogic>(1 OR 2) AND  3</conditionLogic>
            <conditions>
                <leftValueReference>LoopOnGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Atelier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopOnGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset_assigne__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignID_0</targetReference>
            </connector>
            <label>Atelier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update</name>
        <label>Update ?</label>
        <locationX>310</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_assigne__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Assigned_container</targetReference>
            </connector>
            <label>Yes update</label>
        </rules>
        <rules>
            <name>Update_with_emtpy_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_assigne__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Assigned_container_0</targetReference>
            </connector>
            <label>Update with emtpy value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssetAssignedOnOrder</name>
        <dataType>String</dataType>
        <expression>{!$Record.Asset_assigne__r.Name}</expression>
    </formulas>
    <formulas>
        <name>DateToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Reservation Update After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reservation Update After Save</label>
    <loops>
        <name>Loop_on_Reservation</name>
        <label>Loop on Reservation</label>
        <locationX>253</locationX>
        <locationY>276</locationY>
        <collectionReference>Get_OP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Container</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnGroup</name>
        <label>LoopOnGroup</label>
        <locationX>867</locationX>
        <locationY>629</locationY>
        <collectionReference>Group_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCustomNotif</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Atelier_Retour_RESA</name>
        <label>Get Atelier Retour RESA</label>
        <locationX>1002</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produits_demandes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Produits_demandes__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commande__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commande__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Atelier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_Atelier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apres location</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OP</name>
        <label>Get OP</label>
        <locationX>412</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Reservation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Produits_demandes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Produits_demandes__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Commande__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commande__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reservation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset_assigne__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotif</name>
        <label>GetCustomNotif</label>
        <locationX>742</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_Exploitation_Container</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Group_ID</name>
        <label>Group ID</label>
        <locationX>691</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnGroup</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exploitation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Atelier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Assigned_container</name>
        <label>update Assigned container</label>
        <locationX>295</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>Update_order_0</targetReference>
        </connector>
        <inputReference>Reservationtoupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Assigned_container_0</name>
        <label>update Assigned container</label>
        <locationX>413</locationX>
        <locationY>632</locationY>
        <connector>
            <targetReference>Update_order_0_0</targetReference>
        </connector>
        <inputReference>Reservationtoupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Atelier_Dispo_Status</name>
        <label>Update Atelier Dispo Status</label>
        <locationX>481</locationX>
        <locationY>746</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Depot_Atelier</name>
        <label>Update Depot Atelier</label>
        <locationX>1491</locationX>
        <locationY>415</locationY>
        <inputReference>Get_Atelier_Retour_RESA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order</name>
        <label>Update order</label>
        <locationX>182</locationX>
        <locationY>605</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commande__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Container_Commande__c</field>
            <value>
                <elementReference>AssetAssignedOnOrder</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_0</name>
        <label>Update order</label>
        <locationX>289</locationX>
        <locationY>826</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commande__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Container_Commande__c</field>
            <value>
                <elementReference>AssetAssignedOnOrder</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_0_0</name>
        <label>Update order</label>
        <locationX>401</locationX>
        <locationY>779</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Commande__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Container_Commande__c</field>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_start_date_on_record</name>
        <label>Update start date on record</label>
        <locationX>997</locationX>
        <locationY>521</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>809</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Asset_Changed_Location</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND 3) OR ((1 OR 2) AND 4 AND 5) OR (6 AND 7) OR (8 AND 9) OR (10 and 11) OR (12 AND 13)</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Atelier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Asset_assigne__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planifiée</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location</stringValue>
            </value>
        </filters>
        <filters>
            <field>Asset_assigne__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Disponible__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Disponible__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_entree_depot__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_entree_depot__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type_de_transport__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transport Retour vers atelier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agence__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Reservation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AtelierTransportBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bonjour, 
Je vous informe qu’un nouveau container a été assigné, par le service Exploitation, pour la commande {!$Record.Commande__r.OrderNumber}.
Cliquez ici pour consulter vos réservations.</text>
    </textTemplates>
    <textTemplates>
        <name>AtelierTransportTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Remplacement d&#39;un container déjà assigné sur la commande {!$Record.Commande__r.OrderNumber}.</text>
    </textTemplates>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Asset_assigne__r.Name}



Bonjour,



Les dates pour la réservation {!$Record.Name} issue de la commande {!$Record.Commande__r.OrderNumber} ont été modifiées par le
service {!$Record.Record_Type_Name__c}.

Cliquez ici pour consulter les modifications.</text>
    </textTemplates>
    <textTemplates>
        <name>Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Date changée sur la commande {!$Record.Commande__r.OrderNumber}</text>
    </textTemplates>
    <variables>
        <name>AtelierTransportText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExploitationText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reservationtoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>TransportText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
