unpackaged/main/default/flows/RT_Opportunity_GetLatestFramework.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Attr_AC_groupement</name>
        <label>Attr AC groupement</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>AC_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Groupement_AC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_CGL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copier_3_sur_Attribute_AC_CGL</name>
        <label>Attribute AC &amp; CGL</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Accord_Cadre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GET_Accord_cadre_Meuble.Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OPP_M</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Belongs_to_a_groupement</name>
        <label>Belongs to a groupement?</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Get_Groupement_AC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Groupement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Has_parent</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Groupement_has_accord</name>
        <label>Groupement has accord</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Has_parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Groupement_AC</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attr_AC_groupement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_parent</name>
        <label>Has parent?</label>
        <locationX>1106</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_AC_from_SADs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes_hasparent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AC_Asso_ParentAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_has_AC</name>
        <label>Parent has AC?</label>
        <locationX>930</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Get_AC_from_SADs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AC_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_CGL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recordtypes</name>
        <label>Recordtypes?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>V_CD_MD</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Frigorifiques</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Secs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeContrat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeContrat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RT_Accord_cadre_V_CD_MD</targetReference>
            </connector>
            <label>V &amp; CD_MD</label>
        </rules>
        <rules>
            <name>V_LD</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Frigorifiques</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Véhicules Secs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TypeContrat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RT_Accord_cadre_V_LD</targetReference>
            </connector>
            <label>V &amp; LD</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Containers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RT_Accord_cadre_Container</targetReference>
            </connector>
            <label>C</label>
        </rules>
        <rules>
            <name>M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TypeProduits__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meubles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RT_Accord_cadre_Meuble</targetReference>
            </connector>
            <label>M</label>
        </rules>
    </decisions>
    <description>Faire apparaitre le dernier accord cadre / la dernière CGL à signer sur l&#39;opportunité créée
New Version - GFC-2717
GFC-2998</description>
    <environments>Default</environments>
    <interviewLabel>RT_Opportunity_GetLatestFramework {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT_Opportunity_GetLatestFramework</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AC_Asso_ParentAccount</name>
        <label>Get AC Asso - ParentAccount</label>
        <locationX>930</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_has_AC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vue_Commerciale_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesAreaData__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_d_accord_cadre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AC_Recordtype.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Actif__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ValiditeDateDebut__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ValiditeDateFin__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsGroupement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AC_compteId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </filters>
        <object>Accord_cadre_Association__c</object>
        <outputAssignments>
            <assignToReference>AC_Id</assignToReference>
            <field>Accord_Cadre__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_AC_from_SADs</name>
        <label>Get AC from SAD</label>
        <locationX>1018</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_CGL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vue_Commerciale_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesAreaData__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_d_accord_cadre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AC_Recordtype.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Actif__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ValiditeDateDebut__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ValiditeDateFin__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsGroupement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Accord_cadre_Association__c</object>
        <outputAssignments>
            <assignToReference>AC_Id</assignToReference>
            <field>Accord_Cadre__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_Accord_cadre_Meuble</name>
        <label>GET Accord cadre - Meuble</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copier_3_sur_Attribute_AC_CGL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Compte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_RT_Accord_cadre_Meuble.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Validite_DatedeDebut__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validite_DatedeFin__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Framework_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_CGL</name>
        <label>GET CGL</label>
        <locationX>842</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Organisation_Commerciale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesAreaData__r.SalesArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CGL_Recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Validite_DatedeDebut__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Date_de_signature_effective__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validite_DatedeFin__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Date_de_signature_effective__c</elementReference>
            </value>
        </filters>
        <object>Framework_Agreement__c</object>
        <outputReference>CGLToInsert</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Groupement_AC</name>
        <label>Get Groupement AC</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Groupement_has_accord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Groupement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Groupement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Organisation_Commerciale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesAreaData__r.SalesArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Validite_DatedeDebut__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validite_DatedeFin__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AC_Recordtype.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Framework_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RT_Accord_cadre_Container</name>
        <label>GET RT Accord cadre Container</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RT_CGL_Container</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccordCadre_Container</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AC_Recordtype</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_RT_Accord_cadre_Meuble</name>
        <label>GET RT Accord cadre Meuble</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Accord_cadre_Meuble</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accords_CadresMeubles</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RT_Accord_cadre_V_CD_MD</name>
        <label>GET RT Accord cadre V CD/MD</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RT_CGL_V_CD_MD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AC_CD_MD</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AC_Recordtype</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_RT_Accord_cadre_V_LD</name>
        <label>GET RT Accord cadre V LD</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RT_CGL_V_LD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AC_LD</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>AC_Recordtype</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_RT_CGL_Container</name>
        <label>GET RT CGL Container</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Belongs_to_a_groupement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CGLContainer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CGL_Recordtype</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_RT_CGL_V_CD_MD</name>
        <label>GET RT CGL V CD/MD</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Belongs_to_a_groupement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CGL_CD_MD</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CGL_Recordtype</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_RT_CGL_V_LD</name>
        <label>GET RT CGL V LD</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Belongs_to_a_groupement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework_Agreement__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CGL_LD</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CGL_Recordtype</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OPP</name>
        <label>Update OPP</label>
        <locationX>842</locationX>
        <locationY>2171</locationY>
        <inputAssignments>
            <field>Accord_Cadre__c</field>
            <value>
                <elementReference>AC_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CGL__c</field>
            <value>
                <elementReference>CGLToInsert.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_M</name>
        <label>Update OPP</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recordtypes</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Accord_Cadre__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CGL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AC_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AC_Recordtype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>AccordCadreToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Framework_Agreement__c</objectType>
    </variables>
    <variables>
        <name>CGL_Recordtype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>CGLToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Framework_Agreement__c</objectType>
    </variables>
    <variables>
        <name>SortedOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
