unpackaged/main/default/flows/Scheduled_Reservation_Update_the_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Asset_Status</name>
        <label>Assign_Asset_Status</label>
        <locationX>925</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Fabrication</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_all_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_status_0_0</name>
        <label>Assign Asset status</label>
        <locationX>926</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_all_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_status_0_0_0</name>
        <label>Assign Asset status</label>
        <locationX>922</locationX>
        <locationY>157</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Atelier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_all_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_status_0_0_0_0</name>
        <label>Assign Asset status</label>
        <locationX>924</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Transport</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_all_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_status_0_0_0_0_0</name>
        <label>Assign Asset status</label>
        <locationX>929</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_de_location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disponible</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Asset_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_all_assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_non_exploitable</name>
        <label>Assign status non exploitable</label>
        <locationX>710</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>$Record.Position_Conteneur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Exploitable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_all_assets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_of_cession</name>
        <label>Date of cession ?</label>
        <locationX>412</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Time_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_of_cession_in_the_past__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_non_exploitable</targetReference>
            </connector>
            <label>Past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Decision</name>
        <label>Time decision</label>
        <locationX>626</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Atelier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.HarcodedID__c.RT_Atelier__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_status_0_0_0</targetReference>
            </connector>
            <label>Atelier</label>
        </rules>
        <rules>
            <name>Transport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.HarcodedID__c.RT_Transport__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_status_0_0_0_0</targetReference>
            </connector>
            <label>Transport</label>
        </rules>
        <rules>
            <name>Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.HarcodedID__c.RT_Location__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_status_0_0</targetReference>
            </connector>
            <label>Location</label>
        </rules>
        <rules>
            <name>NoBookingtoday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_status_0_0_0_0_0</targetReference>
            </connector>
            <label>NoBookingtoday</label>
        </rules>
        <rules>
            <name>Fabrication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordId.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.HarcodedID__c.RT_Fabrication__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Status</targetReference>
            </connector>
            <label>Fabrication</label>
        </rules>
    </decisions>
    <description>Assign status position : non exploitable</description>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled_Reservation_Update_the_Asset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordId</name>
        <label>GetRecordId</label>
        <locationX>175</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_of_cession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_de_debut__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_de_fin__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset_assigne__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_assets</name>
        <label>Update all assets</label>
        <locationX>1219</locationX>
        <locationY>300</locationY>
        <inputReference>Asset_to_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>GetRecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position_Conteneur__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Exploitable</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-10</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AllReservations_v2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>Asset_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
