unpackaged/main/default/flows/ScreenFlow_ConvertLead_B2B.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_AccountIDToContactToCreate</name>
        <label>Add : AccountIDToContactToCreate</label>
        <locationX>776</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Fonction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierContact_Job</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierContact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataTable_ContactList.firstSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.TECH_ID_Piste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TECHID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Ne_Pas_Diffuser_Aux_Partenaires__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Ne_pas_diffuser_aux_partenaires__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.HasOptedOutOfEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.HasOptedOutOfEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Email_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Email_consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Date_Email_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Date_Email_consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Date_Data_Transfer_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Date_Data_Transfer_Consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Data_Transfer_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Data_Transfer_Consent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ContactChoose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountId_ExistingAccount</name>
        <label>Set_AccountId_ExistingAccount</label>
        <locationX>776</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.AgencePF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.AgencePF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Ligne2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Ligne2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Ligne3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Ligne3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Ligne4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Ligne4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TECHNumeroPiste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.NumeroPiste__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TECHIDPiste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TECHID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.ModeCreation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TECHModeCreationCompte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TECHSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TECHSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TypeActivite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TypeActivite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataTable_AccountList.firstSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataTable_AccountList.firstSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Nom_Operation_Global__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Nom_Operation_Global__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountId_NewAccount</name>
        <label>Set_AccountId_NewAccount</label>
        <locationX>512</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecordToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_New_or_Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountIDToContactToCreate</name>
        <label>Set_AccountIDToContactToCreate</label>
        <locationX>512</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountName</name>
        <label>Set_AccountName</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataTable_AccountList.firstSelected.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdentifierContact_B2B</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountNameToCreate</name>
        <label>Set_AccountNameToCreate</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_AccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IdentifierContact_B2B</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AccountRecord</name>
        <label>Set_AccountRecord</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.PaysRegionPF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_PaysRegion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TypeIdentifiantNational__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_NationalIDType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.IdentifiantNational__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_NationalID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Ligne_1_Facturation_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Ville__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_Ville</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.CodePostal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Pays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordTypeIDAccount_Prospect.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.DB_Raison_Sociale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.DB_Adresse_Ligne1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.DB_Adresse_Code_Postal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.DB_Adresse_Ville__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_Ville</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.DB_Adresse_Pays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierCompte_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_AccountHaveToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.AgencePF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.AgencePF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Ligne2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Ligne2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Ligne3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Ligne3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Ligne4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Ligne4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TECHNumeroPiste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.NumeroPiste__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TECHIDPiste__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TECHID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.ModeCreation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TECHModeCreationCompte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TECHSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TECHSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.TypeActivite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.TypeActivite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordToCreate.Nom_Operation_Global__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Nom_Operation_Global__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AccountNameToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactChoose_FonctionPhone</name>
        <label>Set_ContactChoose_FonctionPhone</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>DataTable_ContactList.firstSelected.Fonction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierContact_Job</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DataTable_ContactList.firstSelected.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdentifierContact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_New_Account_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactID_ContactExistant</name>
        <label>Set_ContactID_ContactExistant</label>
        <locationX>776</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>contactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataTable_ContactList.firstSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Created_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VAR_VR_Attribution</name>
        <label>VAR VR Attribution</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Var_VR</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>IdentifierCompte</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <choices>
        <name>SigningProb1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;20%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20% (Peu probable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SigningProb2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;50%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50% (Probable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SigningProb3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;80%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>80% (Très probable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Var_Radio_Case01</name>
        <choiceText>{!$Label.FlowVar_ConvertLead_Screen_01_02}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create new account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Var_Radio_Case02</name>
        <choiceText>{!$Label.FlowVar_ConvertLead_Screen_01_03}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create an opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>VF</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Véhicules Frigorifiques&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Véhicules Frigorifiques</stringValue>
        </value>
    </choices>
    <choices>
        <name>VS</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Véhicules Secs&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Véhicules Secs</stringValue>
        </value>
    </choices>
    <constants>
        <name>DynamicFlowProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Identifier le compte,Identifier le contact,Créer une opportunité​,Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>DynamicFlowProgress_B2C</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Identifier le contact, Créer une opportunité​,Confirmation</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if an account already exist with these criterias</description>
        <name>Check_AccountExist</name>
        <label>Check_AccountExist</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Identifier_le_compte_choix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is_Exist</defaultConnectorLabel>
        <rules>
            <name>isNot_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AccountsExist</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_RecordTypeIDAccount_Prospect</targetReference>
            </connector>
            <label>isNot_exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AccountSelected</name>
        <label>Check_AccountSelected</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Identifier_le_compte_choix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isnot_Selected</defaultConnectorLabel>
        <rules>
            <name>is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTable_AccountList.firstSelected.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_AccountName</targetReference>
            </connector>
            <label>is_Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ContactExist</name>
        <label>Check_ContactExist</label>
        <locationX>644</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Check_New_Account_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNot_Exist</defaultConnectorLabel>
        <rules>
            <name>ContactExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContactsExist</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Identifier_le_contact_Choix_du_contact_existant</targetReference>
            </connector>
            <label>is_Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ContactSelected</name>
        <label>Check_ContactSelected</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Identifier_le_contact_Choix_du_contact_existant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNot_ContactSelected</defaultConnectorLabel>
        <rules>
            <name>is_ContactSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTable_ContactList.firstSelected.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_ContactChoose_FonctionPhone</targetReference>
            </connector>
            <label>is_ContactSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Account_or_not</name>
        <label>Check_New_Account_or_not</label>
        <locationX>644</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Set_AccountId_ExistingAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is_ExistingAccount</defaultConnectorLabel>
        <rules>
            <name>is_NewAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecordToCreate.Name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>is_NewAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_or_Update_Contact</name>
        <label>Check_New_or_Update Contact</label>
        <locationX>644</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Add_AccountIDToContactToCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is_Update</defaultConnectorLabel>
        <rules>
            <name>is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataTable_ContactList.firstSelected.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_AccountIDToContactToCreate</targetReference>
            </connector>
            <label>is_New</label>
        </rules>
    </decisions>
    <decisions>
        <name>VR</name>
        <label>VR</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_AccountsExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>VR_TRUE</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>IdentifierCompte_NationalIDType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>En création</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IdentifierCompte_NationalID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IdentifierCompte_NationalID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VAR_VR_Attribution</targetReference>
            </connector>
            <label>VR TRUE</label>
        </rules>
    </decisions>
    <description>VR Id national</description>
    <dynamicChoiceSets>
        <name>Contact_Salutations_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Country_Lead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pays__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DevisesListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Fonction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Fonction__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NameOfOperation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Liste_nom_operation__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeOpportunite__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaysRegionPF_Lead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PaysRegionPF__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProbaSignatureListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Probabilite_signature__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourcingTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeActivite__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeContratListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeContrat__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeIdentifiantNational_Lead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeIdentifiantNational__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeLocationChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type_Location__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow_ConvertLead_B2B {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow_ConvertLead_B2B</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create_Account</label>
        <locationX>512</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Set_AccountId_NewAccount</targetReference>
        </connector>
        <inputReference>AccountRecordToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create_Contact</label>
        <locationX>512</locationX>
        <locationY>2714</locationY>
        <assignRecordIdToReference>contactID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contact_Created_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Transfer_Consent__c</field>
            <value>
                <elementReference>Get_Lead.Data_Transfer_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Data_Transfer_Consent__c</field>
            <value>
                <elementReference>Get_Lead.Date_Data_Transfer_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Email_consent__c</field>
            <value>
                <elementReference>Get_Lead.Date_Email_consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>IdentifierContact_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_consent__c</field>
            <value>
                <elementReference>Get_Lead.Email_consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>IdentifierContact_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fonction__c</field>
            <value>
                <elementReference>IdentifierContact_Job</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail__c</field>
            <value>
                <elementReference>Get_Lead.HasOptedOutOfEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>IdentifierContact_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ne_Pas_Diffuser_Aux_Partenaires__c</field>
            <value>
                <elementReference>Get_Lead.Ne_pas_diffuser_aux_partenaires__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>IdentifierContact_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordTypeContact_Commercial.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>IdentifierContact_Salutations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_ID_Piste__c</field>
            <value>
                <elementReference>Get_Lead.TECHID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_AccountsExist</name>
        <label>Get_AccountsExist</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AccountExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierCompte_AccountName</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaysRegionPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierCompte_PaysRegion</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypeIdentifiantNational__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierCompte_NationalIDType</elementReference>
            </value>
        </filters>
        <filters>
            <field>IdentifiantNational__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierCompte_NationalID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CodePostal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierCompte_PostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pays__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierCompte_Country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>NomCommercial__c</queriedFields>
        <queriedFields>PaysRegionPF__c</queriedFields>
        <queriedFields>Ligne1__c</queriedFields>
        <queriedFields>Ligne2__c</queriedFields>
        <queriedFields>Ville__c</queriedFields>
        <queriedFields>Pays__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Created_Updated</name>
        <label>Get : Contact Created / Updated</label>
        <locationX>644</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Created_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContactsExist</name>
        <label>Get_ContactsExist</label>
        <locationX>644</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ContactExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierContact_Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierContact_LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordTypeContact_Commercial.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Fonction__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Account</name>
        <label>Get : Created Account</label>
        <locationX>644</locationX>
        <locationY>3122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenFlow_ConvertLead_B2B_B2C_Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get_Lead</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IdentifierCompte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeContact_Commercial</name>
        <label>Get_RecordTypeContact_Commercial</label>
        <locationX>644</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContactsExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact_Commercial</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeIDAccount_Prospect</name>
        <label>Get_RecordTypeIDAccount_Prospect</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_AccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ContactChoose</name>
        <label>Update_ContactChoose</label>
        <locationX>776</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Set_ContactID_ContactExistant</targetReference>
        </connector>
        <inputReference>ContactRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Account</name>
        <label>Update : Existing Account</label>
        <locationX>776</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Check_New_or_Update_Contact</targetReference>
        </connector>
        <inputReference>AccountRecordToCreate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Identifier_le_compte_choix</name>
        <label>Identifier le compte - Choix du compte existant</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_AccountSelected</targetReference>
        </connector>
        <fields>
            <name>IdentifierLeCompteChoice_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.FlowVar_ConvertLead_IdentifierCompte}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IdentifierCompteChoice_Step_Convert</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>DynamicFlowProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Identifier le compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ManyAccountsExist</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowVar_ConvertLead_PlusieursComptes}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DataTable_AccountList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>FDGPack:lWC_Datagrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_AccountsExist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <stringValue>NomCommercial__c,PaysRegionPF__c,Ligne1__c,Ville__c,Pays__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Identifier_le_contact_Choix_du_contact_existant</name>
        <label>Identifier le contact - Choix du contact existant</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_ContactSelected</targetReference>
        </connector>
        <fields>
            <name>IdentifierLeContactChoice_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.FlowVar_ConvertLead_TitreIdentifierLecontact}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Convert_IdentifierContactChoice</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>DynamicFlowProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Identifier le contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ManyContactExist</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowVar_ConvertLead_PlusieursContacts}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DataTable_ContactList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>FDGPack:lWC_Datagrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_ContactsExist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldList</name>
                <value>
                    <stringValue>Name, Fonction__c,Phone,Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IdentifierCompte</name>
        <label>Identifier le compte</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VR</targetReference>
        </connector>
        <fields>
            <name>IdentifierLeCompte_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.FlowVar_ConvertLead_IdentifierCompte}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Convert</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>DynamicFlowProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Identifier le compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CompleteAccountFields</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowVar_ConvertLead_completeFields}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IdentifierCompte_AccountName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Company</elementReference>
            </defaultValue>
            <fieldText>Compte raison sociale</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IdentifierCompte_PaysRegion</name>
            <choiceReferences>PaysRegionPF_Lead</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.PaysRegionPF__c</elementReference>
            </defaultValue>
            <fieldText>Pays/Région</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IdentifierCompte_NationalIDType</name>
            <choiceReferences>TypeIdentifiantNational_Lead</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.TypeIdentifiantNational__c</elementReference>
            </defaultValue>
            <fieldText>Type d&#39;identifiant national</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VR_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(199, 25, 25);&quot;&gt;{!$Label.FlowVar_ConvertLead_VR}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Var_VR</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IdentifierCompte_NationalID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.IdentifiantNational__c</elementReference>
            </defaultValue>
            <fieldText>Identifiant national</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IdentifierCompte_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Rue__c</elementReference>
            </defaultValue>
            <fieldText>Adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IdentifierCompte_Ville</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Ville__c</elementReference>
            </defaultValue>
            <fieldText>Ville</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IdentifierCompte_PostalCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.CodePostal__c</elementReference>
            </defaultValue>
            <fieldText>Code postal</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IdentifierCompte_Country</name>
            <choiceReferences>Country_Lead</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Pays__c</elementReference>
            </defaultValue>
            <fieldText>Pays</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IdentifierContact_B2B</name>
        <label>Identifier le contact - B2B</label>
        <locationX>644</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RecordTypeContact_Commercial</targetReference>
        </connector>
        <fields>
            <name>IdentifierLeContact_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.FlowVar_ConvertLead_TitreIdentifierLecontact}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IdentifierContact_Step_Convert</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>DynamicFlowProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Identifier le contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProspectAccountCreated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.FlowVar_ConvertLead_ProspectAccountIsCreated}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Var_AccountHaveToCreate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CompleteContactFields</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.FlowVar_ConvertLead_completeContactFields}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IdentifierContact_AccountName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.FlowVar_ConvertLead_NomCommercialSociete} : &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!AccountName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IdentifierContact_Salutations</name>
            <choiceReferences>Contact_Salutations_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Salutation</elementReference>
            </defaultValue>
            <fieldText>Civilité du contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IdentifierContact_LastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.LastName</elementReference>
            </defaultValue>
            <fieldText>Nom du contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IdentifierContact_FirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.FirstName</elementReference>
            </defaultValue>
            <fieldText>Prénom du contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IdentifierContact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Adresse e-mail du contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IdentifierContact_Job</name>
            <choiceReferences>Lead_Fonction</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Fonction__c</elementReference>
            </defaultValue>
            <fieldText>Fonction du contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IdentifierContact_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Téléphone du contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ScreenFlow_ConvertLead_B2B_B2C_Create_Opportunity</name>
        <label>ScreenFlow_ConvertLead_B2B_B2C_Create_Opportunity</label>
        <locationX>644</locationX>
        <locationY>3230</locationY>
        <flowName>ScreenFlow_ConvertLead_B2B_B2C_Create_Opportunity</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_ContactsExist</name>
            <value>
                <elementReference>Get_Contact_Created_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_Created_Account</name>
            <value>
                <elementReference>Get_Created_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_LeadRecord</name>
            <value>
                <elementReference>Get_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_RecordTypeContact_Commercial</name>
            <value>
                <elementReference>Get_RecordTypeContact_Commercial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_UseExistedAccount</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecordToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_AccountHaveToCreate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_VR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
