unpackaged/main/default/flows/ScreenFlow_Create_Opportunity_Into_B2C_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigatetoNewOpp</name>
        <label>NavigatetoNewOpp</label>
        <locationX>248</locationX>
        <locationY>2138</locationY>
        <actionName>c:NavigateToTheNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Var_OpportunityRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToTheNewRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_Values</name>
        <label>Add : Opportunity Values</label>
        <locationX>248</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SAD.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenOpp_Devise</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Screen_OpportunityOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Opportunité créée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Probabilite_signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Probabilite_signature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.TypeContrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeContratB2C</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RTOpportunitySAPCPQ_CDMD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.SalesAreaData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetStandardPricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.TypeProduits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SAD.BusinessLine__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_contact_to_create</name>
        <label>Add to contact to create</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenCreate_Nom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prenom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SAD.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneMobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAdress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesinscriptionAdresseEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ligne1_Facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ligne_1_Facturation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Code_Postal_Facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_Postal_Facturation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ville_Facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ville_Facturation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Pays_Facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pays_Facturation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ligne1_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAdressFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Code_Postal_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ville_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCityFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Pays_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCountryFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Fonction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Particulier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRTB2cContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ligne2_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingLine2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ligne3_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingLine3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddContactB2CCreateToOpportunity</name>
        <label>AddContactB2CCreateToOpportunity</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Contact_B2C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ContactToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOpportunityToContact</name>
        <label>AddOpportunityToContact</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Contact_B2C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_By_Tel_Or_Mail.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOpportunityToDuplicateContact</name>
        <label>AddOpportunityToDuplicateContact</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Contact_B2C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choix_CD</name>
        <choiceText>CD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choix_MD</name>
        <choiceText>MD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Var_AccountName</name>
        <choiceText>{!Get_SAD.Account__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_SAD.Account__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Var_AgencePF</name>
        <choiceText>{!Get_SAD.Numero_dagence__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_SAD.Numero_dagence__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Var_CountryPicklistValue</name>
        <choiceText>{!Var_OpportunityRecord.TECHPaysCompte__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_OpportunityRecord.TECHPaysCompte__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Var_ProductTypePicklist</name>
        <choiceText>{!Var_OpportunityRecord.TypeProduits__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_OpportunityRecord.TypeProduits__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Verify_Contact_Exist</name>
        <label>Verify : Contact Exist</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Screen_Create_NewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Don&#39;t Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_By_Tel_Or_Mail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOpportunityToContact</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Duplicated_Contact</name>
        <label>Verify : Duplicated Contact</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Add_to_contact_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Duplicated_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Is_Not_Null_Mail_or_Phone</name>
        <label>Verify Is Not Null : Mail or Phone</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Contact_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 3 ) OR ( 2 AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>Screen_Numero_de_telephone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_Adresse_Mail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_Numero_de_telephone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_Adresse_Mail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_By_Tel_Or_Mail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FunctionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Fonction__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaysContactPF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pays_Facturation__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaysPF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pays__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_StatutContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Statut__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_TypeContrat</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeContrat__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Source_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_BusinessLine</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>BusinessLine__c</picklistField>
        <picklistObject>SalesArea__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Liste_nom_operation__c</description>
        <name>Var_Liste_nom_operation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Liste_nom_operation__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Probability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Probabilite_signature__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Type_Opportunity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeOpportunite__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IsShippingAdressDifferent</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!Similaire_l_adresse_de_facturation} = FALSE,
{!Var_ContactToCreate.ShippingAddressDifferent__c} = TRUE, 
{!Var_ContactToCreate.ShippingAddressDifferent__c} = FALSE)</expression>
    </formulas>
    <formulas>
        <name>PostalCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE, {!Var_ContactToCreate.Code_Postal_Facturation__c}, {!Code_Postal_Livraison})</expression>
    </formulas>
    <formulas>
        <name>SADProductLine</name>
        <dataType>String</dataType>
        <expression>{!Get_SAD.BusinessLine__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingAdressFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE, {!Ligne_1_Facturation}, {!Ligne_1_Livraison})</expression>
    </formulas>
    <formulas>
        <name>ShippingCityFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE, {!Var_ContactToCreate.Ville_Facturation__c}, {!Ville_Livraison})</expression>
    </formulas>
    <formulas>
        <name>ShippingCountryFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE, TEXT({!Var_ContactToCreate.Pays_Facturation__c}), {!Pays_Livraison})</expression>
    </formulas>
    <formulas>
        <name>ShippingLine2</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE,{!Var_ContactToCreate.Ligne_2_Facturation__c} ,{!Var_ContactToCreate.Ligne2_Livraison__c})</expression>
    </formulas>
    <formulas>
        <name>ShippingLine3</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE, {!Var_ContactToCreate.Ligne_3_Facturation__c},{!Var_ContactToCreate.Ligne3_Livraison__c})</expression>
    </formulas>
    <formulas>
        <name>Var_OpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;CD_&quot; &amp;   &quot;_&quot; &amp; {!SADProductLine}</expression>
    </formulas>
    <interviewLabel>ScreenFlow_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow_Create_Opportunity_Into_B2C_Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create : Contact</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>AddContactB2CCreateToOpportunity</targetReference>
        </connector>
        <inputReference>Var_ContactToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create : Opportunity</label>
        <locationX>248</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>NavigatetoNewOpp</targetReference>
        </connector>
        <inputReference>Var_OpportunityRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get : Contact</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Duplicated_Contact</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailAdress.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneMobile.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRTB2cContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SAD.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_By_Tel_Or_Mail</name>
        <label>Get : Contact By Tel Or Mail</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Contact_Exist</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Numero_de_telephone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Adresse_Mail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SAD.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RTOpportunitySAPCPQ_CDMD</name>
        <label>Get_RTOpportunitySAPCPQ_CDMD</label>
        <locationX>248</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStandardPricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_CPQ_CDMD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAD</name>
        <label>Get : SAD</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTB2cContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRTB2cContact</name>
        <label>GetRTB2cContact</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Contact_Search</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Particulier_B2C</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStandardPricebook</name>
        <label>GetStandardPricebook</label>
        <locationX>248</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Opportunity_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Creation_Opportunity_Screen</name>
        <label>Creation Opportunity Screen</label>
        <locationX>248</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RTOpportunitySAPCPQ_CDMD</targetReference>
        </connector>
        <fields>
            <name>NomDuCompte</name>
            <fieldText>&lt;p&gt;Nom du Compte&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_SAD.Account__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Var_OpportunityRecord.PaysRegionPF__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Var_OpportunityRecord.AgencePF__c</objectFieldReference>
        </fields>
        <fields>
            <name>TypeContratB2C</name>
            <choiceReferences>Choix_CD</choiceReferences>
            <choiceReferences>Choix_MD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de contrat</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_Source</name>
            <choiceReferences>Source_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LignedeProduit</name>
            <fieldText>&lt;p&gt;Ligne de Produit&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_SAD.BusinessLine__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Probabilite_signature</name>
            <choiceReferences>Var_Probability</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Probabilité de signature​</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenOpp_Devise</name>
            <choiceReferences>Picklist_Currency</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_SAD.CurrencyIsoCode</elementReference>
            </defaultValue>
            <fieldText>Devise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Var_OpportunityRecord.CloseDate</objectFieldReference>
        </fields>
        <fields>
            <name>Opp_Screen_OpportunityOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Propriétaire de l&#39;opportunité</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Contact_Search</name>
        <label>Rechercher un contact</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Is_Not_Null_Mail_or_Phone</targetReference>
        </connector>
        <fields>
            <name>ScreenSearchContact_Title</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Vérifier que le contact n&#39;existe pas en saisissant son numéro de téléphone ou son adresse e-mail : &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Numero_de_telephone</name>
            <dataType>String</dataType>
            <fieldText>Numéro de téléphone mobile</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Adresse_Mail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Adresse e-mail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Create_NewContact</name>
        <label>Screen_Create_NewContact</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Copier_1_sur_Screen_Contact_Exist_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.FlowVar_ScreenFlow_Create_Opportunity_Into_B2C_Account_Text_01}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeneralInfo</name>
            <fieldText>Informations Générales</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GeneralInfo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prenom</name>
                    <dataType>String</dataType>
                    <fieldText>Prénom</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GeneralInfo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenCreate_Nom</name>
                    <dataType>String</dataType>
                    <fieldText>Nom</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Communication</name>
            <fieldText>Communication</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Communication_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PhoneMobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Téléphone Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Screen_Numero_de_telephone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Communication_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailAdress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Adresse E-mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Screen_Adresse_Mail.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DesinscriptionAdresseEmail</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Désinscription d&#39;adresse e-mail</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>BillingAdress</name>
            <fieldText>Adresse de Facturation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BillingAdress_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ligne_1_Facturation</name>
                    <dataType>String</dataType>
                    <fieldText>Ligne 1 - Facturation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Var_ContactToCreate.Ligne_2_Facturation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Var_ContactToCreate.Ligne_3_Facturation__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Code_Postal_Facturation</name>
                    <dataType>String</dataType>
                    <fieldText>Code Postal (-Facturation-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Ville_Facturation</name>
                    <dataType>String</dataType>
                    <fieldText>Ville (-Facturation-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pays_Facturation</name>
                    <choiceReferences>PaysContactPF</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pays (-Facturation-)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ShippingAdress</name>
            <fieldText>Adresse de Livraison</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShippingAdress_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Similaire_l_adresse_de_facturation</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Similaire à l&#39;adresse de facturation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Ligne_1_Livraison</name>
                    <dataType>String</dataType>
                    <fieldText>Ligne 1 - Livraison</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Var_ContactToCreate.Ligne2_Livraison__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Var_ContactToCreate.Ligne3_Livraison__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Code_Postal_Livraison</name>
                    <dataType>String</dataType>
                    <fieldText>Code Postal (-Livraison-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ville_Livraison</name>
                    <dataType>String</dataType>
                    <fieldText>Ville (-Livraison-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Pays_Livraison</name>
                    <choiceReferences>PaysContactPF</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pays (-Livraison-)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Duplicated_Contact</name>
        <label>Screen Duplicated Contact</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddOpportunityToDuplicateContact</targetReference>
        </connector>
        <fields>
            <name>Text_Duplicated_Contact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.FlowLabelB2C_Duplicate_name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Duplicated_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Duplicated_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DuplicateScreenName</name>
                    <fieldText>&lt;p&gt;{!$Label.FlowLabelB2C_DuplicateContactName}   &lt;strong&gt;&amp;nbsp;{!Get_Contact.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Duplicated_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DuplicateScreenMail</name>
                    <fieldText>&lt;p&gt;{!$Label.FlowLabelB2C_DuplicateContactEmail} &lt;strong&gt;{!Get_Contact.Email}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DuplicateScreenPhone</name>
                    <fieldText>&lt;p&gt;{!$Label.FlowLabelB2C_DuplicateContactPhone} &lt;strong&gt;{!Get_Contact.MobilePhone}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SAD</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContactToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Var_OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
