unpackaged/main/default/flows/ScreenFlow_SynchronisationBP_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_to_Account_collection</name>
        <label>Add to Account collection</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AccountsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtenir_comptes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>boucle_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>754</locationX>
        <locationY>4298</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account_Temp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atrr_Name2</name>
        <label>Atrr Name2</label>
        <locationX>842</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.Name_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_3_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attr</name>
        <label>Attr</label>
        <locationX>754</locationX>
        <locationY>4190</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attr_Name</name>
        <label>Attr Name</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nom_Commercial_SocieteEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_2Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attribution_4</name>
        <label>Name 3 attr</label>
        <locationX>842</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.Name_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_4_empty1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CP_attr</name>
        <label>CP attr</label>
        <locationX>842</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.CodePostal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_postal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copier_1_sur_Code_postal_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ligne_1</name>
        <label>ligne 1 attr</label>
        <locationX>842</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.Ligne1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ligne_1Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ligne_2_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ligne_2_Attr</name>
        <label>Ligne 2 Attr</label>
        <locationX>842</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.Ligne2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ligne2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ligne_3_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ligne_3_attr</name>
        <label>Ligne 3 attr</label>
        <locationX>842</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.Ligne3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ligne3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Code_postal_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Name_4_Attr</name>
        <label>Name 4 Attr</label>
        <locationX>842</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>get_Account.name_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copier_1_sur_Ligne_2_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ville_Atrr</name>
        <label>Ville Atrr</label>
        <locationX>842</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>Account_Temp.Ville__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ville</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attr</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Code_postal_empty</name>
        <label>Code postal empty?</label>
        <locationX>754</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>CP_attr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copier_3_sur_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Code_postal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Code_postal_empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copier_1_sur_Code_postal_empty</name>
        <label>Ville empty?</label>
        <locationX>754</locationX>
        <locationY>3890</locationY>
        <defaultConnector>
            <targetReference>Ville_Atrr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copier_4_sur_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ville</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attr</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copier_1_sur_Ligne_2_empty</name>
        <label>ligne1 empty?</label>
        <locationX>754</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>ligne_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copier_2_sur_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ligne_1Entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ligne_2_empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copier_1_sur_Name_empty</name>
        <label>Name is empty?</label>
        <locationX>754</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Attr_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copier_1_sur_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nom_Commercial_SocieteEntry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_2Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Décision 1</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>boucle_accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non conforme</defaultConnectorLabel>
        <rules>
            <name>Conforme</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartiesImpliquees_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message1</targetReference>
            </connector>
            <label>Conforme</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist</name>
        <label>Exist in collection?</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Add_to_Account_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountsCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Obtenir_comptes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtenir_comptes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>boucle_accounts</targetReference>
            </connector>
            <label>Yes exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ligne_2_empty</name>
        <label>Ligne 2 empty?</label>
        <locationX>754</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Ligne_2_Attr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ligne2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ligne2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ligne_3_empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ligne_3_empty</name>
        <label>Ligne 3 empty?</label>
        <locationX>754</locationX>
        <locationY>3290</locationY>
        <defaultConnector>
            <targetReference>Ligne_3_attr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ligne3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ligne3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Code_postal_empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_2Empty</name>
        <label>Name 2 empty?</label>
        <locationX>754</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Atrr_Name2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesname2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_3_empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_3_empty</name>
        <label>Name 3 empty?</label>
        <locationX>754</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Attribution_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Name3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_4_empty1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_4_empty1</name>
        <label>Name 4 empty?</label>
        <locationX>754</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Name_4_Attr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Name4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copier_1_sur_Ligne_2_empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>GFC-2293</description>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow_SynchronisationBP_Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow_SynchronisationBP_Account</label>
    <loops>
        <name>boucle_accounts</name>
        <label>boucle to get accounts</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <collectionReference>PartiesImpliquees_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Obtenir_comptes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Ecran2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <collectionReference>AccountsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ecran_Correction</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Opps.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Opps</name>
        <label>get Opps</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parties_implique_non_conformes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parties_implique_non_conformes</name>
        <label>Get  Parties impliqué non conformes</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Format__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non conforme</stringValue>
            </value>
        </filters>
        <object>InvolvedStakeholder__c</object>
        <outputReference>PartiesImpliquees_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvolvedAccount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtenir_comptes</name>
        <label>Obtenir comptes</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>boucle_accounts.InvolvedAccount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>mass Update</label>
        <locationX>314</locationX>
        <locationY>4574</locationY>
        <connector>
            <targetReference>Update_parties_impliqu_s</targetReference>
        </connector>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Pour déclencher le recalcul du rollup</description>
        <name>Update_parties_impliqu_s</name>
        <label>Update parties impliqués</label>
        <locationX>314</locationX>
        <locationY>4682</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputReference>PartiesImpliquees_Collection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Ecran2</name>
        <label>Ecran2</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.FlowVar_SyncBP_AccountKO}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;img src=&quot;https://greenforce--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683G000001PUnt?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;rejected.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Correction</name>
        <label>Ecran_Correction</label>
        <locationX>754</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copier_1_sur_Name_empty</targetReference>
        </connector>
        <fields>
            <name>Titre1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;{!Loop_Accounts.Name}&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nom</name>
            <fieldText>Nom</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Nom_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_Commercial_SocieteEntry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nom Commercial Société</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;40 caractères max&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Nom_Commercial_SocieteEntry})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Name_3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.Name_3__c</elementReference>
                    </defaultValue>
                    <fieldText>Name 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;max 40&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Name_3})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Nom_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.Name_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Name 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;max 40&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Name_2})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Name_4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.name_4__c</elementReference>
                    </defaultValue>
                    <fieldText>Name 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;max 40&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Name_4})&lt;=40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Accounts.Check_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Adresse</name>
            <fieldText>Adresse</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Adresse_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ligne_1Entry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.Ligne1__c</elementReference>
                    </defaultValue>
                    <fieldText>Ligne 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;60 Max&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Ligne_1Entry})&lt;=60</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne1__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne3__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ligne3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.Ligne3__c</elementReference>
                    </defaultValue>
                    <fieldText>Ligne3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;max 40&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Ligne3})&lt;=40</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne1__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne3__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ville</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.Ville__c</elementReference>
                    </defaultValue>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;max 40&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Ville}) &lt;=40</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ville__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Adresse_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ligne2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.Ligne2__c</elementReference>
                    </defaultValue>
                    <fieldText>Ligne2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;max 40&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Ligne2})&lt;=40</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne1__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_Ligne3__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Code_postal</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_Accounts.CodePostal__c</elementReference>
                    </defaultValue>
                    <fieldText>Code postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Max 10&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Code_postal})&lt;=10</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Accounts.Check_CodePostal__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Accounts.Check_Ligne1__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_Accounts.Check_CodePostal__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_Accounts.Check_Ville__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_Accounts.Check_Ligne2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_Accounts.Check_Ligne3__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>314</locationX>
        <locationY>4790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtEnd</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.FlowVar_SyncBP_Corrige}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://greenforce--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683G000001PUny?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;approve.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message1</name>
        <label>Message1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.FlowVar_SyncBP_AccountOK}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;img src=&quot;https://greenforce--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683G000001PUno?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;approve.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opps</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Temp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedStakeholder__c</objectType>
    </variables>
    <variables>
        <name>PartiesImpliquees_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedStakeholder__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
