unpackaged/main/default/flows/ScreenFlow_CreateOpporutnity_Into_B2C_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigatetoNewOpp</name>
        <label>NavigatetoNewOpp</label>
        <locationX>248</locationX>
        <locationY>3170</locationY>
        <actionName>c:NavigateToTheNewRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToTheNewRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_Update</name>
        <label>Add : Contact to Update</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Var_ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_By_Tel_Or_Mail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToUpdate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Generic_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reocrdtype_Contact_B2C.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunity_Contact_To_Create</name>
        <label>Add Opportunity : Contact To Create</label>
        <locationX>380</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunity_Contact_to_Update</name>
        <label>Add Opportunity : Contact to Update</label>
        <locationX>116</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Var_ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_By_Tel_Or_Mail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToUpdate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Generic_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToUpdate.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunity_Values</name>
        <label>Add : Opportunity Values</label>
        <locationX>248</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SAD.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.AgencePF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_agence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Liste_nom_operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Screen_Operation_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Screen_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opp_Screen_OpportunityOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Duree_de_validite_jours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_OpportunityRecord.Duree_de_validite_jours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_OpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Opportunité créée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.PaysRegionPF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Generic_Account.PaysRegionPF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Probabilite_signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Probabilite_signature</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.Nom_Compte_generique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Generic_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OpportunityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RTOpportunitySAPCPQ_CDMD.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_contact_to_create</name>
        <label>Add to contact to create</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenCreate_Nom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prenom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SAD.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneMobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAdress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesinscriptionAdresseEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ligne1_Facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adresse_Facturation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Code_Postal_Facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_Postal_Facturation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ville_Facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ville_Facturation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.PaysFacturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pays_Facturation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ligne1_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingAdressFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Code_Postal_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Ville_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCityFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.PaysLivraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingCountryFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.Fonction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Particulier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reocrdtype_Contact_B2C.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ContactToCreate.ShippingAddressDifferent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adressedifferente_Checkbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>380</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ContactToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOppwithAccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact1</name>
        <label>Contact</label>
        <locationX>116</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_ContactToUpdate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOppWithExistingContactId</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Actif</name>
        <choiceText>Actif</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Actif</stringValue>
        </value>
    </choices>
    <choices>
        <name>AED</name>
        <choiceText>AED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AED</stringValue>
        </value>
    </choices>
    <choices>
        <name>BGN</name>
        <choiceText>BGN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BGN	</stringValue>
        </value>
    </choices>
    <choices>
        <name>CAD</name>
        <choiceText>CAD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CD</name>
        <choiceText>CD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CHF</name>
        <choiceText>CHF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CHF</stringValue>
        </value>
    </choices>
    <choices>
        <name>CZK</name>
        <choiceText>CZK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CZK</stringValue>
        </value>
    </choices>
    <choices>
        <name>DKK</name>
        <choiceText>DKK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DKK</stringValue>
        </value>
    </choices>
    <choices>
        <name>EUR</name>
        <choiceText>EUR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </choices>
    <choices>
        <name>GBP</name>
        <choiceText>GBP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GBP</stringValue>
        </value>
    </choices>
    <choices>
        <name>HUF</name>
        <choiceText>HUF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HUF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inactif</name>
        <choiceText>Inactif</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactif</stringValue>
        </value>
    </choices>
    <choices>
        <name>LD</name>
        <choiceText>LD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LD</stringValue>
        </value>
    </choices>
    <choices>
        <name>MAD</name>
        <choiceText>MAD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>MD</name>
        <choiceText>MD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MD</stringValue>
        </value>
    </choices>
    <choices>
        <name>MUR</name>
        <choiceText>MUR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MUR</stringValue>
        </value>
    </choices>
    <choices>
        <name>PLN</name>
        <choiceText>PLN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PLN</stringValue>
        </value>
    </choices>
    <choices>
        <name>RON</name>
        <choiceText>RON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RON</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRY</name>
        <choiceText>TRY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRY</stringValue>
        </value>
    </choices>
    <choices>
        <name>USD</name>
        <choiceText>USD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Var_AccountName</name>
        <choiceText>{!Get_SAD.Account__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_SAD.Account__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Var_AgencePF</name>
        <choiceText>{!Get_SAD.Numero_dagence__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_SAD.Numero_dagence__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Var_CountryPicklistValue</name>
        <choiceText>{!Var_OpportunityRecord.TECHPaysCompte__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_OpportunityRecord.TECHPaysCompte__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Var_ProductTypePicklist</name>
        <choiceText>{!Var_OpportunityRecord.TypeProduits__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_OpportunityRecord.TypeProduits__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>XOF</name>
        <choiceText>XOF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>XOF</stringValue>
        </value>
    </choices>
    <choices>
        <name>ZAR</name>
        <choiceText>ZAR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ZAR</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_reways</name>
        <label>Is reways</label>
        <locationX>248</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Flux_CreateContactPartenaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Reways_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SAD.Account__r.PaysRegionPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reways</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Screen</targetReference>
            </connector>
            <label>Reways Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Contact_Exist</name>
        <label>Verify : Contact Exist</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Screen_Create_NewContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Don&#39;t Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_By_Tel_Or_Mail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact_to_Update</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Contact_Exist_02</name>
        <label>Verify : Contact Exist</label>
        <locationX>248</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Add_Opportunity_Contact_To_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Don&#39;t Exist</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_By_Tel_Or_Mail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opportunity_Contact_to_Update</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Duplicated_Contact</name>
        <label>Verify : Duplicated Contact</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Add_to_contact_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Duplicated_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Is_Not_Null_Mail_or_Phone</name>
        <label>Verify Is Not Null : Mail or Phone</label>
        <locationX>545</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Contact_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 3 ) OR ( 2 AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>Screen_Numero_de_telephone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_Adresse_Mail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_Numero_de_telephone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Screen_Adresse_Mail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_By_Tel_Or_Mail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>V5 - Add Source field -&gt; GFC - 2583
Contact (PaysLivraison/PaysFacturation)
Fonctions partenaires générés à la création
GFC-2886
GFC-2945</description>
    <dynamicChoiceSets>
        <name>AgencePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AgencePF__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FunctionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Fonction__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListRolesContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Role__c</picklistField>
        <picklistObject>RoleContact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaysPF</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pays__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_RoleContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Role__c</picklistField>
        <picklistObject>RoleContact__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Source_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_BusinessLine</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>BusinessLine__c</picklistField>
        <picklistObject>SalesArea__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_IsoCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>IsoCode</picklistField>
        <picklistObject>CurrencyType</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Liste_nom_operation__c</description>
        <name>Var_Liste_nom_operation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Liste_nom_operation__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Probability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Probabilite_signature__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Var_Type_Opportunity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeOpportunite__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Adressedifferente_Checkbox</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Similaire_l_adresse_de_facturation})</expression>
    </formulas>
    <formulas>
        <name>PostalCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE,  {!Code_Postal_Facturation}, {!Code_Postal_Livraison})</expression>
    </formulas>
    <formulas>
        <name>SADProductLine</name>
        <dataType>String</dataType>
        <expression>{!Get_SAD.BusinessLine__c}</expression>
    </formulas>
    <formulas>
        <name>ShippingAdressFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE, {!Adresse_Facturation}, {!Adresse_Livraison})</expression>
    </formulas>
    <formulas>
        <name>ShippingCityFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE, {!Ville_Facturation}, {!Ville_Livraison})</expression>
    </formulas>
    <formulas>
        <name>ShippingCountryFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Similaire_l_adresse_de_facturation} = TRUE, {!Pays_Facturation}, {!Pays_Livraison})</expression>
    </formulas>
    <formulas>
        <name>Var_OpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;CD_&quot; &amp;   &quot;_&quot; &amp; {!SADProductLine}</expression>
    </formulas>
    <interviewLabel>ScreenFlow_CreateOpporutnity_Into_B2C_Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow_CreateOpportunity_Into_B2C_Account_Final</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create : Contact</label>
        <locationX>380</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <inputReference>Var_ContactToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create : Opportunity</label>
        <locationX>248</locationX>
        <locationY>1922</locationY>
        <assignRecordIdToReference>NewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Verify_Contact_Exist_02</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Var_OpportunityRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgencePF__c</field>
            <value>
                <elementReference>Var_OpportunityRecord.AgencePF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Var_OpportunityRecord.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_B2C__c</field>
            <value>
                <elementReference>Var_ContactToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Var_OpportunityRecord.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duree_de_validite_jours__c</field>
            <value>
                <elementReference>Var_OpportunityRecord.Duree_de_validite_jours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Var_OpportunityRecord.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liste_nom_operation__c</field>
            <value>
                <elementReference>Var_OpportunityRecord.Liste_nom_operation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Var_OpportunityRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_Compte_generique__c</field>
            <value>
                <elementReference>Var_OpportunityRecord.Nom_Compte_generique__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_OpportunityRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaysRegionPF__c</field>
            <value>
                <elementReference>Var_OpportunityRecord.PaysRegionPF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probabilite_signature__c</field>
            <value>
                <elementReference>Var_OpportunityRecord.Probabilite_signature__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RTOpportunitySAPCPQ_CDMD.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - Opportunité créée</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeActivite__c</field>
            <value>
                <elementReference>Var_OpportunityRecord.TypeActivite__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeContrat__c</field>
            <value>
                <elementReference>Type_de_Contrat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeProduits__c</field>
            <value>
                <elementReference>SADProductLine</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get : Contact</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Duplicated_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContactToCreate.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContactToCreate.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContactToCreate.FirstName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_By_Tel_Or_Mail</name>
        <label>Get : Contact By Tel Or Mail</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Contact_Exist</targetReference>
        </connector>
        <filterLogic>5 AND (( 1 AND 3 ) OR ( 2 AND 4 ))</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Numero_de_telephone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Adresse_Mail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reocrdtype_Contact_B2C.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Account</name>
        <label>Get : Generic Account</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reocrdtype_Contact_B2C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SAD.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reocrdtype_Contact_B2C</name>
        <label>Get Reocrdtype Contact B2C</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Contact_Search</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Particulier_B2C</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RTOpportunitySAPCPQ_CDMD</name>
        <label>Get_RTOpportunitySAPCPQ_CDMD</label>
        <locationX>248</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Opportunity_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_CPQ_CDMD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAD</name>
        <label>Get : SAD</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Generic_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update : Contact</label>
        <locationX>116</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Contact1</targetReference>
        </connector>
        <inputReference>Var_ContactToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOppwithAccountId</name>
        <label>UpdateOppwithAccountId</label>
        <locationX>380</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Is_reways</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_B2C__c</field>
            <value>
                <elementReference>Var_ContactToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOppWithExistingContactId</name>
        <label>UpdateOppWithExistingContactId</label>
        <locationX>116</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Is_reways</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_B2C__c</field>
            <value>
                <elementReference>Var_ContactToUpdate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Creation_Opportunity_Screen</name>
        <label>Creation Opportunity Screen</label>
        <locationX>248</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_RTOpportunitySAPCPQ_CDMD</targetReference>
        </connector>
        <fields>
            <name>NomDuCompte</name>
            <fieldText>&lt;p&gt;Nom du Compte&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Generic_Account.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PaysRegionPF</name>
            <fieldText>&lt;p&gt;Pays / Région - PF&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Generic_Account.PaysRegionPF__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LignedeProduit</name>
            <fieldText>&lt;p&gt;Ligne de Produit&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!SADProductLine}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Picklists</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>PaysRegionPF__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>AgencePF__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Generic_Account.PaysRegionPF__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_agence</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Screen_Source</name>
            <choiceReferences>Source_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type_de_Contrat</name>
            <choiceReferences>CD</choiceReferences>
            <choiceReferences>MD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de Contrat</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_Probabilite_signature</name>
            <choiceReferences>Var_Probability</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Probabilité de signature​</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opp_Screen_Operation_Name</name>
            <choiceReferences>Var_Liste_nom_operation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nom de l&#39;operation​</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opp_Screen_Currency</name>
            <choiceReferences>AED</choiceReferences>
            <choiceReferences>BGN</choiceReferences>
            <choiceReferences>CAD</choiceReferences>
            <choiceReferences>CHF</choiceReferences>
            <choiceReferences>CZK</choiceReferences>
            <choiceReferences>DKK</choiceReferences>
            <choiceReferences>EUR</choiceReferences>
            <choiceReferences>GBP</choiceReferences>
            <choiceReferences>HUF</choiceReferences>
            <choiceReferences>MAD</choiceReferences>
            <choiceReferences>MUR</choiceReferences>
            <choiceReferences>PLN</choiceReferences>
            <choiceReferences>RON</choiceReferences>
            <choiceReferences>TRY</choiceReferences>
            <choiceReferences>USD</choiceReferences>
            <choiceReferences>XOF</choiceReferences>
            <choiceReferences>ZAR</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Generic_Account.CurrencyIsoCode</elementReference>
            </defaultValue>
            <fieldText>Devise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Var_OpportunityRecord.CloseDate</objectFieldReference>
        </fields>
        <fields>
            <name>Opp_Screen_OpportunityOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Propriétaire de l&#39;opportunité</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$User.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Last_Screen</name>
        <label>Last Screen</label>
        <locationX>248</locationX>
        <locationY>3062</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigatetoNewOpp</targetReference>
        </connector>
        <fields>
            <name>Last_Screen_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.FlowVar_ScreenFlow_Create_Opportunity_Into_B2C_Account_Text_02}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Aller à l&#39;opportunité</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Contact_Search</name>
        <label>Rechercher un contact</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Is_Not_Null_Mail_or_Phone</targetReference>
        </connector>
        <fields>
            <name>Screen_Numero_de_telephone</name>
            <dataType>String</dataType>
            <fieldText>Numéro de téléphone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Adresse_Mail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Adresse Mail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Create_NewContact</name>
        <label>Screen_Create_NewContact</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Copier_1_sur_Screen_Contact_Exist_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.FlowVar_ScreenFlow_Create_Opportunity_Into_B2C_Account_Text_01}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeneralInfo</name>
            <fieldText>Informations Générales</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GeneralInfo_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prenom</name>
                    <dataType>String</dataType>
                    <fieldText>Prénom</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GeneralInfo_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenCreate_Nom</name>
                    <dataType>String</dataType>
                    <fieldText>Nom</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Communication</name>
            <fieldText>Communication</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Communication_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PhoneMobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Téléphone Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Screen_Numero_de_telephone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Communication_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailAdress</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Adresse E-mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Screen_Adresse_Mail.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DesinscriptionAdresseEmail</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Désinscription d&#39;adresse e-mail</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>BillingAdress</name>
            <fieldText>Adresse de Facturation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BillingAdress_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Adresse_Facturation</name>
                    <dataType>String</dataType>
                    <fieldText>Adresse (-Facturation-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Code_Postal_Facturation</name>
                    <dataType>String</dataType>
                    <fieldText>Code Postal (-Facturation-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Ville_Facturation</name>
                    <dataType>String</dataType>
                    <fieldText>Ville (-Facturation-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pays_Facturation</name>
                    <choiceReferences>PaysPF</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pays (-Facturation-)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ShippingAdress</name>
            <fieldText>Adresse de Livraison</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShippingAdress_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Similaire_l_adresse_de_facturation</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Similaire à l&#39;adresse de facturation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Adresse_Livraison</name>
                    <dataType>String</dataType>
                    <fieldText>Adresse (-Livraison-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Code_Postal_Livraison</name>
                    <dataType>String</dataType>
                    <fieldText>Code Postal (-Livraison-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ville_Livraison</name>
                    <dataType>String</dataType>
                    <fieldText>Ville (-Livraison-)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Pays_Livraison</name>
                    <choiceReferences>PaysPF</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pays (-Livraison-)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Similaire_l_adresse_de_facturation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Duplicated_Contact</name>
        <label>Screen Duplicated Contact</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_Duplicated_Contact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.FlowVar_ScreenFlow_Create_Opportunity_Into_B2C_Account_Text_Duplicated_Contact}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SAD</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flux_CreateContactPartenaire</name>
        <label>Flux CreateContactPartenaire</label>
        <locationX>336</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Flux_CreateFonctionPartenaire</targetReference>
        </connector>
        <flowName>CreateContactPartenaire</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_SAD.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_SAD.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flux_CreateFonctionPartenaire</name>
        <label>Flux CreateFonctionPartenaire</label>
        <locationX>336</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Last_Screen</targetReference>
        </connector>
        <flowName>CreateFonctionPartenaire</flowName>
        <inputAssignments>
            <name>AccountID</name>
            <value>
                <elementReference>Get_Generic_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_SAD.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Collection_InvolvedStakeholders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedStakeholder__c</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id_Opp_Modele</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PartieImpliquee_BillTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedStakeholder__c</objectType>
    </variables>
    <variables>
        <name>PartieImpliquee_Payer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedStakeholder__c</objectType>
    </variables>
    <variables>
        <name>PartieImpliquee_PV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedStakeholder__c</objectType>
    </variables>
    <variables>
        <name>PartieImpliquee_ShipTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedStakeholder__c</objectType>
    </variables>
    <variables>
        <name>PartieImpliquee_SoldTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedStakeholder__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rolecontact_AvisPaiement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleContact_Commerce</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleCOntact_Comptablite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleContact_DonneurOrdre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleContact_Exploitant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleContact_Facturation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleCOntact_facturedematerielise</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleCOntact_LIvre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleContact_Payeur</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleContact_PV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>Rolecontact_RelanceKM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>RoleContactToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RoleContact__c</objectType>
    </variables>
    <variables>
        <name>VAR_agence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContactToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Var_ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Var_OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_SalesAreaData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAreaData__c</objectType>
    </variables>
</Flow>
