unpackaged/main/default/flows/ScreenFlow_ConvertLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>Non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <choices>
        <name>SigningProb1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;20%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20% (Peu probable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SigningProb2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;50%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50% (Probable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>SigningProb3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;80%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>80% (Très probable)</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Var_Radio_Case01</name>
        <choiceText>{!$Label.FlowVar_ConvertLead_Screen_01_02}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create new account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Var_Radio_Case02</name>
        <choiceText>{!$Label.FlowVar_ConvertLead_Screen_01_03}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create an opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>VF</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Véhicules Frigorifiques&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Véhicules Frigorifiques</stringValue>
        </value>
    </choices>
    <choices>
        <name>VS</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Véhicules Secs&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Véhicules Secs</stringValue>
        </value>
    </choices>
    <constants>
        <name>DynamicFlowProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Identifier le compte,Identifier le contact,Créer une opportunité​,Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>DynamicFlowProgress_B2C</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Identifier le contact, Créer une opportunité​,Confirmation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_LeadAlreadyConvert</name>
        <label>Check_LeadAlreadyConvert</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_ParticulierProfessionnel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNot_Convert</defaultConnectorLabel>
        <rules>
            <name>is_AlreadyConvert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_AlreadyConverted</targetReference>
            </connector>
            <label>is_AlreadyConvert</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the lead is a B2C or B2B Lead</description>
        <name>Check_ParticulierProfessionnel</name>
        <label>Check_ParticulierProfessionnel</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Last_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>is_Particulier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Particulier_Professionnel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Particulier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenFlow_ConvertLead_B2C</targetReference>
            </connector>
            <label>is_Particulier</label>
        </rules>
        <rules>
            <name>is_Professionnel_Evenementiel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Particulier_Professionnel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professionnel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Particulier_Professionnel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evénementiel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Identifier_le_compte_01</targetReference>
            </connector>
            <label>is_Professionnel/Evénementiel</label>
        </rules>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Particulier_Professionnel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Empty</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Create_a_new_Account_Choose_An_Account</name>
        <label>Verify : Create a new Account / Choose An Account</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Redirect to a jast screen</defaultConnectorLabel>
        <rules>
            <name>Create_a_new_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create new account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenFlow_ConvertLead_B2B</targetReference>
            </connector>
            <label>Create a new account</label>
        </rules>
        <rules>
            <name>Choose_an_existant_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_01</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>create an opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existed_Account</targetReference>
            </connector>
            <label>Choose an existant account</label>
        </rules>
    </decisions>
    <description>(Particulier B2C/VR id national/Champs DB/OwnerId/Particulier/Pro empty)</description>
    <dynamicChoiceSets>
        <name>Contact_Salutations_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Country_Lead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Pays__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DevisesListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Fonction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Fonction__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NameOfOperation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Liste_nom_operation__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeOpportunite__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaysRegionPF_Lead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PaysRegionPF__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProbaSignatureListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Probabilite_signature__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourcingTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeActivite__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeContratListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeContrat__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeIdentifiantNational_Lead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeIdentifiantNational__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeLocationChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type_Location__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>ScreenFlow_ConvertLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow_ConvertLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get : Account</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenFlow_ConvertLead_B2B_B2C_Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existed_Account</name>
        <label>Get : Existed Account</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choisir_un_compte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Company</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get_Lead</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_LeadAlreadyConvert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choisir_un_compte</name>
        <label>Choisir un compte</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Copier_1_sur_Copier_1_sur_IdentifierLeCompte_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.FlowVar_ConvertLead_IdentifierCompte}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copier_1_sur_Copier_1_sur_Step_Convert</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>DynamicFlowProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Identifier le compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Compte_Client__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Existed_Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Identifier_le_compte_01</name>
        <label>Identifier le compte</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Create_a_new_Account_Choose_An_Account</targetReference>
        </connector>
        <fields>
            <name>Copier_1_sur_IdentifierLeCompte_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.FlowVar_ConvertLead_IdentifierCompte}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copier_1_sur_Step_Convert</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>DynamicFlowProgress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Identifier le compte</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Screen_01</name>
            <choiceReferences>Var_Radio_Case01</choiceReferences>
            <choiceReferences>Var_Radio_Case02</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Var_Radio_Case01</defaultSelectedChoiceReference>
            <fieldText>Souhaitez-vous :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Last_Screen</name>
        <label>Last Screen</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_Bloquage_Particulier</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;{!$Label.FlowVar_ConvertLead_Blocked}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_AlreadyConverted</name>
        <label>Screen_AlreadyConverted</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>eding_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowVar_ConvertLead_AlreadyConverted}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Empty</name>
        <label>Screen_Empty</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_Empty</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowVar_ConvertLead_Empty}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ScreenFlow_ConvertLead_B2B</name>
        <label>ScreenFlow_ConvertLead_B2B</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <flowName>ScreenFlow_ConvertLead_B2B</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ScreenFlow_ConvertLead_B2B_B2C_Create_Opportunity</name>
        <label>ScreenFlow_ConvertLead_B2B_B2C_Create_Opportunity</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <flowName>ScreenFlow_ConvertLead_B2B_B2C_Create_Opportunity</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_Created_Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_LeadRecord</name>
            <value>
                <elementReference>Get_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_UseExistedAccount</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ScreenFlow_ConvertLead_B2C</name>
        <label>ScreenFlow_ConvertLead_B2C</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <flowName>ScreenFlow_ConvertLead_B2C</flowName>
        <inputAssignments>
            <name>Var_LeadRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecordToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_AccountHaveToCreate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_VR</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
