unpackaged/main/default/flows/TDP_Update_Assigned_Ressource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Assigned_Ressource</name>
        <label>Set Assigned Ressource</label>
        <locationX>485</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>related_assigned_ressource.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>current_wo.Ressource_Interne__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assigned_Ressource</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TDP_Update_Assigned_Ressource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TDP_Update_Assigned_Ressource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_Ressource</name>
        <label>Get Assigned Ressource</label>
        <locationX>485</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Assigned_Ressource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>related_sa.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>related_assigned_ressource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>345</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Ressource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_wo_id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>related_sa</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WO</name>
        <label>Get WO</label>
        <locationX>196</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_wo_id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>current_wo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ressource_Interne__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assigned_Ressource</name>
        <label>Update Assigned Ressource</label>
        <locationX>326</locationX>
        <locationY>202</locationY>
        <inputReference>related_assigned_ressource</inputReference>
    </recordUpdates>
    <startElementReference>Get_WO</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>current_wo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>input_wo_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>related_assigned_ressource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>related_sa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
