unpackaged/main/default/flows/TDP_Mobile_Create_OT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetAssetNotFoundText</name>
        <label>SetAssetNotFoundText</label>
        <locationX>828</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>assetNotFoundDisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Numéro de parc introuvable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creer_un_ordre_de_travail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssetNotFound</name>
        <label>AssetNotFound</label>
        <locationX>1039</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Asset_Selection_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAssetNotFoundText</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>NOT_TDP</name>
        <label>NOT_TDP</label>
        <locationX>606</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Creer_un_ordre_de_travail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>DDS_OR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkOrder.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OT_RecordTypeID_Depannage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentWorkOrder.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123X0000015wfdQAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentWorkOrder.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OT_RecordTypeID_DDR</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Screen</targetReference>
            </connector>
            <label>DDS_OR</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Choix_Parcs</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>parc_number</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Parc_Record_Type_Id</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>ID_Asset</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>OT_RecordTypeID_DDR</name>
        <dataType>String</dataType>
        <expression>{!$Label.OT_RecordTypeID_DDR}</expression>
    </formulas>
    <formulas>
        <name>OT_RecordTypeID_DDS</name>
        <dataType>String</dataType>
        <expression>{!$Label.OT_RecordTypeID_DDS}</expression>
    </formulas>
    <formulas>
        <name>OT_RecordTypeID_Depannage</name>
        <dataType>String</dataType>
        <expression>{!$Label.OT_RecordTypeID_Depannage}</expression>
    </formulas>
    <interviewLabel>TDP_Mobile_Create_OT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TDP_Mobile_Create_OT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CreateAssignedResource</name>
        <label>CreateAssignedResource</label>
        <locationX>224</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>OTCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>ServiceAppointmentId</field>
            <value>
                <elementReference>newServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceResourceId</field>
            <value>
                <elementReference>currentWorkOrder.Ressource_Interne__c</elementReference>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
    </recordCreates>
    <recordCreates>
        <name>CreateServiceAppointment</name>
        <label>CreateServiceAppointment</label>
        <locationX>349</locationX>
        <locationY>321</locationY>
        <assignRecordIdToReference>newServiceAppointment.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CreateAssignedResource</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>currentAccount.VilleExploitation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>currentAccount.PaysExploitation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>currentWorkOrderParent.Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>currentWorkOrderParent.Earliest_Start_Permitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_parc__c</field>
            <value>
                <elementReference>SelectedAsset.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>newWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>currentWorkOrderParent.Earliest_Start_Permitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>currentWorkOrderParent.Earliest_Start_Permitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expédié</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>currentAccount.TECH_CONCAT_ADDRESS_EXPLOITATION__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>currentAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>349</locationX>
        <locationY>487</locationY>
        <assignRecordIdToReference>newWorkOrder.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CreateServiceAppointment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>currentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agence_Intervenante__c</field>
            <value>
                <elementReference>currentWorkOrderParent.Agence_Intervenante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>SelectedAsset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>currentAccount.VilleExploitation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>currentAccount.PaysExploitation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>currentWorkOrderParent.Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Earliest_Start_Permitted__c</field>
            <value>
                <elementReference>currentWorkOrderParent.Earliest_Start_Permitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Km_Asset__c</field>
            <value>
                <elementReference>SelectedAsset.KmCompteurIgloo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentWorkOrderId</field>
            <value>
                <elementReference>currentWorkOrderParent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OT_TourDeParc_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ressource_Interne__c</field>
            <value>
                <elementReference>currentWorkOrder.Ressource_Interne__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>currentAccount.TECH_CONCAT_ADDRESS_EXPLOITATION__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q3X000000gG8NQAU</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Parc</name>
        <label>Get Parc</label>
        <locationX>832</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountInformations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_Asset</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>SelectedAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>KmCompteurIgloo__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccountInformations</name>
        <label>GetAccountInformations</label>
        <locationX>677</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWorkOrderParent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>currentAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TECH_CONCAT_ADDRESS_EXPLOITATION__c</queriedFields>
        <queriedFields>VilleExploitation__c</queriedFields>
        <queriedFields>PaysExploitation__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>458</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NOT_TDP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currentWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentWorkOrderId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Ressource_Interne__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderParent</name>
        <label>GetWorkOrderParent</label>
        <locationX>515</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.ParentWorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currentWorkOrderParent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Agence_Intervenante__c</queriedFields>
        <queriedFields>Earliest_Start_Permitted__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchForAsset</name>
        <label>SearchForAsset</label>
        <locationX>1046</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetNotFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>parc_number</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_Parc_Record_Type_Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>Assets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KmCompteurIgloo__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Asset_Selection_Screen</name>
        <label>Asset Selection Screen</label>
        <locationX>1047</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Parc</targetReference>
        </connector>
        <fields>
            <name>ChoixParcs</name>
            <choiceReferences>Choix_Parcs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parc</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Creer_un_ordre_de_travail</name>
        <label>Tour de parc - Ajout véhicule</label>
        <locationX>828</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SearchForAsset</targetReference>
        </connector>
        <fields>
            <name>parc_number</name>
            <dataType>String</dataType>
            <fieldText>Saisissez le numéro de parc</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssetNotFoundText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 4, 4);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(240, 16, 16);&quot;&gt;{!assetNotFoundDisplayText}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message_Screen</label>
        <locationX>613</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Not_TDP</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(218, 9, 15); font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(235, 236, 240);&quot;&gt;Impossible de créer un TDP&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OTCreated</name>
        <label>Tour de parc - Ajout véhicule</label>
        <locationX>94</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OT_Created</name>
            <fieldText>&lt;p&gt;Ordre de travail créé avec succès&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Asset_Parc_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0123X000000XN7SQAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>assetNotFoundDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Assets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>currentWorkOrderParent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <description>Id of the input object</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Asset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>newWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>NumeroParcRecherche</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OT_TourDeParc_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0123X000000XN7TQAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>WO_WorkType_TourDeParc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>08q3X000000gG8NQAU</stringValue>
        </value>
    </variables>
</Flow>
