unpackaged/main/default/flows/TDP_UpdateKMConstateAsset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignAssetKMConstate</name>
        <label>AssignAssetKMConstate</label>
        <locationX>581</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>getCurrentAsset.KmCompteurConstate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWoAsset.Km_constat__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateKMAsset</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TDP_UpdateKMConstateAsset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TDP_UpdateKMConstateAsset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAsset</name>
        <label>getAsset</label>
        <locationX>400</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAssetKMConstate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWoAsset.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>getCurrentAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KmCompteurConstate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWo</name>
        <label>getWo</label>
        <locationX>215</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_WO</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>getWoAsset</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>Km_constat__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateKMAsset</name>
        <label>UpdateKMAsset</label>
        <locationX>767</locationX>
        <locationY>50</locationY>
        <inputReference>getCurrentAsset</inputReference>
    </recordUpdates>
    <startElementReference>getWo</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>getCurrentAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>getWoAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>id_WO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
