unpackaged/main/default/flows/test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Container</name>
        <label>Assign Opportunity Container</label>
        <locationX>974</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Opportunité créée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vue_Commerciale.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.SalesAreaData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vue_Commerciale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.PaysRegionPF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentPicklistsContainer1.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AgencePF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentPicklistsContainer1.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeOpportunite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenOpportunityTypeContainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Apporteur_d_affaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenApporteuraffaireContainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Probabilite_signature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenSigningProbabilityContainre</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenClosingplanneddateContainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Type_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenTypeLocationContainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.DescriptionDemande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDescriptionDemandSupplyContainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenClosingplanneddateContainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devise_de_l_opportunite_Container</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeActivite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_sourcing_Container</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nom_de_l_opportunite_Container</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeProduits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Containers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Meuble</name>
        <label>Assign Opportunity Meuble</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.OPP_RecordType_Meuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.SalesAreaData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vue_Commerciale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenAccountMeuble.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Liste_nom_operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenNameoftheoperationMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.PaysRegionPF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentPicklists1Meuble.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AgencePF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DependentPicklists1Meuble.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Nombre_de_mois_de_caution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenNumberofmonthsofdepositMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenClosingplanneddateMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.DescriptionDemande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDescriptionDemandSupplyMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CodePF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenPFCodeMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeProduits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meubles</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Quantite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenQuantityMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.DureeContrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenContractDurationMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.LoyerMensuel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenMonthlyrateMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeOpportunite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenOpportunityTypeMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeContrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenContractTypeMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Date_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDeliveryDateMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Date_Reprise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenRecoveryDateMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devise_de_l_opportunite_Meubles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Opportunité créée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.N_Contrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_de_contrat_Meuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.N_Parc_s_attribu_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_Parcs_attribue_meubles1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Publicite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Publicite_meuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Frais_PLV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frais_publicite_meuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Frais_Transport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frais_transport_meuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Dispense_de_caution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dispense_de_cautionMeuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Sans_Concurrent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Aucun_concurrent_identifi_meuble</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nom_de_l_opportunite_Meuble</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Vehicule_LD</name>
        <label>Assign Opportunity Véhicule LD</label>
        <locationX>2426</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.Liste_nom_operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenNameoftheOperationVehicule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.PaysRegionPF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDependantPicklistVehciule1.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AgencePF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDependantPicklistVehciule1.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeProduits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_produit_Vehicule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeOpportunite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenOpportunityTypeVehicule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenAccountVehicule.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.SalesAreaData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vue_Commerciale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Opportunité créée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.TypeContrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Type_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Longue Durée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenClosingPlannedDateVehicule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.DescriptionDemande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDescriptionDemandSupplyVehicule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.AppelOffre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenTenderVehicule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_Opportunity_vehicule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Duree_de_validite_jours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duree_de_validite_vehicule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Devise_de_l_opportunite_Vehicules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Container_fr</name>
        <label>Assign RT Container FR</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_OppContainer_FR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Container</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Container_Inter</name>
        <label>Assign RT Container Inter</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_OppContainer_Inter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Container</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_mon_devis</name>
        <label>create mon devis</label>
        <locationX>1667</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>Mon_devis.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mon_devis.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mon_devis.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0123X000000XNBeQAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SigningProb1</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(227, 243, 255);&quot;&gt;20%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SigningProb2</name>
        <choiceText>50%</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SigningProb3</name>
        <choiceText>80%</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SubFamily1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;BAC&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>VF</name>
        <choiceText>Véhicules Frigorifiques</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Véhicules Frigorifiques</stringValue>
        </value>
    </choices>
    <choices>
        <name>VS</name>
        <choiceText>Véhicules Secs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Véhicules Secs	</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_OK</name>
        <label>Account OK</label>
        <locationX>858</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Decision_Product_Lignes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>NON_OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bloqué</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Nb_contacts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Nb_contacts__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ScreenErrorMessageFooter</targetReference>
            </connector>
            <label>NON OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_recordtype_inter_Fr</name>
        <label>Check for recordtype (inter/Fr)</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_RT_OppContainer_Inter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>INTER</defaultConnectorLabel>
        <rules>
            <name>France</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.PFRegion__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DRO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.PFRegion__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>STFR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RT_OppContainer_FR</targetReference>
            </connector>
            <label>France</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copier_1_sur_Statut_Compte_Check_Container</name>
        <label>Copier 1 sur Statut Compte Check Container</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_RT_Opportunity_Meuble</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Statut Ok</defaultConnectorLabel>
        <rules>
            <name>Statut_Not_Ok_LD2</name>
            <conditionLogic>(1 OR (2 AND (3 OR 4))) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attente Validation CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.CotationPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.CotationPF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenContractTypeMeuble</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Longue Durée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenErrorOpptyIsBlocked</targetReference>
            </connector>
            <label>Statut Not Ok LD</label>
        </rules>
        <rules>
            <name>Statut_Not_Ok_CD_MD2</name>
            <conditionLogic>1 OR (2 AND 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attente Validation CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.CotationPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenContractTypeMeuble</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Courte Durée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenContractTypeMeuble</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moyenne Durée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenErrorOpptyCDMDIsBlocked</targetReference>
            </connector>
            <label>Statut Not Ok CD/MD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Product_Lignes</name>
        <label>Decision Product Lignes</label>
        <locationX>1667</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Containers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.SalesArea__r.BusinessLine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Containers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opportunity_Container</targetReference>
            </connector>
            <label>Containers</label>
        </rules>
        <rules>
            <name>Meubles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.SalesArea__r.BusinessLine__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meubles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Opportunity_Meuble</targetReference>
            </connector>
            <label>Meubles</label>
        </rules>
        <rules>
            <name>Vehicules_LD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.BusinessLine__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Véhicules</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statut_du_Compte</targetReference>
            </connector>
            <label>Véhicules LD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Statut_Compte_Check_Container</name>
        <label>Statut Compte Check Container</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_for_recordtype_inter_Fr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Statut Ok</defaultConnectorLabel>
        <rules>
            <name>Statut_Ok</name>
            <conditionLogic>(1 OR (2 AND (3 OR 4))) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attente Validation CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.CotationPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.CotationPF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenTypeLocationContainer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Longue Durée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenErrorOpptyIsBlocked</targetReference>
            </connector>
            <label>Statut Not Ok LD</label>
        </rules>
        <rules>
            <name>Statut_Not_Ok_CD_MD</name>
            <conditionLogic>1 OR (2 AND 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attente Validation CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.CotationPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenTypeLocationContainer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Courte Durée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenTypeLocationContainer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moyenne Durée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenErrorOpptyCDMDIsBlocked</targetReference>
            </connector>
            <label>Statut Not Ok CD/MD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Statut_du_Compte</name>
        <label>Statut du Compte</label>
        <locationX>2294</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_RT_Opportunity_vehicule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Statut Ok</defaultConnectorLabel>
        <rules>
            <name>Statut_Not_Ok</name>
            <conditionLogic>1 OR (2 AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attente Validation CM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.CotationPF__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vue_Commerciale.Account__r.CotationPF__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenErrorOpptyIsBlocked</targetReference>
            </connector>
            <label>Statut Not Ok</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DevisesListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NameOfOperation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Liste_nom_operation__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeOpportunite__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProbaSignatureListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Probabilite_signature__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourcingTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeActivite__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageNameOppListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatutValidationChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Statut_validation__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeContratListe</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TypeContrat__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeLocation_Liste</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type_Location__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeLocationChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type_Location__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1667</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>create_mon_devis</targetReference>
        </connector>
        <inputReference>NewOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_quote</name>
        <label>Create quote</label>
        <locationX>1667</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>fin</targetReference>
        </connector>
        <inputReference>Mon_devis</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RT_OppContainer_FR</name>
        <label>Get RT OppContainer FR</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RT_Container_fr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunite_Containe_EN_COURS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_OppContainer_Inter</name>
        <label>Get RT OppContainer Inter</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RT_Container_Inter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunit_Container_INTER</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Opportunity_Meuble</name>
        <label>Get_RT_Opportunity_Meuble</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Meuble</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunite_Meuble</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Opportunity_vehicule</name>
        <label>Get_RT_Opportunity_vehicule</label>
        <locationX>2426</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Opportunity_V_hicule_LD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunite_Vehicule_DRAFT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vue_Commerciale</name>
        <label>Get Vue Commerciale</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_OK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAreaData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>fin</name>
        <label>fin</label>
        <locationX>1667</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>X88</name>
            <defaultValue>
                <stringValue>{!Mon_devis.Id}</stringValue>
            </defaultValue>
            <fieldText>88</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>QuoteDoc</name>
            <extensionName>c:quoteDocumentEditor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>RequiredField_QuoteID</name>
                <value>
                    <elementReference>Mon_devis.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Opportunity_Container</name>
        <label>New Opportunity Container</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Annuler</backButtonLabel>
        <connector>
            <targetReference>Statut_Compte_Check_Container</targetReference>
        </connector>
        <fields>
            <name>ScreenTitleContainer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 141, 0);&quot;&gt;Container&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; 🚋&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Opportunity_Container_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_Container_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountScreenContainer</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Compte</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Vue_Commerciale.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DependentPicklistsContainer1</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>PaysRegionPF__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>AgencePF__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Pays / Region PF</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>PF Depot</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Get_Vue_Commerciale.PFRegion__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ScreenOpportunityTypeContainer</name>
                    <choiceReferences>OpportunityTypeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type d&#39;opportunité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenApporteuraffaireContainer</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Apporteur d&#39;affaire</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenClosingplanneddateContainer</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de clôture prévisionnelle</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenTypeLocationContainer</name>
                    <choiceReferences>TypeLocationChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Opportunity_Container_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_de_l_opportunite_Container</name>
                    <dataType>String</dataType>
                    <fieldText>Nom de l&#39;opportunité</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenSigningProbabilityContainre</name>
                    <choiceReferences>ProbaSignatureListe</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Probabilité de signature</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Devise_de_l_opportunite_Container</name>
                    <choiceReferences>DevisesListe</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Devise de l&#39;opportunité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_sourcing_Container</name>
                    <choiceReferences>SourcingTypeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type sourcing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenDescriptionDemandSupplyContainer</name>
            <fieldText>Description de la demande / approvisionnement</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Créer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Opportunity_Meuble</name>
        <label>New Opportunity Meuble</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Annuler</backButtonLabel>
        <connector>
            <targetReference>Copier_1_sur_Statut_Compte_Check_Container</targetReference>
        </connector>
        <fields>
            <name>ScreenTitleMeuble</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 145, 255);&quot;&gt;Meubles&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; 🧊&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Opportunity_Meuble_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_Meuble_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_de_l_opportunite_Meuble</name>
                    <dataType>String</dataType>
                    <fieldText>Nom de l&#39;opportunité</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Opp_Owner</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Propriétaire de l&#39;opportunité </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OwnerId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>OwnerMeuble</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ScreenAccountMeuble</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Compte</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Vue_Commerciale.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DependentPicklists1Meuble</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>PaysRegionPF__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>AgencePF__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Pays / Region PF</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>PF Depot</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Get_Vue_Commerciale.PFRegion__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>N_Parcs_attribue_meubles1</name>
                    <dataType>String</dataType>
                    <fieldText>N° Parc(s) attribué(s)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_de_cl_ture_effectiveMeuble</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de clôture effective</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ScreenClosingplanneddateMeuble</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de clôture prévisionnelle</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Opportunity_Meuble_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenNameoftheoperationMeuble</name>
                    <choiceReferences>NameOfOperation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nom de l&#39;opération</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Numero_de_contrat_Meuble</name>
                    <dataType>String</dataType>
                    <fieldText>N° contrat</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Devise_de_l_opportunite_Meubles</name>
                    <choiceReferences>DevisesListe</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Devise de l&#39;opportunité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Probabilit_de_signature_meuble</name>
                    <choiceReferences>SigningProb1</choiceReferences>
                    <choiceReferences>SigningProb2</choiceReferences>
                    <choiceReferences>SigningProb3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Probabilité de signature</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenNumberofmonthsofdepositMeuble</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Nombre de mois de caution</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Dispense_de_cautionMeuble</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Dispense de caution</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Aucun_concurrent_identifi_meuble</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Aucun concurrent identifié</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenDescriptionDemandSupplyMeuble</name>
            <fieldText>Description de la demande / Approvisionnement</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Opportunity_Meuble_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_Meuble_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenPFCodeMeuble</name>
                    <dataType>String</dataType>
                    <fieldText>PF Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenOpportunityTypeMeuble</name>
                    <choiceReferences>OpportunityTypeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type d&#39;opportunité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenContractTypeMeuble</name>
                    <choiceReferences>TypeContratListe</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de contrat</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenDeliveryDateMeuble</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de livraison</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ScreenRecoveryDateMeuble</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de reprise</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Opportunity_Meuble_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenQuantityMeuble</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantité</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ScreenContractDurationMeuble</name>
                    <dataType>Number</dataType>
                    <fieldText>Durée du contrat</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ScreenMonthlyrateMeuble</name>
                    <dataType>Currency</dataType>
                    <fieldText>Loyer mensuel</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Publicite_meuble</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Publicité</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Frais_publicite_meuble</name>
                    <dataType>Currency</dataType>
                    <fieldText>Frais publicité</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Frais_transport_meuble</name>
                    <dataType>Currency</dataType>
                    <fieldText>Frais transport</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Créer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Opportunity_V_hicule_LD</name>
        <label>New Opportunity Véhicule LD</label>
        <locationX>2426</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Annuler</backButtonLabel>
        <connector>
            <targetReference>Assign_Opportunity_Vehicule_LD</targetReference>
        </connector>
        <fields>
            <name>ScreenTitleVehicles</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(39, 179, 30);&quot;&gt;Véhicules 🚛&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Opportunity_V_hicule_LD_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Opportunity_V_hicule_LD_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenOpportunityName</name>
                    <dataType>String</dataType>
                    <fieldText>Nom de l&#39;opportunité</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenDependantPicklistVehciule1</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>PaysRegionPF__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>AgencePF__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Get_Vue_Commerciale.PFRegion__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ScreenNameoftheOperationVehicule</name>
                    <choiceReferences>NameOfOperation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nom de l&#39;opération</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ScreenSigningprobabilityVehciule</name>
                    <choiceReferences>SigningProb1</choiceReferences>
                    <choiceReferences>SigningProb2</choiceReferences>
                    <choiceReferences>SigningProb3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Probabilité de signature</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Opportunity_V_hicule_LD_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenAccountVehicule</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Compte</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Vue_Commerciale.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Type_de_produit_Vehicule</name>
                    <choiceReferences>VF</choiceReferences>
                    <choiceReferences>VS</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de produit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenOpportunityTypeVehicule</name>
                    <choiceReferences>OpportunityTypeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type d&#39;opportunité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Devise_de_l_opportunite_Vehicules</name>
                    <choiceReferences>DevisesListe</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Devise de l&#39;opportunité</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ScreenTenderVehicule</name>
            <dataType>Boolean</dataType>
            <fieldText>Appel d&#39;offre</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duree_de_validite_vehicule</name>
            <dataType>Number</dataType>
            <fieldText>Durée de validité</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ScreenTenderVehicule</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenSyntheseCommercialeVehciule</name>
            <fieldText>Synthese Commerciale</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSyntheseCommercialeVehciule_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenClosingPlannedDateVehicule</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de clôture prévisionnelle</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ScreenDescriptionDemandSupplyVehicule</name>
                    <fieldText>Description de la demande</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Créer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorMessageFooter</name>
        <label>ScreenErrorMessageFooter</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenErrorMessageAccountValidatedContact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;⚠️ Pour créer une opportunité, veuillez vérifier que votre compte soit validé et qu&#39;il possède au moins 1 contact &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;⚠️&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorOpptyCDMDIsBlocked</name>
        <label>ScreenErrorOpptyCDMDIsBlocked</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTextOpptyBlocked2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;⚠️ Le statut du compte ne permet pas la création d&#39;une opportunité CD/MD. Merci de vérifier les informations du compte ⚠️&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorOpptyIsBlocked</name>
        <label>ScreenErrorOpptyIsBlocked</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTextOpptyBlocked</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(195, 7, 13); background-color: rgb(255, 255, 255);&quot;&gt;⚠️ Le statut du compte ne permet pas la création d&#39;une opportunité LD. Merci de vérifier les informations du compte ⚠️&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vue_Commerciale</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgencePF_Container</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mon_devis</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OwnerMeuble</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaysRegionPF_Container</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>raisonClotureMeuble_Entry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StageNameMeuble_Entry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
