unpackaged/main/default/flows/WFC_Tarification_II.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Var_prix_km_supp</name>
        <label>Var prix km supp</label>
        <locationX>471</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>VAR_Quote_PrixKMSupp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q.Prix_du_km_supplementaire_les_100_kms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_OPP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>OPP_Statut_2_3_4</name>
        <label>OPP Statut 2,3,4</label>
        <locationX>492</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Opp_Statut_OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_OPP.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Opportunité qualifiée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_OPP.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 - Proposition remise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_OPP.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4 - En négociation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Draft_Userr</targetReference>
            </connector>
            <label>Opp Statut OK</label>
        </rules>
        <rules>
            <name>Opp_Statut_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_OPP.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>2 - Opportunité qualifiée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_OPP.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>3 - Proposition remise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_OPP.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4 - En négociation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Err_0</targetReference>
            </connector>
            <label>Opp Statut KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>statut_Quote</name>
        <label>statut Quote</label>
        <locationX>849</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>DNP_EN_cours</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_OPP.DNP_Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approuvée</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_OPP.DNP_Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En attente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_DeroEnCours_00</targetReference>
            </connector>
            <label>DNP EN cours</label>
        </rules>
        <rules>
            <name>DERO_En_Cours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q.Nb_Derogations__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDERO</targetReference>
            </connector>
            <label>DERO En Cours</label>
        </rules>
        <rules>
            <name>Devis_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_RecordTypeId_QuoteStandard</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_devis_standard</targetReference>
            </connector>
            <label>Devis Standard</label>
        </rules>
        <rules>
            <name>DRAFT_USER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfileID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Profile_ServiceTarification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DRAFT_USER_Before</targetReference>
            </connector>
            <label>DRAFT + USER</label>
        </rules>
        <rules>
            <name>DRAFT_TARIFICATION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_ServiceTarification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_Draft_Tarification_00</targetReference>
            </connector>
            <label>DRAFT + TARIFICATION</label>
        </rules>
        <rules>
            <name>A_Tarifer_USER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A Tarifer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfileID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Profile_ServiceTarification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_A_TArifer_USER_00</targetReference>
            </connector>
            <label>A Tarifer +USER</label>
        </rules>
        <rules>
            <name>A_Tarifer_TARIFCATION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A Tarifer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_ServiceTarification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_ATARIFER_Tarification</targetReference>
            </connector>
            <label>A Tarifer + TARIFCATION</label>
        </rules>
        <rules>
            <name>Tarif_USER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarifé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfileID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Profile_ServiceTarification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TARIFER_USER_BEFORE</targetReference>
            </connector>
            <label>Tarifé + USER</label>
        </rules>
        <rules>
            <name>Tarif_TARIFICATION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarifé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_ProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Profile_ServiceTarification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_TARIFER_Tarification_00</targetReference>
            </connector>
            <label>Tarifé + TARIFICATION</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Prix_km_supp</name>
        <label>Update Prix km supp?</label>
        <locationX>829</locationX>
        <locationY>1153</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Oui_update_km</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prix_du_km_supp_saisi</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Quote_PrixKMSupp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Prix_KM</targetReference>
            </connector>
            <label>Oui update km</label>
        </rules>
        <rules>
            <name>Non_update_km</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Prix_du_km_supp_saisi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Quote_PrixKMSupp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ecran_TARIFER_USER_End</targetReference>
            </connector>
            <label>Non update km</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateKM</name>
        <label>UpdateKM?</label>
        <locationX>827</locationX>
        <locationY>808</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>UpdateKM_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Kilometrage_ToUpdate_VAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_QUOTE_KM</targetReference>
            </connector>
            <label>UpdateKM_YES</label>
        </rules>
        <rules>
            <name>UpdateKM_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Kilometrage_ToUpdate_VAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updates</targetReference>
            </connector>
            <label>UpdateKM_NO</label>
        </rules>
    </decisions>
    <description>Translated Version
Ecran (Statut 2,3,4)
GFC-469
GFC-481</description>
    <dynamicChoiceSets>
        <name>Durees_PicklistValues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Duree_de_location__c</picklistField>
        <picklistObject>Quote</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Flow_Display_Loyers</name>
        <dataType>String</dataType>
        <displayField>Flow_Display__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Devis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Tarification__c</object>
        <outputAssignments>
            <assignToReference>Tarification_selected.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TarifServices_liste</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Service_Tarification_liste__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FlowVar_Message_Statut234</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Message_Statut234}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_AteriferUser</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_AteriferUser}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_Bienvenue</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_Bienvenue}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_Bienvenue2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_Bienvenue2}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_DeroEnCours</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_DeroEnCours}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_DevisSTD</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_DevisSTD}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_DNPEncours</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_DNPEncours}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_Draft</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_Draft}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_DraftUser1</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_DraftUser1}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_DraftUser2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_DraftUser2}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_DraftUser3</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_DraftUser3}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_DraftUser4</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_DraftUser4}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_End</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_End}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_TarifTarification1</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_TarifTarification1}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_TarifTarification2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_TarifTarification2}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_TarifTarification3</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_TarifTarification3}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_TarifTarification4</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_TarifTarification4}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_TarifTarification5</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_TarifTarification5}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_TarifTarification6</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_TarifTarification6}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_Tarification_TarifTarification7</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_Tarification_TarifTarification7}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_TArification_TarifUser1</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_TArification_TarifUser1}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_TArification_TarifUser2</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_TArification_TarifUser2}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_TArification_TarifUser3</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_TArification_TarifUser3}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_TArification_TarifUser4</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_TArification_TarifUser4}</expression>
    </formulas>
    <formulas>
        <name>FlowVar_TArification_TarifUser5</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowVar_TArification_TarifUser5}</expression>
    </formulas>
    <formulas>
        <name>Label_RecordTypeId_QuoteStandard</name>
        <dataType>String</dataType>
        <expression>{!$Label.Quote_RecordTypeId_Standard}</expression>
    </formulas>
    <formulas>
        <name>Profile_ServiceTarification</name>
        <dataType>String</dataType>
        <expression>{!$Label.WFC_ServiceTarification}</expression>
    </formulas>
    <formulas>
        <name>User_ProfileID</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <interviewLabel>WFC Tarification II {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WFC Tarification II</label>
    <loops>
        <description>Boucle pour renseigner les RYFs</description>
        <name>Boucle_Tarifications</name>
        <label>Boucle Tarifications</label>
        <locationX>949</locationX>
        <locationY>1026</locationY>
        <assignNextValueToReference>Var_Tarif_RYFs</assignNextValueToReference>
        <collectionReference>THE_TARIFICATIONS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ecran_A_Tarifer_TARIFICATION_RYFS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Quote_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>updates</name>
        <label>updates</label>
        <locationX>834</locationX>
        <locationY>990</locationY>
        <assignNextValueToReference>TAR</assignNextValueToReference>
        <collectionReference>SelectedTarifications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Synchroniser_tarification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Prix_km_supp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_OPP</name>
        <label>GET OPP</label>
        <locationX>646</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>statut_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Q.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Tarifications</name>
        <label>GET Tarifications</label>
        <locationX>646</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ecran_TARIFER_USER</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Devis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Tarification__c</object>
        <outputReference>THE_TARIFICATIONS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Kilometrage__c</queriedFields>
        <queriedFields>Synchronise__c</queriedFields>
        <queriedFields>Duree__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Devis__c</queriedFields>
        <queriedFields>Loyer__c</queriedFields>
        <queriedFields>RYF__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Tarifications_0</name>
        <label>GET Tarifications</label>
        <locationX>949</locationX>
        <locationY>845</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_Tarifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Devis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Tarification__c</object>
        <outputReference>THE_TARIFICATIONS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Kilometrage__c</queriedFields>
        <queriedFields>Synchronise__c</queriedFields>
        <queriedFields>Duree__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Devis__c</queriedFields>
        <queriedFields>Loyer__c</queriedFields>
        <queriedFields>RYF__c</queriedFields>
        <queriedFields>Sans_delegation__c</queriedFields>
        <sortField>Duree__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetDERO</name>
        <label>GetDERO</label>
        <locationX>1222</locationX>
        <locationY>699</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ecran_DeroEnCours_00_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Devis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Derogation__c</object>
        <outputReference>DERO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Devis__c</queriedFields>
        <queriedFields>Opportunite__c</queriedFields>
        <queriedFields>Statut__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Q</name>
        <label>Q</label>
        <locationX>392</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Var_prix_km_supp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Synchroniser_tarification</name>
        <label>Synchroniser tarification</label>
        <locationX>622</locationX>
        <locationY>989</locationY>
        <connector>
            <targetReference>updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TAR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Synchronise__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Tarification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Devis_DRAFT_USER</name>
        <label>Update Devis (DRAFT+USER)</label>
        <locationX>487</locationX>
        <locationY>822</locationY>
        <connector>
            <targetReference>Ecran_TARIFER_USER_End_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Ecran_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Heure_Demande_de_tarification__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duree_de_location__c</field>
            <value>
                <elementReference>Durees_souhaites_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kilom_trage__c</field>
            <value>
                <elementReference>Kilometrage_souhaited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_tarification__c</field>
            <value>
                <elementReference>VAR_ServiceTarification_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>A Tarifer</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_every_tarification</name>
        <label>Update every tarification</label>
        <locationX>1083</locationX>
        <locationY>1129</locationY>
        <connector>
            <targetReference>Boucle_Tarifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Tarif_RYFs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RYF__c</field>
            <value>
                <elementReference>RYF_Tarif_VAR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sans_delegation__c</field>
            <value>
                <elementReference>Sans_delegation_applicable</elementReference>
            </value>
        </inputAssignments>
        <object>Tarification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Quote_0</name>
        <label>update Quote</label>
        <locationX>1299</locationX>
        <locationY>1015</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Divers__c</field>
            <value>
                <elementReference>Divers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAT_Caisse__c</field>
            <value>
                <elementReference>PAT_Caisse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAT_Chassis__c</field>
            <value>
                <elementReference>PAT_Chassis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAT_Groupe__c</field>
            <value>
                <elementReference>PAT_Groupe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAT_Hayon__c</field>
            <value>
                <elementReference>PAT_Hayon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prix_0_kms__c</field>
            <value>
                <elementReference>Prix_0_KM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prix_des_kms_inclus_les_100_kms__c</field>
            <value>
                <elementReference>Prix_Kms_inclus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prix_du_km_supplementaire_les_100_kms__c</field>
            <value>
                <elementReference>Prix_du_km_suppl_mentaire_les_100_kms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Tarifé</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_QUOTE_KM</name>
        <label>UPDATE QUOTE KM</label>
        <locationX>834</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>GET_Tarifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Kilom_trage__c</field>
            <value>
                <elementReference>Kilometrage_ToUpdate_VAR</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Prix_KM</name>
        <label>Update Quote Prix KM</label>
        <locationX>616</locationX>
        <locationY>1146</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prix_du_km_supplementaire_les_100_kms__c</field>
            <value>
                <elementReference>Prix_du_km_supp_saisi</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>DRAFT_USER_Before</name>
        <label>DRAFT_USER_Before</label>
        <locationX>457</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OPP_Statut_2_3_4</targetReference>
        </connector>
        <fields>
            <name>Rule20</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(60, 163, 231); font-size: 14px;&quot;&gt;{!FlowVar_Tarification_Bienvenue}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;﻿&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Tarification_blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>espace22</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtxtxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(60, 163, 231);&quot;&gt;{!FlowVar_Tarification_Bienvenue2}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rule19</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_A_Tarifer_TARIFICATION</name>
        <label>Ecran_A_Tarifer_TARIFICATION</label>
        <locationX>976</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_Tarifications_0</targetReference>
        </connector>
        <fields>
            <name>RuLE10</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_A_Tarifer_TARIFICATION_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(60, 163, 231);&quot;&gt;{!FlowVar_Tarification_TarifTarification3}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prix_0_KM</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.Prix_0_kms__c</elementReference>
            </defaultValue>
            <fieldText>Prix 0 KM</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Prix_Kms_inclus</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.Prix_des_kms_inclus_les_100_kms__c</elementReference>
            </defaultValue>
            <fieldText>Prix Kms inclus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Prix_du_km_suppl_mentaire_les_100_kms</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.Prix_du_km_supplementaire_les_100_kms__c</elementReference>
            </defaultValue>
            <fieldText>Prix du km supplémentaire les 100 kms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PAT_Chassis</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.PAT_Chassis__c</elementReference>
            </defaultValue>
            <fieldText>PAT (Chassis)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PAT_Caisse</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.PAT_Caisse__c</elementReference>
            </defaultValue>
            <fieldText>PAT (Caisse)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PAT_Groupe</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.PAT_Groupe__c</elementReference>
            </defaultValue>
            <fieldText>PAT (Groupe)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>PAT_Hayon</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.PAT_Hayon__c</elementReference>
            </defaultValue>
            <fieldText>PAT (Hayon)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Divers</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.Divers__c</elementReference>
            </defaultValue>
            <fieldText>Divers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>rule11</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(60, 163, 231);&quot;&gt;{!FlowVar_Tarification_TarifTarification4}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_A_Tarifer_TARIFICATION_RYFS</name>
        <label>Ecran_A_Tarifer_TARIFICATION_RYFS</label>
        <locationX>955</locationX>
        <locationY>1230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_every_tarification</targetReference>
        </connector>
        <fields>
            <name>rule12</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>grey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TarifInfos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(127, 116, 116);&quot;&gt;{!FlowVar_Tarification_TarifTarification5}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(127, 116, 116);&quot;&gt;{!FlowVar_Tarification_TarifTarification6} &lt;/span&gt;&lt;b style=&quot;color: rgb(127, 116, 116);&quot;&gt;{!Var_Tarif_RYFs.Kilometrage__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(127, 116, 116); background-color: rgb(255, 255, 255);&quot;&gt;{!FlowVar_Tarification_TarifTarification7} &lt;/span&gt;&lt;b style=&quot;color: rgb(127, 116, 116);&quot;&gt;{!Var_Tarif_RYFs.Duree__c}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RYF_Tarif_VAR</name>
            <dataType>Number</dataType>
            <fieldText>RYF(%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Sans_delegation_applicable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Sans délégation applicable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule13</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>grey</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_A_TArifer_USER_00</name>
        <label>Ecran_A_TArifer_USER</label>
        <locationX>1710</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rule8_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Orange</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 178, 40); background-color: rgba(235, 236, 240, 0.357); font-size: 14px;&quot;&gt;{!FlowVar_Tarification_AteriferUser}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image7_0_0_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Attente_Yellow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>texteenattente</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 178, 40); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Statut : {!Q.Statut_de_la_demande__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>espace222</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>orange</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_ATARIFER_Tarification</name>
        <label>Ecran_ATARIFER_Tarification</label>
        <locationX>975</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ecran_A_Tarifer_TARIFICATION</targetReference>
        </connector>
        <fields>
            <name>rule8_0_0_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgba(235, 236, 240, 0.357); color: rgb(60, 163, 231);&quot;&gt;{!FlowVar_Tarification_TarifTarification1}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image7_0_0_0_0_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Style_blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7_0_0_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt2_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgba(235, 236, 240, 0.23); font-size: 14px; color: rgb(60, 163, 231);&quot;&gt;{!FlowVar_Tarification_TarifTarification2}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_DeroEnCours_00</name>
        <label>Ecran_DNP_ENCOURS</label>
        <locationX>1101</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rule8_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(153, 12, 12);&quot;&gt;{!FlowVar_Tarification_DNPEncours}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image7_0_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_RedFlag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_DeroEnCours_00_0</name>
        <label>Ecran_DeroEnCours_0</label>
        <locationX>1459</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rule8_0_0_0_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(202, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;{!FlowVar_Tarification_DeroEnCours}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image7_0_0_0_0_0_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_RedFlag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>espace33</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7_0_0_0_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>Red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_devis_standard</name>
        <label>Ecran_devis_standard</label>
        <locationX>1636</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rule8_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgba(235, 236, 240, 0.357); color: rgb(179, 23, 33);&quot;&gt;{!FlowVar_Tarification_DevisSTD}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image7_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_RedFlag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Draft_Tarification_00</name>
        <label>Ecran_Draft_Tarification</label>
        <locationX>1668</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rule8_0_0_0_0_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(228, 0, 0); background-color: rgba(235, 236, 240, 0.357); font-size: 14px;&quot;&gt;{!FlowVar_Tarification_Draft}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image7_0_0_0_0_0_0_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Edit_RED</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>65</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>65</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7_0_0_0_0_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Draft_Userr</name>
        <label>Ecran_Draft_User</label>
        <locationX>487</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Devis_DRAFT_USER</targetReference>
        </connector>
        <fields>
            <name>rule15</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Texte_Draft_USER</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!FlowVar_Tarification_DraftUser1}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Kilometrage_souhaited</name>
            <dataType>Number</dataType>
            <fieldText>Kilométrage souhaité</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Durees_souhaites_Entry</name>
            <choiceReferences>Durees_PicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Durées souhaités</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Maintenir enfoncé la touche &quot;Ctrl&quot; pour sélectionner plusieurs valeurs&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule18</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TEXT10</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!FlowVar_Tarification_DraftUser2}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceTarification</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service tarification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Service_tarification__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_ServiceTarification_ID</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>rule17</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Err</name>
        <label>Ecran_Err</label>
        <locationX>310</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Icon_Stop</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Stop</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Texte_ERR</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_Err_0</name>
        <label>Ecran_Err_Statut234</label>
        <locationX>287</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Icon_Stop_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Stop</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Texte_ERR_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!FlowVar_Message_Statut234}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_TARIFER_Tarification_00</name>
        <label>Ecran_TARIFER_Tarification</label>
        <locationX>1518</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rule8_0_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(55, 121, 60);&quot;&gt;{!FlowVar_Tarification_End}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image7_0_0_0_0_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Confirmation_Green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>65</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>65</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7_0_0_0_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_TARIFER_USER</name>
        <label>Ecran_TARIFER_USER</label>
        <locationX>645</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateKM</targetReference>
        </connector>
        <fields>
            <name>rule0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!FlowVar_TArification_TarifUser3}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>datatable</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom1</name>
                <value>
                    <elementReference>THE_TARIFICATIONS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Kilometrage__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Kilométrage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Duree__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Durée de location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Loyer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Loyer mensuel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Synchronisé</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_type</name>
                <value>
                    <stringValue>boolean</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Synchronise__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_align</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>standard:quotes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_align</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_align</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_align</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_align</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedTarifications</assignToReference>
                <name>selectedRows_custom1</name>
            </outputParameters>
        </fields>
        <fields>
            <name>spacebar22</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Prix_du_km_supp_saisi</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Q.Prix_du_km_supplementaire_les_100_kms__c</elementReference>
            </defaultValue>
            <fieldText>Prix du km supplémentaire les 100 kms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Vous devez renseigner une valeur supérieur au prix renseigné par le service tarification ({!VAR_Quote_PrixKMSupp})&lt;/p&gt;</errorMessage>
                <formulaExpression>if
(
{!VAR_Quote_PrixKMSupp}&lt;={!Prix_du_km_supp_saisi}
,
true
,
false)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space123</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule6</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Checkbox_Update_KM</name>
            <dataType>Boolean</dataType>
            <fieldText>Modifier le kilométrage ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space11</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Kilometrage_ToUpdate_VAR</name>
            <dataType>Number</dataType>
            <fieldText>Nouveau Kilométrage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Checkbox_Update_KM</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>spacebar</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ruler987</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_TARIFER_USER_End</name>
        <label>Ecran_TARIFER_USER_End</label>
        <locationX>809</locationX>
        <locationY>1376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rule888</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(21, 127, 26);&quot;&gt;{!FlowVar_TArification_TarifUser4}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space555</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Image7</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Confirmation_Green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule8888</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(21, 127, 26);&quot;&gt;{!FlowVar_TArification_TarifUser5}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ecran_TARIFER_USER_End_0</name>
        <label>Ecran_DRAFT_USER_End</label>
        <locationX>486</locationX>
        <locationY>1089</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>rule8_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_TARIFER_USER_End_Text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(60, 163, 231);&quot;&gt;{!FlowVar_Tarification_DraftUser3}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image7_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_send_blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>espace2</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule7_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txt2_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(60, 163, 231);&quot;&gt;{!FlowVar_Tarification_DraftUser4}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TARIFER_USER_BEFORE</name>
        <label>TARIFER_USER_BEFORE</label>
        <locationX>748</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_Tarifications</targetReference>
        </connector>
        <fields>
            <name>space01</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text1_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: tahoma; color: rgb(60, 163, 231);&quot;&gt;{!FlowVar_TArification_TarifUser1}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space02</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Image1_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Icon_Style_blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>85</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ruleruleii</name>
            <extensionName>c:multiShimFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lineCount</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>rule4</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#3CA3E7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txttxtx</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(60, 163, 231); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!FlowVar_TArification_TarifUser2}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Q</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DERO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Derogation__c</objectType>
    </variables>
    <variables>
        <name>DNP_Statut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Tarification_selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NULL_VAR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OPP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SelectedTarification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tarification__c</objectType>
    </variables>
    <variables>
        <name>SelectedTarifications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tarification__c</objectType>
    </variables>
    <variables>
        <name>TAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tarification__c</objectType>
    </variables>
    <variables>
        <name>Tarification_selected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tarification__c</objectType>
    </variables>
    <variables>
        <name>THE_TARIFICATIONS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tarification__c</objectType>
    </variables>
    <variables>
        <name>THEQUOTE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>VAR_Quote_PrixKMSupp</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VAR_ServiceTarification_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00520000005wgnRAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Tarif_RYFs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tarification__c</objectType>
    </variables>
    <variables>
        <name>VAR_Toggle_Demande_tarification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
