unpackaged/main/default/flows/WFC_Desynchroniser_derogations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>desync</name>
        <label>desync</label>
        <locationX>935</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>Dero.Synchronise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <description>Desynchroniser les autres derogations si une dérogation est synchronisée</description>
    <interviewLabel>WFC_Desync_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WFC_Desynchroniser_derogations</label>
    <loops>
        <name>Boucle_Desync</name>
        <label>Boucle Desync</label>
        <locationX>579</locationX>
        <locationY>58</locationY>
        <assignNextValueToReference>Dero</assignNextValueToReference>
        <collectionReference>LesDEROS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>desync</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Deros</name>
        <label>Deros</label>
        <locationX>287</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_Desync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Opp</elementReference>
            </value>
        </filters>
        <object>Derogation__c</object>
        <outputReference>LesDEROS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Synchronise__c</queriedFields>
        <queriedFields>Opportunite__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>770</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Boucle_Desync</targetReference>
        </connector>
        <inputReference>Dero</inputReference>
    </recordUpdates>
    <startElementReference>Deros</startElementReference>
    <status>Active</status>
    <variables>
        <name>Dero</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Derogation__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id_Opp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LesDEROS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Derogation__c</objectType>
    </variables>
</Flow>
